.note-editor {
    width: 100%;
}

/* Change summernote link dialog checkboxes */
.link-dialog .form-check-input {
    margin-left: -3rem;
}

/* Remove ugly shadows around every button */
.note-editor .btn.note-btn.btn-light {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Set font of paragraphs to a more readable font than Augusta */
.note-editor * {
    font-family: "Linux Libertine", serif;
}

.note-editor h1, .note-editor h2, .note-editor h3, .note-editor h4, .note-editor h5, .note-editor h6 {
    font-family: "Augusta", "Linux Libertine", serif;
}
