/* Fix mdbootstrap that activates the icon when value attribute is set at loading */
.md-form .input-prefix.active {
    color: black;
}

/* Fix mdbootstrap with prefixes that overlap with labels by shifting the latter */
.input-with-pre-icon label:not(.active) {
    left: 3em;
}

/* Remove capital letters for buttons */
.btn {
    text-transform: none;
}

.clickable {
    cursor: pointer;
}

/* Makes means readable */
input {
    min-width: 5em;
}

/* Prevent the trash drop zone to display the item about to be trashed in a list */
.remove-drop {
    display: none;
}

/* Change thickness of bootstrap borders */
.border-heavy {
    border: 3px solid #dee2e6 !important;
}
