/* Roll table */
.talent-select {
    min-width: 300px;
}

.roll-formula {
    min-width: 220px;
}

.dual_wielding-formula {
    min-width: 220px;
}

.roll-effect {
    min-width: 500px;
}

#roll-dialog-modifier-slider .slider-selection {
    background: black;
}

#roll-dialog-modifier-slider .slider-handle {
    background: black;
}

#roll-dialog-effect-modifier-slider .slider-selection {
    background: black;
}

#roll-dialog-effect-modifier-slider .slider-handle {
    background: black;
}

/* Mark body parts as buttons */
.clickable.btn-link.roll-link:hover {
    color: #1266F1;
}
