/* Spell table */

.spell-formula {
    min-width: 15em;
}

.spell-value-row {
    min-width: 4.5em;
}

.spell-difficulty .slider-selection {
    background: black;
    z-index: 1; /* Prevent checkboxes to overlap with it */
}

.spell-difficulty .slider-handle {
    background: black;
    z-index: 1; /* Prevent checkboxes to overlap with it */
}

#magic-tab .spell-difficulty {
    min-width: 15em;
}

@media only screen and (min-width: 768px) {
    /* >= md screen */

    .spell-name {
        min-width: 15em;
    }

    #magic-tab .talent-select {
        min-width: 300px;
    }

    .spell-list {
        min-width: 10em;
    }

    .spell-effect, .focusMagic-effect, .rune-meaning {
        min-width: 300px;
    }

    .focusMagic-name, .focusMagic-focus {
        min-width: 15em;
    }
}
