/* Spell table */
.spell-name {
    min-width: 15em;
}

.spell-list {
    min-width: 10em;
}

.spell-effect {
    min-width: 300px;
}

.spell-formula {
    min-width: 15em;
}

.spell-value-row {
    min-width: 4.5em;
}

.spell-difficulty .slider-selection {
    background: black;
    z-index: 1; /* Prevent checkboxes to overlap with it */
}

.spell-difficulty .slider-handle {
    background: black;
    z-index: 1; /* Prevent checkboxes to overlap with it */
}
