.superpower-value {
    min-width: 8em;
}

.superpower-formula {
    min-width: 7.5em;
}

.superpower-effect {
    min-width: 300px;
}

#roll-dialog-superpower-modifier-slider .slider-selection {
    background: black;
}

#roll-dialog-superpower-modifier-slider .slider-handle {
    background: black;
}
