<div class="container">
    <div class="modal fade bd-modal-lg" id="about-sheet" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="font-family: 'Linux Libertine', serif">
                <div class="modal-header justify-content-between">
                    <button type="button" class="hidden close" data-dismiss="modal" aria-label="Close">
                    </button>
                    <h4 class="modal-title text-center">À propos de votre fiche de personnage dynamique</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body align-middle">
                    <p class="mx-1">
                        Si jamais vous rencontrez un problème ou souhaitez faire une suggestion,
                        n'hésitez pas à en parler "<a
                            href="https://github.com/jadinm/simulacres-dynamic-sheet/issues/new">en créant une issue</a>".
                    </p>
                    <p class="mx-1 align-middle">
                        S'il s'agit d'un problème, attachez votre fiche ou mentionnez au minimum
                        les informations présentes ci-dessous ainsi que les étapes pour reproduire votre problème.
                    </p>
                    <p class="mx-1 align-middle hide-without-plugin d-none">
                        Si vous souhaitez supprimer un plugin, cliquez sur le bouton "Supprimer" en vis-à-vis
                        du plugin que vous souhaitez enlever.
                    </p>
                    <hr/>

                    <!-- Software info -->
                    <div class="row mx-1 align-middle">
                        <h5>Version:&nbsp;</h5>{{ tag_version }}
                    </div>
                    <div class="row mx-1 align-middle">
                        <h5>Options de compilation</h5>
                    </div>
                    {% for key, value in compilation_args.items() %}
                        {% if key != "output_html" and key != "plugin" and key != "verbose" %}
                            <div class="row mx-2">
                                <b>{{ key }}:&nbsp;</b>{{ value }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <hr class="hide-without-plugin d-none"/>
                    <div class="row mx-1 align-middle hide-without-plugin d-none">
                        <h5>Liste des plugins</h5>
                    </div>

                    <!-- List of plugins -->
                    <div class="row mx-2 hide-without-plugin d-none">
                        <ul id="about-sheet-plugins" class="list-group-flush col-12">
                            <li class="list-group-item align-items-center py-1 my-0 d-none">
                                <div class="d-flex align-items-center my-0 py-0"></div>
                                <a class="btn btn-success ml-auto my-0 py-2 plugin-update" target="_blank">
                                    Mettre à jour&nbsp;<i class="fa-solid fa-angles-up"></i>
                                </a>
                                <button class="btn btn-danger my-0 py-2 plugin-remove">
                                    Supprimer&nbsp;<i class="fa-solid fa-trash-can"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
