<div id="adventure-points-tab" class="tab-pane fade row container-fluid m-0 pt-2">
    <!-- Adventure points total -->
    <div class="row col-12 form-row md-form p-0 m-0">
        <div class="col-12">
            {% if intermediate_discovery %}
                <label for="adventure-points">Nombre de PA reçus</label>
            {% else %}
                <label for="adventure-points">Nombre total de PA reçus (création comprise)</label>
            {% endif %}
            <input class="form-control adventure-points-setting" id="adventure-points" type="number" value="0"
                   min="0">
        </div>
    </div>
    {% if intermediate_discovery %}
        <div class="row mt-2 justify-content-center">
            <div id="investment-table"
                 class="table-responsive-xl card shadow-none border border-heavy rounded-lg row col-xl-4 col-md-6 col-sm-8 col-12 m-0 p-0">
                <table class="table table-bordered table-striped table-hover m-0 p-0">
                    <thead class="thead-dark">
                    <tr class="my-0 py-0 align-middle">
                        <th scope="col" class="my-0 py-0 align-middle" style="width: 60%">
                            <h5 class="m-0 p-0"><b>Augmentation</b></h5>
                        </th>
                        <th scope="col" class="text-center my-0 py-0 align-middle" style="width: 15%">
                            <h5 class="m-0 p-0"><b>PA</b></h5>
                        </th>
                        <th scope="col" class="text-center my-0 py-0 align-middle" style="width: 25%">
                            <h5 class="m-0 p-0"><b>Max</b></h5>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-primary">
                        <td class="my-0 py-0 align-middle" colspan=3>
                            <h5 class="m-0 p-0">Aptitudes, Talents et Spécialités</h5>
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            Nouvelle Aptitude (0)
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            3
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            -
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            Nouveau Talent (+1)
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            8
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            6 talents
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            Spécialité +1&nbsp;<i class="fas fa-long-arrow-alt-right fa-sm"></i>&nbsp;+2
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            35
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            1
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle" data-toggle="tooltip" data-placement="left"
                            title="Le passage d’une Spécialité de +2 à +3 demande une longue pratique et/ou un maître.">
                            Spécialité +2&nbsp;<i class="fas fa-long-arrow-alt-right fa-sm"></i>&nbsp;+3
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            45
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            1
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <td class="my-0 py-0 align-middle" colspan=3>
                            <h5 class="m-0 p-0">Talents</h5>
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            0&nbsp;<i class="fas fa-long-arrow-alt-right fa-sm"></i>&nbsp;+1
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            6
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            -
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            +1&nbsp;<i class="fas fa-long-arrow-alt-right fa-sm"></i>&nbsp;+2
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            20
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            -
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle" data-toggle="tooltip" data-placement="left"
                            title="Le passage d’un Talent de +2 à +3 demande une longue pratique et/ou un maître.">
                            +2&nbsp;<i class="fas fa-long-arrow-alt-right fa-sm"></i>&nbsp;+3
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            25
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            -
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <td class="my-0 py-0 align-middle" colspan=3>
                            <h5 class="m-0 p-0">Caractéristiques</h5>
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            Composante +1
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            14 (20)
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center" data-toggle="tooltip"
                            data-placement="right"
                            title="La dépense est plus importante pour passer une Composante de 5 à 6 que de 3 à 4 ou de 4 à 5.">
                            5 (6)
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            Moyen +1
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            10
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            4
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            Cible +1
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            4
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            1
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            PV +1
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            10
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            7
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            PS +1
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            6
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            7
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            EP +1
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            15
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            7
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <td class="my-0 py-0 align-middle" colspan=3>
                            <h5 class="m-0 p-0">Énergies de base et extraordinaires (Héroïsme et Magies)</h5>
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            De base 0&nbsp;<i class="fas fa-long-arrow-alt-right fa-sm"></i>&nbsp;1
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            5
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            Toutes
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            De base 1&nbsp;<i class="fas fa-long-arrow-alt-right fa-sm"></i>&nbsp;2
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            10
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            Toutes
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle" data-toggle="tooltip" data-placement="left"
                            title="Le passage d’une Énergie magique de 2 à 3 est souvent soumis à un rite initiatique en plus de la dépense de PA.">
                            De base 2&nbsp;<i class="fas fa-long-arrow-alt-right fa-sm"></i>&nbsp;3
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            25
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            Toutes
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            Extraordinaire 0&nbsp;<i class="fas fa-long-arrow-alt-right fa-sm"></i>&nbsp;1
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            10
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            Toutes
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle">
                            Extraordinaire 1&nbsp;<i class="fas fa-long-arrow-alt-right fa-sm"></i>&nbsp;2
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            25
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            Toutes
                        </td>
                    </tr>
                    <tr>
                        <td class="md-form my-0 py-0 align-middle" data-toggle="tooltip" data-placement="left"
                            title="Le passage d’une Énergie magique de 2 à 3 est souvent soumis à un rite initiatique en plus de la dépense de PA.">
                            Extraordinaire 2&nbsp;<i class="fas fa-long-arrow-alt-right fa-sm"></i>&nbsp;3
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            35
                        </td>
                        <td class="md-form my-0 py-0 align-middle text-center">
                            Avis de la MJ
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="row col-12 mt-2 px-0 mx-0">
            Le MD peut accorder des réductions sur le coût des compétences.
            La somme des PAs sauvés par ce moyen peut être inscrite ci-dessous:
        </div>
        <div class="row col-12 form-row mt-2 md-form p-0 m-0">
            <div class="col-12">
                <label for="adventure-points-discount">Réductions sur le coût des compétences</label>
                <input class="form-control adventure-points-setting" id="adventure-points-discount" type="number"
                       value="0" min="0">
            </div>
        </div>

        <div class="row col-12 mt-2 px-0 mx-0">
            <h3>Paramètres pour la dépense de PAs</h3>
        </div>
        {% if version == V7 %}
            <div class="row col-12 mt-2 px-0 mx-0">
                Les talents originellement de niveau X nécessitent 6 PA au lieu de 5 pour passer au niveau 0
                s'ils ne sont pas monté en une fois à ce niveau 0.
                Par défaut, on considère que tous les talents originellement de niveau X et à présent de niveau 0 à 3
                ont été montés d'un seul coup. Sélectionnez ci-dessous les talents qui pour lesquels ce n'est pas le
                cas.
            </div>
            <div class="row col-12 md-form pl-0 pr-2 mx-0">
                <select class="show-tick form-control talent-select selectpicker adventure-points-select"
                        data-live-search="true" id="talents-inefficient-raise" data-style="col-12 align-middle" multiple
                        title="Talents X qui n'ont pas été montés à 0 en une fois" data-talent-filter-origin-level="x">
                </select>
            </div>
        {% endif %}
        <div class="row col-12 mt-2 px-0 mx-0">
            Le contenu suivant ne doit être encodé qu'une seule fois.
            Au début de la campagne, il est possible de faire certaines actions qui diminuent ou augmentent
            les coûts en PA.
        </div>
        {% if version == V7 %}
            <div class="row col-12 mt-2 px-0 mx-0">
                Les règnes et les énergies classiques peuvent être montés à 2 à la création en utilisant
                les 8 points d'énergie et de règne initiaux.
                Cela fait économiser 5 PA car passer au niveau 2 demande 10 PA au lieu de 5.
                En revanche, ce n'est pas possible pour les énergies magiques ou spéciales qui ne peuvent être
                montées qu'à 1, à la création.
            </div>
        {% else %}
            <div class="row col-12 mt-2 px-0 mx-0">
                Les énergies classiques peuvent être montés à 2 à la création en utilisant
                les 4 points d'énergie initiaux.
                Cela fait économiser 5 PA car passer au niveau 2 demande 10 PA au lieu de 5.
                En revanche, ce n'est pas possible pour l'héroïsme, les énergies magiques ou spéciales qui ne peuvent
                être montées qu'à 1, à la création.
            </div>
        {% endif %}
        <div class="row col-12 form-row mt-2 md-form p-0 m-0">
            <select id="energies-started-level-2"
                    class="show-tick form-control realm-energy-select selectpicker adventure-points-select"
                    data-live-search="true" data-style="col-12 align-middle"
                    {% if version == V7 %}
                    title="Règnes et énergies classiques montés à 2 à la création"
                    {% else %}
                    title="Énergies classiques montées à 2 à la création"
                    {% endif %}
                    data-filter-current-level="2,3" multiple>
            </select>
        </div>
        {% if version == V8 %}
            <div class="row col-12 mt-2 px-0 mx-0">
                Les énergies spéciales telles que l'héroïsme et les énergies magiques peuvent être montées à 1 à la
                création
                en utilisant les 4 points d'énergie initiaux.
                Cela fait économiser 5 PA car passer une énergie spéciale au niveau 1 demande 10PA au lieu de 5 pour une
                énergie classique.
            </div>
            <div class="row col-12 form-row mt-2 md-form p-0 m-0">
                <select id="special-energies-started-level-1"
                        class="show-tick form-control special-energy-select selectpicker adventure-points-select"
                        data-live-search="true" data-style="col-12 align-middle"
                        title="Énergies spéciales montées à 1 à la création"
                        data-filter-current-level="1,2,3" multiple>
                </select>
            </div>
            <div class="row col-12 mt-2 px-0 mx-0">
                Les composantes peuvent être montées à 6 à la création en utilisant les 13 points initiaux.
                Cela fait économiser 6 PA car passer de 5 à 6 demande 20 PA au lieu de 14.
            </div>
            <div class="row col-12 form-row mt-2 md-form p-0 m-0">
                <select id="components-started-level-6"
                        class="show-tick form-control component-select selectpicker adventure-points-select"
                        data-live-search="true" data-style="align-middle col-12"
                        title="Composantes montées à 6 à la création"
                        data-filter-current-level="6" multiple>
                </select>
            </div>
        {% endif %}
        {% if version == V7 %}
            <div class="row col-12 mt-2 px-0 mx-0">
                Le métier sélectionné par le joueur donne accès à certains talents dits "de métier" qui sont montés à 0
                lors de la création du personnage et l'un d'entre eux est monté à 1. Le tout sans dépenser de PA.
            </div>
            <div class="row col-12 mt-2 px-0 mx-0">
                Sélectionnez le talent de métier qui a été monté à 1 à la création
            </div>
            <div class="row col-12 md-form pl-0 pr-2 mx-0">
                <select class="show-tick form-control talent-select selectpicker adventure-points-select"
                        data-live-search="true" id="work-main-talent" data-style="col-12 align-middle"
                        title="Talent de métier monté à 1 à la création">
                </select>
            </div>
        {% else %}
            <div class="row col-12 mt-2">
                Le métier sélectionné par le joueur donne accès à certains talents dits "de métier" qui sont montés
                à 0
                lors de la création du personnage et d'autres sont montés à 1. Le tout sans dépenser de PA.
            </div>
            <div class="row col-12 mt-2 px-0 mx-0">
                Sélectionnez les talents de métier qui ont été montés à 1 à la création
            </div>
            <div class="row col-12 md-form pl-0 pr-2 mx-0">
                <select class="show-tick form-control talent-select selectpicker adventure-points-select"
                        data-live-search="true" id="work-main-talent" data-style="col-12 align-middle" multiple
                        title="Talents de métier montés à 1 à la création">
                </select>
            </div>
        {% endif %}
        <div class="row col-12 mt-2 px-0 mx-0">
            Sélectionnez les autres talents de métier qui ont été montés à 0 à la création
        </div>
        <div class="row col-12 md-form pl-0 pr-2 mx-0">
            <select class="show-tick form-control talent-select selectpicker adventure-points-select"
                    data-live-search="true" id="work-talents" data-style="col-12 align-middle" multiple
                    title="Talents de métier montés à 0 à la création">
            </select>
        </div>
        {% if version == V7 %}
            <div class="row col-12 mt-2 px-0 mx-0">
                Il y a également des talents conseillés pour chaque métier. Les prendre à la création du personnage
                réduit de 1 le coût de ceux-ci.
            </div>
            <div class="row col-12 md-form pl-0 pr-2 mx-0">
                <label for="advised-talents" class="text-truncate"></label>
                <select class="show-tick form-control talent-select selectpicker adventure-points-select"
                        data-live-search="true" id="advised-talents" data-style="col-12 align-middle" multiple
                        title="Talents conseillés pris à la création">
                </select>
            </div>

            <div class="row col-12 mt-2 px-0 mx-0"><h4>Mages uniquement</h4></div>
            <div class="row col-12 mt-2 px-0 mx-0">
                En début de campagne et uniquement au début, les mages peuvent décider de dépenser des PA pour augmenter
                le niveau initial des sorts qu'ils ont. Normalement un tel sort est d'office à -4 et s'entraine
                par la pratique, mais ils peuvent décider au début de monter cette valeur directement à -2 ou à 0
                pour le même prix qu'un talent. Le sort étant considéré comme un talent X, pour le passer à -2,
                cela coûte 3 PA et pour le passer à 0, cela coûte 5 PA.
            </div>
            <div class="row col-12 form-row mt-2 md-form p-0 m-0">
                <select id="spells-started-level-2"
                        class="show-tick form-control spell-select selectpicker adventure-points-select col-sm-6 col-12"
                        data-live-search="true" data-style="align-middle"
                        title="Sorts montés à -2 à la création"
                        data-filter-current-level="-2,-1,0,1,2"
                        data-filter-out-list="Divin,Magie instinctive,Hermétique" multiple>
                </select>
                <select id="spells-started-level-0"
                        class="show-tick form-control spell-select selectpicker adventure-points-select col-sm-6 col-12"
                        data-live-search="true" data-style="align-middle"
                        title="Sorts montés à 0 à la création"
                        data-filter-current-level="0,1,2"
                        data-filter-out-list="Divin,Magie instinctive,Hermétique" multiple>
                </select>
            </div>
            <div class="row col-12 mt-2 px-0 mx-0">
                Les mages utilisant les énergies du Bien, du Mal et de la Nature ont le droit
                d'avoir un sort gratuitement à chaque fois qu'ils montent une de ces énergies.
                Le niveau du sort doit être inférieur ou égal au niveau de l'énergie.
            </div>
            <div class="row col-12 form-row mt-2 md-form p-0 m-0">
                <select id="spells-free-good-nature-evil"
                        class="show-tick form-control spell-select selectpicker adventure-points-select col-12"
                        data-live-search="true" data-style="align-middle"
                        title="Sorts obtenus en montant les énergies du Bien, du Mal et de la Nature"
                        data-filter-list="Bien,Nature,Mal" data-no-realm-id="true" multiple>
                </select>
            </div>
        {% endif %}
    {% endif %}
</div>
