<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>SimulacreS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>{{ include_static("../node_modules/bootstrap/dist/css/bootstrap.min.css") }}</style>
    <style>{{ include_static("../node_modules/mdbootstrap/css/mdb.min.css") }}</style>
    <style>{{ include_static("../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css") }}</style>
    <style>{{ include_static("../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css") }}</style>
    <style>{{ include_static("../node_modules/@fortawesome/fontawesome-free/css/all.min.css") }}</style>
    <style>{{ include_static("../node_modules/summernote/dist/summernote-bs4.min.css") }}</style>

    <!-- Custom styles -->
    <style>
        /* Set the font (must be here because of the relative path to the font */
        body {
            font-family: Augusta, "Linux Libertine", serif;
        }

        @font-face {
            font-family: Augusta;
            src: url("data:application/truetype;charset=utf-8;base64,{{ augusta_font }}") format("truetype");
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: "Linux Libertine";
            src: url("data:application/truetype;charset=utf-8;base64,{{ linux_libertine_font }}") format("truetype");
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <style>{{ include_static("../css/base.css") }}</style>
    <style>{{ include_static("../css/status.css") }}</style>
    {% if localisation %}
        <style>{{ include_static("../css/localized_hp.css") }}</style>
    {% endif %}
    <style>{{ include_static("../css/talent.css") }}</style>
    <style>{{ include_static("../css/spells.css") }}</style>
    <style>{{ include_static("../css/rolls.css") }}</style>
    <style>{{ include_static("../css/background.css") }}</style>
    <style>{{ include_static("../css/notes.css") }}</style>

    <script>{{ include_static("../node_modules/jquery/dist/jquery.min.js") }}</script>
    <script>{{ include_static("../node_modules/popper.js/dist/umd/popper.min.js") }}</script>
    <script>{{ include_static("../node_modules/popper.js/dist/umd/popper-utils.min.js") }}</script>
    <script>{{ include_static("../node_modules/bootstrap/dist/js/bootstrap.min.js") }}</script>
    <script>{{ include_static("../node_modules/mdbootstrap/js/mdb.min.js") }}</script>
    <script>{{ include_static("../node_modules/bootstrap-slider/dist/bootstrap-slider.min.js") }}</script>
    <script>{{ include_static("../node_modules/bootstrap-select/dist/js/bootstrap-select.min.js") }}</script>
    <script>{{ include_static("../node_modules/file-saver/dist/FileSaver.min.js") }}</script>
    <script>{{ include_static("../node_modules/sortablejs/dist/sortable.umd.js") }}</script>
    <script>{{ include_static("../node_modules/jquery-sortablejs/jquery-sortable.js") }}</script>
    <script>{{ include_static("../node_modules/@fortawesome/fontawesome-free/js/all.min.js") }}</script>
    <script>{{ include_static("../node_modules/summernote/dist/summernote-bs4.min.js") }}</script>
    <script>{{ include_static("../node_modules/summernote/dist/lang/summernote-fr-FR.min.js") }}</script>
    <script>{{ include_static("../node_modules/darkreader/darkreader.js") }}</script>
</head>

<body>

<div class="container-fluid main-container px-4">
    <!-- Logo -->
    <div class="row align-middle justify-content-between">
        <div class="col-md-1 col-2"></div>
        <h1 class="mt-1 text-center">
            <svg height="1.5em" width="7em" class="input-prefix" data-toggle="tooltip" data-html="true"
                 data-placement="bottom"
                 title="Simulacres©™ - le jeu de rôle élémentaire a été créé par Pierre Rosenthal. Les règles de Simulacres © sont soumises à copyright et Simulacres™ est une marque déposée.">
                <use xlink:href="#svg-simulacres"></use>
            </svg>
        </h1>
        <div class="col-md-1 col-2 justify-content-center align-middle zero-clipboard">
            <div id="dark-mode" class="btn btn-dark rounded-lg col-12 px-0 mx-0"><i class="fas fa-moon"></i></div>
            <div id="light-mode" class="btn btn-light rounded-lg col-12 d-none px-0 mx-0"><i class="fas fa-sun"></i>
            </div>
        </div>
    </div>

    <!-- Basic information -->
    {% include "bio.html" %}

    <!-- Components, means, realms and energies -->
    {% include "base_stats.html" %}

    <div class="border border-heavy rounded-lg pb-2">
        <ul id="nav-tabs" class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#status-tab" role="tab" aria-controls="home"
                   aria-selected="true">
                    Status
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#roll-tab" role="tab" aria-controls="profile"
                   aria-selected="false">
                    Jets
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#talent-tab" role="tab" aria-controls="profile"
                   aria-selected="false">
                    Talents
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#equipment-tab" role="tab" aria-controls="profile"
                   aria-selected="false">
                    Équipement
                </a>
            </li>
            {% if universe == med_fantasy %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#magic-tab" role="tab" aria-controls="profile"
                       aria-selected="false">
                        Magie
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ki-tab" role="tab" aria-controls="profile"
                       aria-selected="false">
                        Ki
                    </a>
                </li>
            {% elif universe == captain_voodoo %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#magic-tab" role="tab" aria-controls="profile"
                       aria-selected="false">
                        Magie
                    </a>
                </li>
            {% elif version == V7 %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#magic-tab" role="tab" aria-controls="profile"
                       aria-selected="false">
                        Sorts
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#adventure-points-tab" role="tab" aria-controls="profile"
                   aria-selected="false">
                    PA
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#background-tab" role="tab" aria-controls="profile"
                   aria-selected="false">
                    Historique
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#notes-tab" role="tab" aria-controls="profile"
                   aria-selected="false">
                    Notes
                </a>
            </li>
        </ul>

        <div id="tabs" class="container-fluid tab-content px-2 pt-1">
            <!-- Status tab -->
            {% if localisation %}
                {% include "localized_status_tab.html" %}
            {% else %}
                {% include "status_tab.html" %}
            {% endif %}

            <!-- Quick rolls -->
            {% include "roll_tab.html" %}

            <!-- Talents -->
            {% include "talent_tab.html" %}

            <!-- Equipment -->
            {% include "equipment_tab.html" %}

            {% if universe == med_fantasy %}
                <!-- Magic -->
                {% include "magic_tab.html" %}

                <!-- Ki board -->
                {% include "ki_tab.html" %}
            {% elif universe == captain_voodoo %}
                <!-- Magic -->
                {% include "magic_tab.html" %}
            {% elif version == V7 %}
                <!-- Magic (for spell list) -->
                {% include "magic_tab.html" %}
            {% endif %}

            <!-- Adventure Point Tracking -->
            {% include "adventure_points.html" %}

            <!-- Background -->
            {% include "background.html" %}

            <!-- Notes -->
            {% include "notes.html" %}
        </div>
    </div>

    <div class="form-row row col-12 mt-3 m-0 p-0">
        <button id="save-page" type="submit" class="btn btn-primary rounded col-12 px-0 py-2 mx-0">
            Sauvegarder
        </button>
    </div>
    <div class="form-row row col-12 mb-1 m-0 p-0">
        <div class="input-group col-sm-6 mx-0 px-0">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="import-page" accept="text/html">
                <label class="custom-file-label" for="import-page">Importer une ancienne fiche</label>
            </div>
        </div>
        <div class="input-group col-sm-6 mx-0 px-0">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="import-plugin" accept="text/html"
                       aria-describedby="import-plugin-desc">
                <label class="custom-file-label" for="import-plugin">Importer un plugin</label>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="d-flex row col-12 mb-1 m-0 p-0">
        <div class="ml-auto ">
            <small>
                Retrouvez le projet sur
                <a href="https://github.com/jadinm/simulacres-dynamic-sheet">Github</a>
            </small>
        </div>
    </footer>
</div>

<!-- Modals -->

<!-- Increase Breath -->
<div class="container">
    <div class="modal fade bd-modal-lg" id="breath-max-update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body align-middle">
                    <div class="row">
                        <button id="increment-breath" class="btn btn-success col-6 mx-0 px-0">
                            Augmenter de 1 le maximum des PS
                        </button>
                        <button id="decrement-breath" class="btn btn-danger col-6 mx-0 px-0">
                            Diminuer de 1 le maximum des PS
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Increase Psychic Balance -->
<div class="container">
    <div class="modal fade bd-modal-lg" id="psychic-max-update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body align-middle">
                    <div class="row">
                        <button id="increment-psychic" class="btn btn-success col-6 mx-0 px-0">
                            Augmenter de 1 le maximum des EP
                        </button>
                        <button id="decrement-psychic" class="btn btn-danger col-6 mx-0 px-0">
                            Diminuer de 1 le maximum des EP
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Increase Health -->
<div class="container">
    <div class="modal fade bd-modal-lg" id="hp-trunk-max-update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body align-middle">
                    <div class="row">
                        <button id="increment-hp-trunk" class="btn btn-success col-6 mx-0 px-0">
                            {% if localisation %}
                                Augmenter de 1 le maximum des PV au torse
                            {% else %}
                                Augmenter de 1 le maximum des PV
                            {% endif %}
                        </button>
                        <button id="decrement-hp-trunk" class="btn btn-danger col-6 mx-0 px-0">
                            {% if localisation %}
                                Diminuer de 1 le maximum des PV au torse
                            {% else %}
                                Augmenter de 1 le maximum des PV
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade bd-modal-lg" id="hp-head-max-update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body align-middle">
                    <div class="row">
                        <button id="increment-hp-head" class="btn btn-success col-6 mx-0 px-0">
                            Augmenter de 1 le maximum des PV à la tête
                        </button>
                        <button id="decrement-hp-head" class="btn btn-danger col-6 mx-0 px-0">
                            Diminuer de 1 le maximum des PV à la tête
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade bd-modal-lg" id="hp-right-arm-max-update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body align-middle">
                    <div class="row">
                        <button id="increment-hp-right-arm" class="btn btn-success col-6 mx-0 px-0">
                            Augmenter de 1 le maximum des PV au bras droit
                        </button>
                        <button id="decrement-hp-right-arm" class="btn btn-danger col-6 mx-0 px-0">
                            Diminuer de 1 le maximum des PV au bras droit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade bd-modal-lg" id="hp-left-arm-max-update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body align-middle">
                    <div class="row">
                        <button id="increment-hp-left-arm" class="btn btn-success col-6 mx-0 px-0">
                            Augmenter de 1 le maximum des PV au bras gauche
                        </button>
                        <button id="decrement-hp-left-arm" class="btn btn-danger col-6 mx-0 px-0">
                            Diminuer de 1 le maximum des PV au bras gauche
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade bd-modal-lg" id="hp-right-leg-max-update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body align-middle">
                    <div class="row">
                        <button id="increment-hp-right-leg" class="btn btn-success col-6 mx-0 px-0">
                            Augmenter de 1 le maximum des PV à la jambe droite
                        </button>
                        <button id="decrement-hp-right-leg" class="btn btn-danger col-6 mx-0 px-0">
                            Diminuer de 1 le maximum des PV à la jambe droite
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade bd-modal-lg" id="hp-left-leg-max-update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body align-middle">
                    <div class="row">
                        <button id="increment-hp-left-leg" class="btn btn-success col-6 mx-0 px-0">
                            Augmenter de 1 le maximum des PV à la jambe gauche
                        </button>
                        <button id="decrement-hp-left-leg" class="btn btn-danger col-6 mx-0 px-0">
                            Diminuer de 1 le maximum des PV à la jambe gauche
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Rolls -->
{% include "roll_dialog.html" %}

<!-- SVG images -->
{% include "images.html" %}

</body>

<!-- Custom Javascript -->
<script>
    let is_v7 = true
    let localized_hp = false
    let matrix_4x4 = false
    {% if localisation %}
        localized_hp = true
    {% endif %}
    {% if version != V7 %}
        is_v7 = false
        matrix_4x4 = true
    {% endif %}
    {% if matrix_4x4 %}
        matrix_4x4 = true
    {% endif %}
    let discovery = false
    {% if discovery %}
        discovery = true
    {% endif %}
</script>
<script>{{ include_static("../js/utils.js") }}</script>
<script>{{ include_static("../js/import_export.js") }}</script>
<script>{{ include_static("../js/adventure_points_utils.js") }}</script>
{% if version == V7 %}
    <script>{{ include_static("../js/adventure_points_v7.js") }}</script>
{% else %}
    <script>{{ include_static("../js/adventure_points_v8.js") }}</script>
{% endif %}
<script>{{ include_static("../js/adventure_points.js") }}</script>
<script>{{ include_static("../js/components_means.js") }}</script>
<script>{{ include_static("../js/slider.js") }}</script>
<script>{{ include_static("../js/status.js") }}</script>
<script>{{ include_static("../js/data_tables.js") }}</script>
<script>{{ include_static("../js/compute_roll.js") }}</script>
{% if universe == med_fantasy %}
    <script id="default-talents">{{ include_static("../js/talent_med_fantasy.js") }}</script>
{% elif universe == captain_voodoo %}
    <script id="default-talents">{{ include_static("../js/talent_captain_voodoo.js") }}</script>
{% else %}
    <script id="default-talents">default_talents = {x: [], "-4": [], "-2": [], "0": []}</script>
{% endif %}
<script>{{ include_static("../js/talent.js") }}</script>
<script>{{ include_static("../js/background.js") }}</script>
<script>{{ include_static("../js/notes.js") }}</script>

</html>
