{% extends "common.html" %}

{% block body %}
    <div class="card shadow-none border border-heavy rounded-lg pb-2">
        <ul id="nav-tabs" class="nav nav-tabs mr-3 ml-4 mt-1" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#status-tab" role="tab" aria-controls="status-tab"
                   aria-selected="true">
                    Rencontre
                </a>
            </li>
            {% for button in plugins.buttons %}
                {{ button | safe }}
            {% endfor %}
            <li class="ml-auto"></li>
            <li class="nav-item d-none" data-toggle="tooltip" data-html="true" data-placement="top"
                title="Voir l'historique des tests">
                <a id="roll-history" class="nav-link">
                    <i class="fas fa-history"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#hide-tabs">
                    <i class="fas fa-cogs"></i>
                </a>
            </li>
        </ul>

        <div id="tabs" class="container-fluid tab-content px-2 pt-1">
            <div id="status-tab" class="tab-pane fade show active justify-content-center">
                <div id="npc-table" class="row col-12">
                    <div id="npc-x" class="col-xl-4 col-lg-6 col-12 card shadow-none border border-heavy rounded-lg"
                         hidden>
                        <div class="row my-0">
                            <i class="fas fa-arrows-alt prefix h-100 col-1" style="font-size: 1.5em;"></i>
                            <div class="align-middle md-form col-9 m-0" data-toggle="tooltip" data-placement="top"
                                 title="Name">
                                <label for="npc-x-name" hidden></label>
                                <input class="form-control text-center" id="npc-x-name" type="text" value="">
                            </div>
                            <i id="npc-x-add-localization"
                               class="fas fa-search-plus h-100 col-1 clickable npc-localization"
                               data-toggle="tooltip" data-placement="top" title="Localiser les PV"
                               style="font-size: 1.5em;" hidden>
                            </i>
                            <i id="npc-x-remove-localization"
                               class="fas fa-search-minus h-100 col-1 clickable npc-localization"
                               data-toggle="tooltip" data-placement="top" title="Enlever la localisation des PV"
                               style="font-size: 1.5em;">
                            </i>
                            <i id="npc-x-copy" class="fas fa-copy prefix h-100 col-1 clickable npc-copy"
                               data-toggle="tooltip"
                               data-placement="top" title="Copier PNJ" style="font-size: 1.5em;">
                            </i>
                        </div>
                        {% include "localized_status_npc.html" %}
                        {% with base_id = "npc-x-" %}
                            {% include "status_dialogs.html" %}
                        {% endwith %}
                        {% include "roll_npc.html" %}
                    </div>
                </div>
                <hr/>
                <div class="row col-12">
                    <div class="col-lg-2 col-md-4 row">
                        <div class="col-6 px-0 mx-0">
                            <button id="add-npc" class="btn btn-success btn-block">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="col-6 px-0 mx-0">
                            <div id="npc-table-remove" class="sortable-list text-center" style="min-height: 50px">
                                <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                                        data-html="true" data-placement="bottom"
                                        title="Déplacez un élément ici pour le supprimer">
                                    <i class="fas fa-trash-alt fa-1x"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <select id="npc-table-add-select" class="show-tick form-control selectpicker"
                                data-live-search="true" data-style="px-3 pt-3 pb-2 m-0 col-12 align-middle"
                                title="PNJ faible">
                        </select>
                    </div>
                    <div class="input-group col-lg-2 col-md-4 mx-0 px-0">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="import-bestiary"
                                   accept="application/json, application/json5">
                            <label class="custom-file-label" for="import-bestiary">Importer un bestiaire</label>
                        </div>
                    </div>
                </div>
            </div>

            {% for tab in plugins.tabs %}
                {{ tab | safe }}
            {% endfor %}
        </div>
        <textarea id="bestiary" class="d-none" aria-label="">
        {{ bestiary }}
    </textarea>
    </div>
{% endblock %}
