{% extends "common.html" %}

{% block body %}

    <!-- Basic information -->
    {% include "bio.html" %}

    <!-- Components, means, realms and energies -->
    {% include "base_stats.html" %}

    <div class="card shadow-none border border-heavy rounded-lg pb-2">
        {% set tabs = [("roll", "Tests"), ("talent", "Talents"), ("equipment", "Équipement")] %}
        {% if universe == med_fantasy %}
            {% do tabs.append(("magic", "Magie")) %}
            {% if version == V7 %}
                {% do tabs.extend([("ki", "Ki"), ("psi", "Psi")]) %}
                {% if warrior_powers %}
                    {% do tabs.append(("warrior", "Voies de la Guerre")) %}
                {% endif %}
                {% do tabs.append(("superpower", "Super-pouvoirs")) %}
            {% endif %}
        {% elif universe == captain_voodoo %}
            {% do tabs.append(("magic", "Magie")) %}
        {% elif version == V7 %}
            {% do tabs.append(("magic", "Sorts")) %}
        {% endif %}
        {% if not discovery %}
            {% do tabs.append(("adventure-points", "PA")) %}
        {% endif %}
        {% do tabs.extend([("background", "Historique"), ("notes", "Notes")]) %}
        <ul id="nav-tabs" class="nav nav-tabs mr-3 ml-4 mt-1 d-none d-md-flex" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#status-tab" role="tab" aria-controls="status-tab"
                   aria-selected="true">
                    États
                </a>
            </li>
            {% for tab_id, tab_name in tabs %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#{{ tab_id }}-tab" role="tab"
                       aria-controls="{{ tab_id }}-tab" aria-selected="false">
                        {{ tab_name }}
                    </a>
                </li>
            {% endfor %}
            {% for button in plugins.buttons %}
                {{ button | safe }}
            {% endfor %}
            <li class="ml-auto tab-left"></li>
            <li class="nav-item tab-left d-none" data-toggle="tooltip" data-html="true" data-placement="top"
                title="Voir l'historique des tests">
                <a id="roll-history" class="nav-link">
                    <i class="fas fa-history"></i>
                </a>
            </li>
            <li class="nav-item tab-left">
                <a class="nav-link" data-toggle="modal" data-target="#hide-tabs">
                    <i class="fas fa-cogs"></i>
                </a>
            </li>
        </ul>
        <ul id="nav-tabs-collasped" class="nav nav-tabs mr-3 ml-4 mt-1 d-md-none" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" aria-selected="true">
                    États
                </a>
            </li>
            <li class="ml-auto"></li>
            <li class="nav-item tab-left">
                <a class="nav-link" data-toggle="modal" data-target="#select-tabs">
                    <i class="fas fa-bars"></i>
                </a>
            </li>
        </ul>

        <div id="tabs" class="container-fluid tab-content px-2 pt-1">
            <!-- Status tab -->
            {% if localisation %}
                {% include "localized_status_tab.html" %}
            {% else %}
                {% include "status_tab.html" %}
            {% endif %}

            <!-- Quick rolls -->
            {% include "roll_tab.html" %}

            <!-- Talents -->
            {% include "talent_tab.html" %}

            <!-- Equipment -->
            {% include "equipment_tab.html" %}

            {% if universe == med_fantasy %}
                <!-- Magic -->
                {% include "magic_tab.html" %}

                {% if version == V7 %}
                    <!-- Ki board -->
                    {% include "ki_tab.html" %}

                    <!-- Psi board -->
                    {% include "psi_tab.html" %}

                    <!-- Warrior board -->
                    {% if warrior_powers %}
                        {% include "warrior_tab.html" %}
                    {% endif %}

                    <!-- Superpower board -->
                    {% include "superpower_tab.html" %}
                {% endif %}
            {% elif universe == captain_voodoo %}
                <!-- Magic -->
                {% include "magic_tab.html" %}
            {% elif version == V7 %}
                <!-- Magic (for spell list) -->
                {% include "magic_tab.html" %}
            {% endif %}

            {% if not discovery %}
                <!-- Adventure Point Tracking -->
                {% include "adventure_points.html" %}
            {% endif %}

            <!-- Background -->
            {% include "background.html" %}

            <!-- Notes -->
            {% include "notes.html" %}

            {% for tab in plugins.tabs %}
                {{ tab | safe }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
