<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>SimulacreS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>{{ include_static("../node_modules/bootstrap/dist/css/bootstrap.min.css") }}</style>
    <style>{{ include_static("../node_modules/mdbootstrap/css/mdb.min.css") }}</style>
    <style>{{ include_static("../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css") }}</style>
    <style>{{ include_static("../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css") }}</style>
    <style>{{ include_static("../node_modules/@fortawesome/fontawesome-free/css/all.min.css") }}</style>
    <style>{{ include_static("../node_modules/summernote/dist/summernote-bs4.min.css") }}</style>

    <!-- Custom styles -->
    <style>
        /* Set the font (must be here because of the relative path to the font */
        body {
            font-family: Augusta, "Linux Libertine", serif;
        }

        @font-face {
            font-family: Augusta;
            src: url("data:application/truetype;charset=utf-8;base64,{{ augusta_font }}") format("truetype");
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: "Linux Libertine";
            src: url("data:application/truetype;charset=utf-8;base64,{{ linux_libertine_font }}") format("truetype");
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <style>{{ include_static("../css/base.css") }}</style>
    <style>{{ include_static("../css/status.css") }}</style>
    {% if localisation %}
        <style>{{ include_static("../css/localized_hp.css") }}</style>
    {% endif %}
    <style>{{ include_static("../css/talent.css") }}</style>
    <style>{{ include_static("../css/spells.css") }}</style>
    <style>{{ include_static("../css/rolls.css") }}</style>
    <style>{{ include_static("../css/background.css") }}</style>
    <style>{{ include_static("../css/notes.css") }}</style>
    <style>{{ include_static("../css/superpowers.css") }}</style>

    <script>{{ include_static("../node_modules/jquery/dist/jquery.min.js") }}</script>
    <script>{{ include_static("../node_modules/popper.js/dist/umd/popper.min.js") }}</script>
    <script>{{ include_static("../node_modules/popper.js/dist/umd/popper-utils.min.js") }}</script>
    <script>{{ include_static("../node_modules/bootstrap/dist/js/bootstrap.min.js") }}</script>
    <script>{{ include_static("../node_modules/mdbootstrap/js/mdb.min.js") }}</script>
    <script>{{ include_static("../node_modules/bootstrap-slider/dist/bootstrap-slider.min.js") }}</script>
    <script>{{ include_static("../node_modules/bootstrap-select/dist/js/bootstrap-select.min.js") }}</script>
    <script>{{ include_static("../node_modules/file-saver/dist/FileSaver.min.js") }}</script>
    <script>{{ include_static("../node_modules/sortablejs/dist/sortable.umd.js") }}</script>
    <script>{{ include_static("../node_modules/jquery-sortablejs/jquery-sortable.js") }}</script>
    <script>{{ include_static("../node_modules/@fortawesome/fontawesome-free/js/all.min.js") }}</script>
    <script>{{ include_static("../node_modules/summernote/dist/summernote-bs4.min.js") }}</script>
    <script>{{ include_static("../node_modules/summernote/dist/lang/summernote-fr-FR.min.js") }}</script>
    <script>{{ include_static("../node_modules/darkreader/darkreader.js") }}</script>
</head>

<body>

<div class="container-fluid main-container px-4">
    <!-- Logo -->
    <div class="row align-middle justify-content-between">
        <div class="col-md-1 col-2"></div>
        <h1 class="mt-1 text-center">
            <svg height="1.5em" width="7em" class="input-prefix" data-toggle="tooltip" data-html="true"
                 data-placement="bottom"
                 title="Simulacres©™ - le jeu de rôle élémentaire a été créé par Pierre Rosenthal. Les règles de Simulacres © sont soumises à copyright et Simulacres™ est une marque déposée.">
                <use xlink:href="#svg-simulacres"></use>
            </svg>
        </h1>
        <div class="col-md-1 col-2 justify-content-center align-middle zero-clipboard">
            <div id="dark-mode" class="btn btn-dark rounded-lg col-12 px-0 mx-0"><i class="fas fa-moon"></i></div>
            <div id="light-mode" class="btn btn-light rounded-lg col-12 d-none px-0 mx-0"><i class="fas fa-sun"></i>
            </div>
        </div>
    </div>

    <!-- Basic information -->
    {% include "bio.html" %}

    <!-- Components, means, realms and energies -->
    {% include "base_stats.html" %}

    <div class="border border-heavy rounded-lg pb-2">
        <ul id="nav-tabs" class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#status-tab" role="tab" aria-controls="home"
                   aria-selected="true">
                    États
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#roll-tab" role="tab" aria-controls="profile"
                   aria-selected="false">
                    Tests
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#talent-tab" role="tab" aria-controls="profile"
                   aria-selected="false">
                    Talents
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#equipment-tab" role="tab" aria-controls="profile"
                   aria-selected="false">
                    Équipement
                </a>
            </li>
            {% if universe == med_fantasy %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#magic-tab" role="tab" aria-controls="profile"
                       aria-selected="false">
                        Magie
                    </a>
                </li>
                {% if version == V7 %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#ki-tab" role="tab" aria-controls="profile"
                           aria-selected="false">
                            Ki
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#psi-tab" role="tab" aria-controls="profile"
                           aria-selected="false">
                            Psi
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#superpower-tab" role="tab" aria-controls="profile"
                           aria-selected="false">
                            Super-pouvoirs
                        </a>
                    </li>
                {% endif %}
            {% elif universe == captain_voodoo %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#magic-tab" role="tab" aria-controls="profile"
                       aria-selected="false">
                        Magie
                    </a>
                </li>
            {% elif version == V7 %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#magic-tab" role="tab" aria-controls="profile"
                       aria-selected="false">
                        Sorts
                    </a>
                </li>
            {% endif %}
            {% if not discovery %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#adventure-points-tab" role="tab"
                       aria-controls="profile" aria-selected="false">
                        PA
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#background-tab" role="tab" aria-controls="profile"
                   aria-selected="false">
                    Historique
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#notes-tab" role="tab" aria-controls="profile"
                   aria-selected="false">
                    Notes
                </a>
            </li>
            {% for button in plugins.buttons %}
                {{ button | safe }}
            {% endfor %}
            <li class="ml-auto nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#hide-tabs">
                    <i class="fas fa-cogs"></i>
                </a>
            </li>
        </ul>

        <div id="tabs" class="container-fluid tab-content px-2 pt-1">
            <!-- Status tab -->
            {% if localisation %}
                {% include "localized_status_tab.html" %}
            {% else %}
                {% include "status_tab.html" %}
            {% endif %}

            <!-- Quick rolls -->
            {% include "roll_tab.html" %}

            <!-- Talents -->
            {% include "talent_tab.html" %}

            <!-- Equipment -->
            {% include "equipment_tab.html" %}

            {% if universe == med_fantasy %}
                <!-- Magic -->
                {% include "magic_tab.html" %}

                {% if version == V7 %}
                    <!-- Ki board -->
                    {% include "ki_tab.html" %}

                    <!-- Psi board -->
                    {% include "psi_tab.html" %}

                    <!-- Superpower board -->
                    {% include "superpower_tab.html" %}
                {% endif %}
            {% elif universe == captain_voodoo %}
                <!-- Magic -->
                {% include "magic_tab.html" %}
            {% elif version == V7 %}
                <!-- Magic (for spell list) -->
                {% include "magic_tab.html" %}
            {% endif %}

            {% if not discovery %}
                <!-- Adventure Point Tracking -->
                {% include "adventure_points.html" %}
            {% endif %}

            <!-- Background -->
            {% include "background.html" %}

            <!-- Notes -->
            {% include "notes.html" %}

            {% for tab in plugins.tabs %}
                {{ tab | safe }}
            {% endfor %}
        </div>
    </div>

    <div class="form-row row col-12 mt-3 m-0 p-0">
        <button id="save-page" type="submit" class="btn btn-primary rounded col-12 px-0 py-2 mx-0">
            Sauvegarder
        </button>
    </div>
    <div class="form-row row col-12 mb-1 m-0 p-0">
        <div class="input-group col-sm-6 mx-0 px-0">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="import-page" accept="text/html">
                <label class="custom-file-label" for="import-page">Importer une ancienne fiche</label>
            </div>
        </div>
        <div class="input-group col-sm-6 mx-0 px-0">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="import-plugin" accept="text/html"
                       aria-describedby="import-plugin-desc">
                <label class="custom-file-label" for="import-plugin">Importer un plugin</label>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="d-flex row col-12 mb-1 m-0 p-0">
        <div class="ml-auto ">
            <small>
                Projet créé par Mathieu Jadin et disponible sous GPL-3.0 License sur
                <a href="https://github.com/jadinm/simulacres-dynamic-sheet">Github</a>
                <button class="btn btn-outline-info m-0 p-0 rounded-circle" data-toggle="modal"
                        data-target="#about-sheet" style="min-width: 1.7em">
                    <i class="fas fa-info fa-sm"></i>
                </button>
            </small>
        </div>
    </footer>
</div>

<!-- Modals -->

<div class="container">
    <div class="modal fade bd-modal-lg" id="hide-tabs" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="font-family: 'Linux Libertine', serif">
                <div class="modal-header justify-content-center">
                    <h4>Cacher/Montrer les onglets</h4>
                </div>
                <div class="modal-body align-middle">
                    <!-- List of tabs -->
                    <ul id="hide-tabs-tabs" class="list-group-flush col-12">
                        <li class="list-group-item align-items-center py-1 my-0 d-none">
                            <div class="d-flex align-items-center my-0 py-0"></div>
                            <button class="btn btn-dark ml-auto my-0 py-2 hide-tab">
                                Cacher&nbsp;<i class="far fa-eye-slash"></i>
                            </button>
                            <button class="btn btn-light ml-auto my-0 py-2 show-tab d-none">
                                Montrer&nbsp;<i class="far fa-eye"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade bd-modal-lg" id="about-sheet" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="font-family: 'Linux Libertine', serif">
                <div class="modal-header justify-content-center">
                    <h4>À propos de votre fiche de personnage dynamique</h4>
                </div>
                <div class="modal-body align-middle">
                    <p class="mx-1">
                        Si jamais vous rencontrez un problème ou souhaitez faire une suggestion,
                        n'hésitez pas à en parler "<a
                            href="https://github.com/jadinm/simulacres-dynamic-sheet/issues/new">en créant une issue</a>".
                    </p>
                    <p class="mx-1 align-middle">
                        S'il s'agit d'un problème, attachez votre fiche ou mentionnez au minimum
                        les informations présentes ci-dessous ainsi que les étapes pour reproduire votre problème.
                    </p>
                    <p class="mx-1 align-middle hide-without-plugin d-none">
                        Si vous souhaitez supprimer un plugin, cliquez sur le bouton "Supprimer" en vis-à-vis
                        du plugin que vous souhaitez enlever.
                    </p>
                    <hr/>

                    <!-- Software info -->
                    <div class="row mx-1 align-middle">
                        <h5>Version:&nbsp;</h5>{{ tag_version }}
                    </div>
                    <div class="row mx-1 align-middle">
                        <h5>Options de compilation</h5>
                    </div>
                    {% for key, value in compilation_args.items() %}
                        {% if key != "output_html" and key != "plugin" and key != "verbose" %}
                            <div class="row mx-2">
                                <b>{{ key }}:&nbsp;</b>{{ value }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <hr class="hide-without-plugin d-none"/>
                    <div class="row mx-1 align-middle hide-without-plugin d-none">
                        <h5>Liste des plugins</h5>
                    </div>

                    <!-- List of plugins -->
                    <div class="row mx-2 hide-without-plugin d-none">
                        <ul id="about-sheet-plugins" class="list-group-flush col-12">
                            <li class="list-group-item align-items-center py-1 my-0 d-none">
                                <div class="d-flex align-items-center my-0 py-0"></div>
                                <button class="btn btn-danger ml-auto my-0 py-2 plugin-remove">
                                    Supprimer&nbsp;<i class="fas fa-trash-alt"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Status -->
{% include "status_dialogs.html" %}

<!-- Rolls -->
{% include "roll_dialog.html" %}

<!-- SVG images -->
{% include "images.html" %}

</body>

<!-- Custom Javascript -->
<script>
    let is_v7 = true
    let localized_hp = false
    let matrix_4x4 = false
    {% if localisation %}
        localized_hp = true
    {% endif %}
    {% if version != V7 %}
        is_v7 = false
        matrix_4x4 = true
    {% endif %}
    {% if matrix_4x4 %}
        matrix_4x4 = true
    {% endif %}
    let intermediate_discovery = false
    {% if intermediate_discovery %}
        intermediate_discovery = true
    {% endif %}
    let discovery = false
    {% if discovery %}
        discovery = true
    {% endif %}
</script>
<script>{{ include_static("../js/utils.js") }}</script>
<script>{{ include_static("../js/import_export.js") }}</script>
<script>{{ include_static("../js/adventure_points_utils.js") }}</script>
{% if version == V7 %}
    <script>{{ include_static("../js/adventure_points_v7.js") }}</script>
{% else %}
    <script>{{ include_static("../js/adventure_points_v8.js") }}</script>
{% endif %}
<script>{{ include_static("../js/adventure_points.js") }}</script>
<script>{{ include_static("../js/components_means.js") }}</script>
<script>{{ include_static("../js/slider.js") }}</script>
<script>{{ include_static("../js/status.js") }}</script>
<script>{{ include_static("../js/data_tables.js") }}</script>
<script>{{ include_static("../js/compute_roll.js") }}</script>
<script>{{ include_static("../js/roll_dialog.js") }}</script>
{% if universe == med_fantasy %}
    <script id="default-talents">{{ include_static("../js/talent_med_fantasy.js") }}</script>
{% elif universe == captain_voodoo %}
    <script id="default-talents">{{ include_static("../js/talent_captain_voodoo.js") }}</script>
{% else %}
    <script id="default-talents">default_talents = {x: [], "-4": [], "-2": [], "0": []}</script>
{% endif %}
<script>{{ include_static("../js/talent.js") }}</script>
<script>{{ include_static("../js/background.js") }}</script>
<script>{{ include_static("../js/notes.js") }}</script>
<script>{{ include_static("../js/equipment.js") }}</script>

{% for css_block in plugins.css_blocks %}
    {{ css_block | safe }}
{% endfor %}
{% for js_block in plugins.js_blocks %}
    {{ js_block | safe }}
{% endfor %}

</html>
