<div class="row form-row my-1 mt-2 md-form">
    <div class="col-sm-4">
        <input class="form-control" id="character-name" name="character-name" type="text" value="">
        <label for="character-name">Nom du personnage</label>
    </div>
    <div class="col-sm-2">
        <input class="form-control" id="race" name="race" type="text" value="">
        <label for="race">Race/Peuple</label>
    </div>
    <div class="col-sm-2 mt-lg-2 text-center">
        PA non dépensés: <span id="remaining-adventure-points"></span>
    </div>
    <div class="col-sm-2">
        <input class="form-control" id="luck-points" name="character-name" type="number" value="0" min="0" max="3">
        <label for="luck-points">PC</label>
    </div>
    <div class="col-sm-2 justify-content-center align-middle">
        <div id="dark-mode" class="btn btn-dark rounded-lg col-12 px-0 mx-0">Mode sombre</div>
        <div id="light-mode" class="btn btn-light rounded-lg col-12 d-none px-0 mx-0">Mode clair</div>
    </div>
</div>
<div class="row form-row my-1 md-form">
    <div class="col-sm-2">
        <label for="age">Âge</label>
        <input class="form-control" id="age" name="age" type="number" value="" min="0">
    </div>

    <div class="col-sm-2">
        <label for="gender">Sexe</label>
        <input class="form-control" id="gender" name="gender" type="text" value="">
    </div>

    <div class="col-sm-2">
        <label for="height">Taille (cm)</label>
        <input class="form-control" id="height" name="height" type="number" value="" min="1">
    </div>

    <div class="col-sm-2">
        <label for="weight">Poids (kg)</label>
        <input class="form-control" id="weight" name="weight" type="number" value="" min="1">
    </div>

    <div class="col-sm-4">
        <label for="work">Métier</label>
        <input class="form-control" id="work" name="work" type="text" value="">
    </div>
</div>
