<div id="equipment-tab" class="tab-pane fade row container-fluid m-0">
    <div class="row col-12 justify-content-center mb-2">
        <div class="btn btn-light rounded-lg py-2 hide-section" data-hide-row="#money-row">
            Fortune&nbsp;<i class="fa-solid fa-eye"></i>
        </div>
        {% if universe == med_fantasy %}
            <div class="btn btn-light rounded-lg py-2 hide-section" data-hide-table="#focus-table">
                Focus&nbsp;<i class="fa-solid fa-eye"></i>
            </div>
            <div class="btn btn-light rounded-lg py-2 hide-section" data-hide-table="#magical-equipment-table">
                Équipement à charge&nbsp;<i class="fa-solid fa-eye"></i>
            </div>
        {% endif %}
        <div class="btn btn-light rounded-lg py-2 hide-section" data-hide-table="#equipment-table">
            Équipement&nbsp;<i class="fa-solid fa-eye"></i>
        </div>
        <div class="btn btn-light rounded-lg py-2 hide-section" data-hide-table="#limitedUse-equipment-table">
            Équipement à solidité/usage limité(e)&nbsp;<i class="fa-solid fa-eye"></i>
        </div>
    </div>
    <div class="row form-inline md-form col-12 m-0 p-0 justify-content-center">
        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        <input id="equipment-search" class="form-control ml-3 w-75" type="text"
               placeholder="Rechercher dans l'équipement" aria-label="Search">
    </div>

    <!-- Money -->
    <div class="row col-12 mt-2"><b>Fortune</b></div>
    <div id="money-row" class="row col-12 form-row mt-2 md-form p-0 m-0">
        {% if universe == med_fantasy %}
            <div class="col-lg-1 col-3">
                <label for="gold-coins"></label>
                <input class="form-control" id="gold-coins" type="number" value="0" min="0">
            </div>
            <div class="col-lg-3 col-9">
                <label for="gold-currency"></label>
                <input class="form-control" id="gold-currency" type="text" value="Soleils">
            </div>

            <div class="col-lg-1 col-3">
                <label for="silver-coins"></label>
                <input class="form-control" id="silver-coins" type="number" value="0" min="0">
            </div>
            <div class="col-lg-3 col-9">
                <label for="silver-currency"></label>
                <input class="form-control" id="silver-currency" type="text" value="Lunes">
            </div>

            <div class="col-lg-1 col-3">
                <label for="copper-coins"></label>
                <input class="form-control" id="copper-coins" type="number" value="0" min="0">
            </div>
            <div class="col-lg-3 col-9">
                <label for="copper-currency"></label>
                <input class="form-control" id="copper-currency" type="text" value="Besins">
            </div>
        {% elif universe == captain_voodoo %}
            <div class="col-sm-4">
                <label for="peso-de-ocho">Pièces de huit</label>
                <input class="form-control" id="peso-de-ocho" type="number" value="0" min="0">
                <input class="form-control" id="copper-currency" type="text" value="Pièces de huit" hidden>
            </div>
        {% else %}
            <div class="col-sm-4">
                <label for="money" hidden></label>
                <input class="form-control" id="money" type="text" value="0">
            </div>
        {% endif %}
    </div>
    <hr/>

    <!-- Focus -->
    {% if universe == med_fantasy %}
        <div class="row col-12 justify-content-center mb-2">
            <b>Focus</b>
        </div>
        <div class="collapsible-table table-responsive row col-12 m-0 p-0" style="overflow-y: hidden !important;">
            <table class="table table-hover m-0 p-0">
                <thead>
                <tr>
                    <th scope="col" style="width: 75%; min-width: 300px">Aspect</th>
                    <th scope="col" class="text-center" style="width: 12.5%">Charge actuelle</th>
                    <th scope="col" class="text-center" style="width: 12.5%">Charge maximum</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody id="focus-table" class="sortable-list">
                <tr id="focus-x" hidden>
                    <td data-title="Aspect" class="md-form my-0 py-0 align-middle">
                        <i class="fa-solid fa-up-down-left-right prefix h-100 d-none d-md-inline"
                           style="width: 1em;"></i>
                        <label for="focus-x-name"></label>
                        <input id="focus-x-name" class="focus-name form-control" type="text" value="">
                    </td>
                    <td data-title="Charge actuelle" class="md-form my-0 py-0 align-middle">
                        <input id="focus-x-charge" class="focus-charge form-control text-center" type="number"
                               value="" min="0">
                        <label for="focus-x-charge"></label>
                    </td>
                    <td data-title="Charge maximum" class="md-form my-0 py-0 align-middle">
                        <input id="focus-x-max" class="focus-max form-control text-center" type="number"
                               value="" min="0">
                        <label for="focus-x-max"></label>
                    </td>
                    <td class="md-form m-0 p-0 align-middle">
                        <div id="focus-x-share" data-toggle="tooltip" data-placement="top"
                             title="Partager l'équipement"
                             class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                        <div class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                            <i class="fa-solid fa-up-down-left-right d-md-none"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-12 m-0 p-0">
            <div class="col-lg-2 col-md-4 row">
                <div class="col-6 px-0 mx-0">
                    <button id="add-focus" class="btn btn-success btn-block">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div class="col-6 px-0 mx-0">
                    <div id="focus-table-remove" class="sortable-list text-center" style="min-height: 50px">
                        <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                                data-html="true" data-placement="bottom"
                                title="Déplacez un élément ici pour le supprimer">
                            <i class="fa-solid fa-trash-can fa-1x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <!-- Magical/Charge equipment -->
        <div class="row col-12 justify-content-center mb-2">
            <b>Équipement à charge</b>
        </div>
        <div class="collapsible-table table-responsive col-12 m-0 p-0" style="overflow-y: hidden !important;">
            <table class="table table-hover m-0 p-0">
                <thead>
                <tr>
                    <th scope="col" style="width: 20%; min-width: 200px">Nom</th>
                    <th scope="col" class="text-center" style="width: 10%;">Nbr utilisations</th>
                    <th scope="col" style="width: 70%; min-width: 500px">Fonctionnement</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody id="magical-equipment-table" class="sortable-list">
                <tr id="magical-equipment-x" hidden>
                    <td data-title="Nom" class="md-form my-0 py-0 align-middle">
                        <i class="fa-solid fa-up-down-left-right prefix h-100 d-none d-md-inline"
                           style="width: 1em;"></i>
                        <label for="magical-equipment-x-name"></label>
                        <input id="magical-equipment-x-name" class="magical-equipment-name form-control"
                               type="text"
                               value="">
                    </td>
                    <td data-title="Nbr utilisations" class="md-form my-0 py-0 align-middle">
                        <input id="magical-equipment-x-charge"
                               class="magical-equipment-charge form-control text-center" type="text">
                        <label for="magical-equipment-x-charge"></label>
                    </td>
                    <td data-title="Fonctionnement" class="md-form my-0 py-0 align-middle">
                        <label for="magical-equipment-x-details"></label>
                        <textarea class="md-textarea form-control magical-equipment-details"
                                  id="magical-equipment-x-details" rows="3"></textarea>
                    </td>
                    <td class="md-form m-0 p-0 align-middle">
                        <div id="magical-equipment-x-share" data-toggle="tooltip" data-placement="top"
                             title="Partager l'équipement"
                             class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                        <div class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                            <i class="fa-solid fa-up-down-left-right d-md-none"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-12 m-0 p-0">
            <div class="col-lg-2 col-md-4 row">
                <div class="col-6 px-0 mx-0">
                    <button id="add-magical-equipment" class="btn btn-success btn-block">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div class="col-6 px-0 mx-0">
                    <div id="magical-equipment-table-remove" class="sortable-list text-center"
                         style="min-height: 50px">
                        <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                                data-html="true" data-placement="bottom"
                                title="Déplacez un élément ici pour le supprimer">
                            <i class="fa-solid fa-trash-can fa-1x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    {% endif %}

    <!-- Regular Equipment -->
    <div class="row col-12 justify-content-center mb-2">
        <b>Équipement</b>
    </div>
    <div class="collapsible-table table-responsive col-12 m-0 p-0" style="overflow-y: hidden !important;">
        <table class="table table-hover m-0 p-0">
            <thead>
            <tr>
                <th scope="col" style="width: 10%">Quantité</th>
                <th scope="col" style="width: 80%; min-width: 300px">Description</th>
                <th scope="col" class="text-center" style="width: 10%">
                    Prix à l'unité&nbsp;<span class="price-currency"></span>
                </th>
                <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody id="equipment-table" class="sortable-list">
            <tr id="equipment-x" hidden>
                <td data-title="Quantité" class="md-form my-0 py-0 align-middle">
                    <i class="fa-solid fa-up-down-left-right prefix h-100 d-none d-md-inline" style="width: 1em;"></i>
                    <input id="equipment-x-quantity" class="equipment quantity form-control text-center"
                           type="number" value="0" min="0">
                    <label for="equipment-x-quantity"></label>
                </td>
                <td data-title="Description" class="md-form my-0 py-0 align-middle">
                    <label for="equipment-x-name"></label>
                    <input id="equipment-x-name" class="equipment-name form-control" type="text" value="">
                </td>
                <td data-title="Prix à l'unité" class="md-form my-0 py-0 align-middle">
                    <input id="equipment-x-price" class="equipment-price form-control text-center"
                           type="number" value="0" min="0">
                    <label for="equipment-x-price"></label>
                </td>
                <td class="md-form m-0 p-0 align-middle">
                    <div id="equipment-x-share" data-toggle="tooltip" data-placement="top"
                         title="Partager l'équipement"
                         class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                    <div class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fa-solid fa-up-down-left-right d-md-none"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-12 m-0 p-0">
        <div class="col-lg-2 col-md-4 row">
            <div class="col-6 px-0 mx-0">
                <button id="add-equipment" class="btn btn-success btn-block">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="col-6 px-0 mx-0">
                <div id="equipment-table-remove" class="sortable-list text-center" style="min-height: 50px">
                    <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                            data-html="true" data-placement="bottom"
                            title="Déplacez un élément ici pour le supprimer">
                        <i class="fa-solid fa-trash-can fa-1x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <!-- Equipment with limited number of uses -->
    <div class="row col-12 justify-content-center mb-2">
        <b>Équipement à solidité/usage limité(e)</b>
    </div>
    <div class="collapsible-table table-responsive col-12 m-0 p-0" style="overflow-y: hidden !important;">
        <table class="table table-hover m-0 p-0">
            <thead>
            <tr>
                <th scope="col" style="width: 20%; min-width: 200px">Nom</th>
                <th scope="col" class="text-center" style="width: 10%;">Nbr utilisations/solidité</th>
                <th scope="col" style="width: 70%; min-width: 500px">Description</th>
                <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody id="limitedUse-equipment-table" class="sortable-list">
            <tr id="limitedUse-equipment-x" hidden>
                <td data-title="Nom" class="md-form my-0 py-0 align-middle">
                    <i class="fa-solid fa-up-down-left-right prefix h-100 d-none d-md-inline" style="width: 1em;"></i>
                    <label for="limitedUse-equipment-x-name"></label>
                    <input id="limitedUse-equipment-x-name" class="magical-equipment-name form-control"
                           type="text"
                           value="">
                </td>
                <td data-title="Nbr utilisations/solidité" class="md-form my-0 py-0 align-middle">
                    <input id="limitedUse-equipment-x-charge"
                           class="magical-equipment-charge form-control text-center" type="number" min="0">
                    <label for="limitedUse-equipment-x-charge"></label>
                </td>
                <td data-title="Description" class="md-form my-0 py-0 align-middle">
                    <label for="limitedUse-equipment-x-details"></label>
                    <input id="limitedUse-equipment-x-details" class="magical-equipment-details form-control"
                           type="text" value="">
                </td>
                <td class="md-form m-0 p-0 align-middle">
                    <div id="limitedUse-equipment-x-share" data-toggle="tooltip" data-placement="top"
                         title="Partager l'équipement"
                         class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                    <div class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fa-solid fa-up-down-left-right d-md-none"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-12 m-0 p-0">
        <div class="col-lg-2 col-md-4 row">
            <div class="col-6 px-0 mx-0">
                <button id="add-limitedUse-equipment" class="btn btn-success btn-block">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="col-6 px-0 mx-0">
                <div id="limitedUse-equipment-table-remove" class="sortable-list text-center"
                     style="min-height: 50px">
                    <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                            data-html="true" data-placement="bottom"
                            title="Déplacez un élément ici pour le supprimer">
                        <i class="fa-solid fa-trash-can fa-1x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row col-12 mt-2"><b>&nbsp;</b></div>
    <div class="row col-12 justify-content-center mb-2">
        <div class="btn btn-light rounded-lg py-2 col-4" data-toggle="modal" data-target="#import-equipment">
            <span>
                Recevoir de l'équipement
                <svg height="2em" width="2em" class="input-prefix">
                    <use href="#svg-treasure-chest"></use>
                </svg>
            </span>
        </div>
    </div>
</div>
