<div id="ki-tab" class="tab-pane fade row container-fluid m-0 pt-2">
    <div class="row form-inline md-form col-12 justify-content-center m-0 p-0">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input id="ki-search" class="form-control ml-3 w-75" type="text"
               placeholder="Rechercher les pouvoirs, leurs concentrations, leurs durées ou leurs effets"
               aria-label="Search">
    </div>

    <!-- Energy -->
    <div class="row col-12 form-row md-form p-0 m-0">
        <div class="col-md-2 input-with-pre-icon">
            <svg height="3em" width="2em" class="input-prefix">
                <use xlink:href="#svg-ki"></use>
            </svg>
            <label for="ki-label">Énergie</label>
            <input class="special-energy form-control text-center" id="ki-label" type="text" value="Shaolin">
        </div>
        <div class="col-md-2">
            <label for="ki"></label>
            <input class="special-energy form-control text-center" id="ki" type="number" value="0" min="0" max="3">
        </div>
    </div>
    <!-- Power levels -->
    <div class="row col-12 mt-2"><b>Niveaux de pouvoirs débloqués pour chaque talent de moine</b></div>
    <div class="table-responsive col-12 m-0 p-0" style="overflow-y: hidden !important;">
        <table class="table table-hover m-0 p-0">
            <thead>
            <tr>
                <th scope="col" class="col-3" style="width: 15%; min-width: 300px">Nom</th>
                <th scope="col" class="col-2" style="width: 2.5%">Niveau max</th>
                <th scope="col" class="text-center" style="width: 2.5%">Formule</th>
                <th scope="col" class="text-center" style="width: 5%">Valeur</th>
                <th scope="col" class="text-center" style="width: 5%">Concentration</th>
                <th scope="col" class="text-center" style="width: 5%"></th>
                <th scope="col" class="text-center" style="width: 5%">Durée</th>
                <th scope="col" style="width: 60%">Effet</th>
                <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody id="ki-table" class="sortable-list">
            <tr id="ki-x" hidden>
                <td class="md-form align-middle my-0 mr-0 pr-0 py-0" data-toggle="tooltip" data-placement="bottom"
                    title="">
                    <div class="row col-12 md-form mx-0 px-0 my-0 py-0 align-middle d-flex">
                        <div class="col-12 m-0 p-0 align-middle">
                            <div id="ki-x-name" class="row col-12 ml-5 text-center d-none"></div>
                            <div class="row col-12">
                                <label for="ki-x-talent"></label>
                                <select class="show-tick form-control talent-select selectpicker spell-talent"
                                        data-live-search="true" data-container="body" id="ki-x-talent"
                                        data-style="col-10 ml-5 mx-0 px-3 align-middle">
                                </select>
                            </div>
                        </div>
                        <i class="fas fa-arrows-alt prefix h-100" style="font-size: 1.5em;"></i>
                    </div>
                </td>
                <td class="md-form my-0 py-0 align-middle">
                    <input id="ki-x-level" class="spell-level form-control text-center"
                           type="number" value="1" min="1" max="1">
                    <label for="ki-x-level"></label>
                </td>
                <td class="my-0 py-0 spell-formula align-middle">
                    {% with row_type = "ki", realm_checkbox = False %}
                        {% include "roll_formula.html" %}
                    {% endwith %}
                </td>
                <td class="my-0 py-0 text-center align-middle">
                    <div class="m-0 {{ padding }} p-0 spell-value-row">
                        <span id="ki-x-value" class="spell-value"></span>
                    </div>
                </td>
                <td class="md-form my-0 py-0 align-middle">
                    <input id="ki-x-time" class="spell-time form-control text-center" type="text">
                    <label for="ki-x-time"></label>
                </td>
                <td class="my-0 py-0 text-center align-middle">
                    {% for level in range(1, 4) %}
                        {% if level == 1 %}
                            {% set classes = "" %}
                            {% set dice_classes = "" %}
                        {% else %}
                            {% set classes = "mt-4 pt-1" %}
                            {% set dice_classes = "invisible" %}
                        {% endif %}
                        <div class="m-0 {{ classes }} p-0 ki-roll-row">
                            <span class="ki-level-specific">Niv. {{ level }}</span>
                            <span class="{{ dice_classes }} m-0 p-0">
                                <span id="ki-x-dice-{{ level }}" class="clickable row-roll-trigger" hidden>
                                    <i class="fas fa-dice"></i>
                                </span>
                            </span>
                        </div>
                    {% endfor %}
                </td>
                <td class="md-form my-0 py-0 align-middle">
                    {% for level in range(1, 4) %}
                        <input id="ki-x-duration-{{ level }}"
                               class="spell-duration form-control text-center" type="text">
                        <label for="ki-x-duration-{{ level }}"></label>
                    {% endfor %}
                </td>
                <td class="md-form my-0 py-0 align-middle">
                    {% for level in range(1, 4) %}
                        <input id="ki-x-effect-{{ level }}" class="spell-effect form-control" type="text">
                        <label for="ki-x-effect-{{ level }}"></label>
                    {% endfor %}
                </td>
                <td class="md-form m-0 p-0 align-middle">
                    <div id="ki-x-show-details" data-toggle="tooltip" data-placement="top"
                         title="Voir les détails du test"
                         class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fas fa-cogs"></i>
                    </div>
                    {% with row_type = "ki" %}
                        {% include "talent_roll_modal.html" %}
                    {% endwith %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-12">
        <div class="col-lg-2 col-md-4 row">
            <div class="col-6 px-0 mx-0">
                <button id="add-ki" class="btn btn-success btn-block">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <div class="col-6 px-0 mx-0">
                <div id="ki-table-remove" class="sortable-list text-center" style="min-height: 50px">
                    <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                            data-html="true" data-placement="bottom"
                            title="Déplacez un élément ici pour le supprimer">
                        <i class="fas fa-trash-alt fa-1x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
