<div id="status-tab" class="tab-pane fade show active justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Localized HP and protection -->
            {% set tooltip_base = "Cliquez pour modifier le maximum des PVs ou ajouter une note" %}
            <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="offset-4 col-4 align-middle text-center">
                        <div class="md-form form-sm m-0 align-middle input-with-pre-icon" data-toggle="tooltip"
                             data-html="true" data-placement="right" title="Armure">
                            <svg height="2em" width="2em" class="input-prefix">
                                <use xlink:href="#svg-helmet"></use>
                            </svg>
                            <input type="number" id="armor-head"
                                   class="armor form-control form-control-sm text-center"
                                   min="0" value="0">
                            <label for="armor-head" hidden></label>
                        </div>
                        <div class="md-form form-sm m-0 align-middle input-with-pre-icon d-none" data-toggle="tooltip"
                             data-html="true" data-placement="right" title="Absorption">
                            <span class="input-prefix">Abs.</span>
                            <input type="number" id="absorption-head"
                                   class="absorption form-control form-control-sm text-center"
                                   min="0" value="0">
                            <label for="absorption-head" hidden></label>
                        </div>
                        <div class="clickable btn-link hp-link" data-toggle="tooltip" data-html="true"
                             data-placement="right" data-target="#hp-head-max-update"
                             title="{{ tooltip_base }}" data-original-title-base="{{ tooltip_base }}">
                            <svg height="4.5em" width="4.5em">
                                <use xlink:href="#svg-head"></use>
                            </svg>
                        </div>
                        <div>
                            <label for="hp-head" hidden></label>
                            <input id="hp-head" class="hp input-slider" data-slider-id="hp-head-slider" type="text"
                                   data-slider-min="0" data-slider-max="3" data-slider-step="1"
                                   data-slider-value="3" data-slider-handle="custom"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 align-middle text-center p-0 m-0">
                        <div class="md-form form-sm m-0 align-middle input-with-pre-icon" data-toggle="tooltip"
                             data-html="true" data-placement="right" title="Armure">
                            <svg height="2em" width="2em" class="input-prefix">
                                <use xlink:href="#svg-right-gauntlet"></use>
                            </svg>
                            <input type="number" id="armor-right-arm"
                                   class="armor form-control form-control-sm text-center" min="0" value="0">
                            <label for="armor-right-arm" hidden></label>
                        </div>
                        <div class="md-form form-sm m-0 align-middle input-with-pre-icon d-none" data-toggle="tooltip"
                             data-html="true" data-placement="right" title="Absorption">
                            <span class="input-prefix">Abs.</span>
                            <input type="number" id="absorption-right-arm"
                                   class="absorption form-control form-control-sm text-center"
                                   min="0" value="0">
                            <label for="absorption-right-arm" hidden></label>
                        </div>
                        <label for="hp-right-arm" hidden></label>
                        <input id="hp-right-arm" class="hp input-slider" data-slider-id="hp-right-arm-slider"
                               type="text" data-slider-min="0" data-slider-max="3" data-slider-step="1"
                               data-slider-value="3" data-slider-handle="custom" data-slider-orientation="vertical"
                               data-slider-reversed="true"/>
                        <svg class="clickable btn-link hp-link" height="4.5em" width="4.5em" data-toggle="tooltip"
                             data-html="true" data-placement="top" data-target="#hp-right-arm-max-update"
                             title="{{ tooltip_base }}" data-original-title-base="{{ tooltip_base }}">
                            <use xlink:href="#svg-right-hand"></use>
                        </svg>
                    </div>
                    <div class="col-4 align-middle text-center p-0 m-0">
                        <div class="md-form form-sm m-0 align-middle input-with-pre-icon" data-toggle="tooltip"
                             data-html="true" data-placement="right" title="Armure">
                            <svg height="2em" width="2em" class="input-prefix">
                                <use xlink:href="#svg-chest-armor"></use>
                            </svg>
                            <input type="number" id="armor-trunk"
                                   class="armor form-control form-control-sm text-center"
                                   min="0" value="0">
                            <label for="armor-trunk" hidden></label>
                        </div>
                        <div class="md-form form-sm m-0 align-middle input-with-pre-icon d-none" data-toggle="tooltip"
                             data-html="true" data-placement="right" title="Absorption">
                            <span class="input-prefix">Abs.</span>
                            <input type="number" id="absorption-trunk"
                                   class="absorption form-control form-control-sm text-center"
                                   min="0" value="0">
                            <label for="absorption-trunk" hidden></label>
                        </div>
                        <div class="clickable btn-link hp-link" data-toggle="tooltip" data-html="true"
                             data-placement="top" data-target="#hp-trunk-max-update"
                             title="{{ tooltip_base }}" data-original-title-base="{{ tooltip_base }}">
                            <svg height="4.5em" width="4.5em">
                                <use xlink:href="#svg-chest"></use>
                            </svg>
                        </div>
                        <label for="hp-trunk" hidden></label>
                        <input id="hp-trunk" class="hp input-slider" data-slider-id="hp-trunk-slider" type="text"
                               data-slider-min="0" data-slider-max="3" data-slider-step="1" data-slider-value="3"
                               data-slider-handle="custom"/>
                    </div>
                    <div class="col-4 align-middle text-center p-0 m-0">
                        <div class="md-form form-sm m-0 align-middle input-with-pre-icon" data-toggle="tooltip"
                             data-html="true" data-placement="right" title="Armure">
                            <svg height="2em" width="2em" class="input-prefix">
                                <use xlink:href="#svg-left-gauntlet"></use>
                            </svg>
                            <input type="number" id="armor-left-arm"
                                   class="armor form-control form-control-sm text-center" min="0" value="0">
                            <label for="armor-left-arm" hidden></label>
                        </div>
                        <div class="md-form form-sm m-0 align-middle input-with-pre-icon d-none" data-toggle="tooltip"
                             data-html="true" data-placement="right" title="Absorption">
                            <span class="input-prefix">Abs.</span>
                            <input type="number" id="absorption-left-arm"
                                   class="absorption form-control form-control-sm text-center"
                                   min="0" value="0">
                            <label for="absorption-left-arm" hidden></label>
                        </div>
                        <svg class="clickable btn-link hp-link" height="4.5em" width="4.5em" data-toggle="tooltip"
                             data-html="true" data-placement="top" data-target="#hp-left-arm-max-update"
                             title="{{ tooltip_base }}" data-original-title-base="{{ tooltip_base }}">
                            <use xlink:href="#svg-left-hand"></use>
                        </svg>
                        <label for="hp-left-arm" hidden></label>
                        <input id="hp-left-arm" class="hp input-slider" data-slider-id="hp-left-arm-slider"
                               type="text"
                               data-slider-min="0" data-slider-max="3" data-slider-step="1" data-slider-value="3"
                               data-slider-handle="custom" data-slider-orientation="vertical"
                               data-slider-reversed="true"/>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="offset-2 col-4 align-middle text-center px-0">
                        <label for="hp-right-leg" hidden></label>
                        <input id="hp-right-leg" class="hp input-slider" data-slider-id="hp-right-leg-slider"
                               type="text" data-slider-min="0" data-slider-max="3" data-slider-step="1"
                               data-slider-value="3" data-slider-handle="custom" data-slider-orientation="vertical"
                               data-slider-reversed="true"/>
                        <svg class="clickable btn-link hp-link" height="4.5em" width="4.5em" data-toggle="tooltip"
                             data-html="true" data-placement="top" data-target="#hp-right-leg-max-update"
                             title="{{ tooltip_base }}" data-original-title-base="{{ tooltip_base }}">
                            <use xlink:href="#svg-right-foot"></use>
                        </svg>
                        <div class="md-form form-sm m-0 align-middle input-with-pre-icon" data-toggle="tooltip"
                             data-html="true" data-placement="right" title="Armure">
                            <svg height="2em" width="2em" class="input-prefix">
                                <use xlink:href="#svg-right-leg-armor"></use>
                            </svg>
                            <input type="number" id="armor-right-leg"
                                   class="armor form-control form-control-sm text-center" min="0" value="0">
                            <label for="armor-right-leg" hidden></label>
                        </div>
                        <div class="md-form form-sm m-0 align-middle input-with-pre-icon d-none" data-toggle="tooltip"
                             data-html="true" data-placement="right" title="Absorption">
                            <span class="input-prefix">Abs.</span>
                            <input type="number" id="absorption-right-leg"
                                   class="absorption form-control form-control-sm text-center"
                                   min="0" value="0">
                            <label for="absorption-right-leg" hidden></label>
                        </div>
                    </div>
                    <div class="offset-lg-0 offset-md-1 col-4 align-middle text-center px-0">
                        <svg class="clickable btn-link hp-link" height="4.5em" width="4.5em" data-toggle="tooltip"
                             data-html="true" data-placement="top" data-target="#hp-left-leg-max-update"
                             title="{{ tooltip_base }}" data-original-title-base="{{ tooltip_base }}">
                            <use xlink:href="#svg-left-foot"></use>
                        </svg>
                        <label for="hp-left-leg" hidden></label>
                        <input id="hp-left-leg" class="hp input-slider" data-slider-id="hp-left-leg-slider"
                               type="text"
                               data-slider-min="0" data-slider-max="3" data-slider-step="1" data-slider-value="3"
                               data-slider-handle="custom" data-slider-orientation="vertical"
                               data-slider-reversed="true"/>
                        <div class="md-form form-sm m-0 align-middle input-with-pre-icon" data-toggle="tooltip"
                             data-html="true" data-placement="right" title="Armure">
                            <svg height="2em" width="2em" class="input-prefix">
                                <use xlink:href="#svg-left-leg-armor"></use>
                            </svg>
                            <input type="number" id="armor-left-leg"
                                   class="armor form-control form-control-sm text-center" min="0" value="0">
                            <label for="armor-left-leg" hidden></label>
                        </div>
                        <div class="md-form form-sm m-0 align-middle input-with-pre-icon d-none" data-toggle="tooltip"
                             data-html="true" data-placement="right" title="Absorption">
                            <span class="input-prefix">Abs.</span>
                            <input type="number" id="absorption-left-leg"
                                   class="absorption form-control form-control-sm text-center"
                                   min="0" value="0">
                            <label for="absorption-left-leg" hidden></label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Protection summary, unease, breath and psychic balance -->
            <div class="offset-1 col-lg-3 col-md-4 align-middle">
                <div class="row">
                    Malus de protection:&nbsp;<span id="armor-penalty">0</span>
                </div>
                <div class="row mt-1 md-form form-sm m-0 input-with-pre-icon" style="width: 200px">
                    <svg height="2em" width="2em" class="input-prefix">
                        <use xlink:href="#svg-shield"></use>
                    </svg>
                    <input type="number" id="shield" class="form-control form-control-sm text-center" min="0" max="2"
                           value="0">
                    <label for="shield" hidden></label>
                </div>
                <div class="row mb-3">
                    <div id="toggle-absorption" class="btn btn-dark rounded-lg">Voir l'absorption des dégâts</div>
                </div>
                <div class="row clickable btn-link" data-toggle="modal" data-target="#unease-details">
                    <label for="unease" class="clickable">Malaise (M):&nbsp;
                        <span id="unease-text">pas de malus</span>
                        <span id="unease-value" hidden></span>
                    </label>
                </div>
                <div class="row mb-3">
                    <input id="unease" data-slider-id="unease-slider" type="text" data-slider-min="0"
                           data-slider-max="4" data-slider-step="1" data-slider-value="0" class="input-slider"
                           data-slider-tooltip-position="bottom"/>
                </div>
                <div class="row clickable btn-link" data-toggle="modal" data-target="#breath-max-update">
                    <label id="breath-title" class="clickable" for="breath" data-toggle="tooltip"
                           data-placement="right" data-html="true">
                        Souffle (PS)
                    </label>
                </div>
                <div class="row mb-3">
                    <input id="breath" data-slider-id="breath-slider" type="text" data-slider-min="0"
                           data-slider-max="4" data-slider-step="1" data-slider-value="4"
                           data-slider-reversed="true"
                           class="input-slider" data-slider-handle="custom" data-slider-tooltip-position="bottom"/>
                </div>
                <div class="row clickable btn-link" data-toggle="modal" data-target="#psychic-max-update">
                    <label id="psychic-title" class="clickable" for="psychic" data-toggle="tooltip"
                           data-placement="right" data-html="true">Équilibre Psychique (EP)</label>
                </div>
                <div class="row">
                    <input id="psychic" data-slider-id="psychic-slider" type="text" data-slider-min="0"
                           data-slider-max="4" data-slider-step="1" data-slider-value="4"
                           data-slider-reversed="true"
                           class="input-slider" data-slider-handle="custom" data-slider-tooltip-position="bottom"/>
                </div>
                <div class="row">
                    <label for="rest">Jours de repos</label>
                </div>
                <div class="row">
                    <input id="rest" data-slider-id="rest-slider" type="text" data-slider-min="0"
                           data-slider-max="7"
                           data-slider-step="1" data-slider-value="0" class="input-slider"
                           data-slider-handle="custom" data-slider-tooltip-position="bottom"/>
                </div>
                <div class="row mt-2">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input formula-elem"
                               id="survival-available" name="survival-available" checked>
                        <label class="custom-control-label custom-checkbox" for="survival-available">
                            Miracle disponible
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
