<div id="magic-tab" class="tab-pane fade row my-1 container-fluid">
    <!-- Magical energies and Ki -->
    <div class="row mt-2 ml-1"><b>Énergies magiques</b></div>
    {% if universe == med_fantasy %}
        <div class="row form-row mt-2 md-form p-0 m-0">
            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-water"></use>
                </svg>
                <label for="water">Eau</label>
                <input class="special-energy form-control text-center" id="water" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-earth"></use>
                </svg>
                <label for="earth">Terre</label>
                <input class="special-energy form-control text-center" id="earth" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-fire"></use>
                </svg>
                <label for="fire">Feu</label>
                <input class="special-energy form-control text-center" id="fire" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-air"></use>
                </svg>
                <label for="air">Air</label>
                <input class="special-energy form-control text-center" id="air" type="number" value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-fog"></use>
                </svg>
                <label for="fog">Brume/Illusion</label>
                <input class="special-energy form-control text-center" id="fog" type="number" value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-mud"></use>
                </svg>
                <label for="mud">Boue</label>
                <input class="special-energy form-control text-center" id="mud" type="number" value="0" min="0" max="3">
            </div>
        </div>
        <div class="row form-row md-form p-0 m-0">
            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-lightning"></use>
                </svg>
                <label for="lightning">Électricité</label>
                <input class="special-energy form-control text-center" id="lightning" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-metal"></use>
                </svg>
                <label for="metal">Métal</label>
                <input class="special-energy form-control text-center" id="metal" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-healing"></use>
                </svg>
                <label for="healing">Guérison</label>
                <input class="special-energy form-control text-center" id="healing" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-necromancy"></use>
                </svg>
                <label for="necromancy">Nécromancie</label>
                <input class="special-energy form-control text-center" id="necromancy" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-invocation"></use>
                </svg>
                <label for="invocation">Invocation</label>
                <input class="special-energy form-control text-center" id="invocation" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-protection"></use>
                </svg>
                <label for="protection">Protection</label>
                <input class="special-energy form-control text-center" id="protection" type="number" value="0" min="0"
                       max="3">
            </div>
        </div>
        <div class="row form-row md-form p-0 m-0">
            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-divination"></use>
                </svg>
                <label for="divination">Divination</label>
                <input class="special-energy form-control text-center" id="divination" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-enchantment"></use>
                </svg>
                <label for="enchantment">Enchantement</label>
                <input class="special-energy form-control text-center" id="enchantment" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-charm"></use>
                </svg>
                <label for="charm">Charme</label>
                <input class="special-energy form-control text-center" id="charm" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="3em" class="input-prefix">
                    <use xlink:href="#svg-voodoo"></use>
                </svg>
                <label for="voodoo">Vaudou</label>
                <input class="special-energy form-control text-center" id="voodoo" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-spiritualism"></use>
                </svg>
                <label for="spiritualism">Spiritisme</label>
                <input class="special-energy form-control text-center" id="spiritualism" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-metamorphosis"></use>
                </svg>
                <label for="metamorphosis">Métamorphose</label>
                <input class="special-energy form-control text-center" id="metamorphosis" type="number" value="0"
                       min="0" max="3">
            </div>
        </div>
        <div class="row form-row md-form p-0 m-0">
            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-witchcraft"></use>
                </svg>
                <label for="witchcraft">Sorcellerie</label>
                <input class="special-energy form-control text-center" id="witchcraft" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-time"></use>
                </svg>
                <label for="time">Temps</label>
                <input class="special-energy form-control text-center" id="time" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-shamanism"></use>
                </svg>
                <label for="shamanism">Chamanisme</label>
                <input class="special-energy form-control text-center" id="shamanism" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-runes"></use>
                </svg>
                <label for="runes">Runes</label>
                <input class="special-energy form-control text-center" id="runes" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-name"></use>
                </svg>
                <label for="name-magic">Noms</label>
                <input class="special-energy form-control text-center" id="name-magic" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-hermetic"></use>
                </svg>
                <label for="hermetic">Hermétique</label>
                <input class="special-energy form-control text-center" id="hermetic" type="number" value="0" min="0"
                       max="3">
            </div>
        </div>
        <div class="row form-row md-form p-0 m-0">
            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-void"></use>
                </svg>
                <label for="meta-magic">Métamagie</label>
                <input class="special-energy form-control text-center" id="meta-magic" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="offset-md-8 col-md-2">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-divine"></use>
                </svg>
                <label for="divine">Divin</label>
                <input class="special-energy form-control text-center" id="divine" type="number" value="0" min="0"
                       max="3">
            </div>
        </div>

        <!-- Black magic & misc -->
        <div class="row mt-2 ml-1"><b>Compteurs</b></div>
        <div class="row form-row md-form mt-1 p-0 m-0">
            <div class="col-md-2">
                <label for="black-magic">Magie noire</label>
                <input class="form-control" id="black-magic" type="number" value="" min="0">
            </div>

            <div class="col-md-2">
                <label for="malemagite">Malemagite</label>
                <input class="form-control" id="malemagite" type="number" value="" min="0">
            </div>
        </div>
    {% elif universe == captain_voodoo %}
        <div class="row mt-2 form-row md-form p-0 m-0">
            <div class="col-md-4 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-voodoo"></use>
                </svg>
                <label for="voodoo">Vaudou</label>
                <input class="special-energy form-control text-center" id="voodoo" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-4 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-white-magic"></use>
                </svg>
                <label for="white-magic">Magie blanche/Foi</label>
                <input class="special-energy form-control text-center" id="white-magic" type="number" value="0" min="0"
                       max="3">
            </div>

            <div class="col-md-4 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-black-magic"></use>
                </svg>
                <label for="black-magic">Magie noire</label>
                <input class="special-energy form-control text-center" id="black-magic" type="number" value="0" min="0"
                       max="3">
            </div>
        </div>
    {% endif %}

    {% if version == V7 %}
        {# Only Version 7 consider spells as special talents. Version 8 considers them as regular talents. #}
        <!-- Spells -->
        <div class="row mt-2 ml-1"><b>Sorts</b></div>
        <div class="table-responsive-xl col-12">
            <table class="table table-hover my-1">
                <thead>
                <tr>
                    <th scope="col" class="col-3">Nom</th>
                    <th scope="col" class="col-2">Liste</th>
                    <th scope="col" class="col-1 text-center">Niveau</th>
                    <th scope="col" class="col-3 text-center">Formule</th>
                    <th scope="col" class="col-2 text-center">Difficulté</th>
                    <th scope="col" class="col-1 text-center">Valeur</th>
                    <th scope="col" class="col-1 text-center">Temps</th>
                    <th scope="col" class="col-1 text-center">Distance</th>
                    <th scope="col" class="col-3">Effet</th>
                </tr>
                </thead>
                <tbody id="spell-table" class="sortable-list">
                <tr id="spell-x" hidden>
                    <td class="md-form align-middle">
                        <i id="spell-x-name-handle" class="fas fa-arrows-alt prefix mt-4 ml-1"
                           style="font-size: 1.5em;"></i>
                        <label for="spell-x-name"></label>
                        <input id="spell-x-name" class="spell-name form-control" type="text" value="">

                        <!-- Hermetic magic consider spells as regular talents -->
                        <div class="row md-form d-none">
                            <label for="spell-x-talent"></label>
                            <select class="show-tick form-control talent-select selectpicker spell-talent"
                                    data-live-search="true"
                                    id="spell-x-talent" data-style="col-8 ml-5 align-middle"
                                    data-talent-filter-origin-level="x">
                            </select>
                            <i class="fas fa-arrows-alt prefix mt-3 ml-1" style="font-size: 1.5em;"></i>
                        </div>
                    </td>
                    <td class="md-form my-0 py-0 align-middle">
                        <label for="spell-x-list"></label>
                        <input id="spell-x-list" class="spell-list form-control" type="text" value="">
                    </td>
                    <td class="md-form my-0 py-0 align-middle">
                        <input id="spell-x-level" class="spell-level form-control text-center"
                               type="number" value="" min="1" max="3">
                        <label for="spell-x-level"></label>
                    </td>
                    <td class="my-0 py-0 spell-formula align-middle">
                        <div class="row">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input spell-formula-elem"
                                       id="spell-x-body" name="spell-x-component">
                                <label class="custom-control-label" for="spell-x-body">
                                    <svg height="1em" width="1em" class="input-prefix">
                                        <use xlink:href="#svg-body"></use>
                                    </svg>
                                </label>
                            </div>
                            {% if matrix_4x4 %}
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input spell-formula-elem"
                                           id="spell-x-instincts" name="spell-x-component">
                                    <label class="custom-control-label" for="spell-x-instincts">
                                        <svg height="1em" width="1em" class="input-prefix">
                                            <use xlink:href="#svg-instincts"></use>
                                        </svg>
                                    </label>
                                </div>
                            {% endif %}
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input spell-formula-elem"
                                       id="spell-x-heart" name="spell-x-component">
                                <label class="custom-control-label" for="spell-x-heart">
                                    <svg height="1em" width="1em" class="input-prefix">
                                        <use xlink:href="#svg-heart"></use>
                                    </svg>
                                </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input spell-formula-elem"
                                       id="spell-x-mind" name="spell-x-component">
                                <label class="custom-control-label" for="spell-x-mind">
                                    <svg height="1em" width="1em" class="input-prefix">
                                        <use xlink:href="#svg-mind"></use>
                                    </svg>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input spell-formula-elem"
                                       id="spell-x-perception" name="spell-x-means">
                                <label class="custom-control-label" for="spell-x-perception">
                                    <svg height="1em" width="1em" class="input-prefix">
                                        <use xlink:href="#svg-perception"></use>
                                    </svg>
                                </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input spell-formula-elem"
                                       id="spell-x-action" name="spell-x-means">
                                <label class="custom-control-label" for="spell-x-action">
                                    <svg height="1em" width="1em" class="input-prefix">
                                        <use xlink:href="#svg-action"></use>
                                    </svg>
                                </label>
                            </div>
                            {% if matrix_4x4 %}
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input spell-formula-elem"
                                           id="spell-x-desire" name="spell-x-means">
                                    <label class="custom-control-label" for="spell-x-desire">
                                        <svg height="1em" width="1em" class="input-prefix">
                                            <use xlink:href="#svg-desire"></use>
                                        </svg>
                                    </label>
                                </div>
                            {% endif %}
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input spell-formula-elem"
                                       id="spell-x-resistance" name="spell-x-means">
                                <label class="custom-control-label" for="spell-x-resistance">
                                    <svg height="1em" width="1em" class="input-prefix">
                                        <use xlink:href="#svg-resistance"></use>
                                    </svg>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            {% if version == V7 %}
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input spell-formula-elem"
                                           id="spell-x-mineral" name="spell-x-realm">
                                    <label class="custom-control-label" for="spell-x-mineral">
                                        <svg height="1em" width="1em" class="input-prefix">
                                            <use xlink:href="#svg-mineral"></use>
                                        </svg>
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input spell-formula-elem"
                                           id="spell-x-vegetal" name="spell-x-realm">
                                    <label class="custom-control-label" for="spell-x-vegetal">
                                        <svg height="1em" width="1em" class="input-prefix">
                                            <use xlink:href="#svg-vegetal"></use>
                                        </svg>
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input spell-formula-elem"
                                           id="spell-x-animal" name="spell-x-realm">
                                    <label class="custom-control-label" for="spell-x-animal">
                                        <svg height="1em" width="1em" class="input-prefix">
                                            <use xlink:href="#svg-animal"></use>
                                        </svg>
                                    </label>
                                </div>
                            {% else %}
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input spell-formula-elem"
                                           id="spell-x-nature" name="spell-x-realm">
                                    <label class="custom-control-label" for="spell-x-nature">
                                        <svg height="1em" width="1em" class="input-prefix">
                                            <use xlink:href="#svg-vegetal"></use>
                                        </svg>
                                    </label>
                                </div>
                            {% endif %}
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input spell-formula-elem"
                                       id="spell-x-humanoid" name="spell-x-realm">
                                <label class="custom-control-label" for="spell-x-humanoid">
                                    <svg height="1em" width="1em" class="input-prefix">
                                        <use xlink:href="#svg-humanoid"></use>
                                    </svg>
                                </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input spell-formula-elem"
                                       id="spell-x-mechanical" name="spell-x-realm">
                                <label class="custom-control-label" for="spell-x-mechanical">
                                    <svg height="1em" width="1em" class="input-prefix">
                                        <use xlink:href="#svg-mechanical"></use>
                                    </svg>
                                </label>
                            </div>
                            {% if version == V7 %}
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input spell-formula-elem"
                                           id="spell-x-void" name="spell-x-realm">
                                    <label class="custom-control-label" for="spell-x-void">
                                        <svg height="1em" width="1em" class="input-prefix">
                                            <use xlink:href="#svg-void"></use>
                                        </svg>
                                    </label>
                                </div>
                            {% else %}
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input spell-formula-elem"
                                           id="spell-x-supernatural" name="spell-x-realm">
                                    <label class="custom-control-label" for="spell-x-supernatural">
                                        <svg height="1em" width="1em" class="input-prefix">
                                            <use xlink:href="#svg-supernatural"></use>
                                        </svg>
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                    </td>
                    <td class="spell-difficulty my-0 py-0 align-middle">
                        <div class="row">
                            <div class="text-center col-12">
                                <label for="spell-x-difficulty-input" id="spell-x-difficulty">0</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center col-12">
                                <input id="spell-x-difficulty-input" data-slider-id="spell-x-difficulty-slider"
                                       type="text" data-slider-min="0" data-slider-max="30" data-slider-step="1"
                                       data-slider-value="0" class="input-slider spell-difficulty-input"
                                       data-slider-tooltip-position="bottom"/>
                            </div>
                            <div class="text-center md-form col-12 d-none">
                                <label for="spell-x-hermetic-difficulty">Difficulté de lancer</label>
                                <input class="form-control hermetic-difficulty" id="spell-x-hermetic-difficulty"
                                       type="number" value="0">
                            </div>
                        </div>
                    </td>
                    <td class="my-0 py-0 text-center align-middle">
                        <span id="spell-x-value" class="spell-value"></span>
                        <span id="spell-x-dice" class="clickable row-roll-trigger" hidden>
                                <i class="fas fa-dice"></i>
                            </span>
                    </td>
                    <td class="md-form my-0 py-0 align-middle">
                        <input id="spell-x-time" class="spell-time form-control text-center" type="text">
                        <label for="spell-x-time"></label>
                    </td>
                    <td class="md-form my-0 py-0 align-middle">
                        <input id="spell-x-distance" class="spell-distance form-control text-center" type="text">
                        <label for="spell-x-distance"></label>
                    </td>
                    <td class="md-form my-0 py-0 align-middle">
                        <input id="spell-x-effect" class="spell-effect form-control" type="text">
                        <label for="spell-x-effect"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row ml-2 mr-1">
            <div class="col-lg-2 col-md-4 row">
                <div class="col-6 px-0 mx-0">
                    <button id="add-spell" class="btn btn-success btn-block">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="col-6 px-0 mx-0">
                    <div id="spell-table-remove" class="sortable-list text-center" style="min-height: 50px">
                        <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                                data-html="true" data-placement="bottom"
                                title="Déplacez un élément ici pour le supprimer">
                            <i class="fas fa-trash-alt fa-1x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
