<div id="magic-tab" class="tab-pane fade row container-fluid m-0 pt-2">
    <div class="row col-12 justify-content-center mb-2">
        <div class="btn btn-light rounded-lg py-2 hide-section" data-hide-row="#magic-tab .magical-energy-row">
            Énergies magiques&nbsp;<i class="fa-solid fa-eye"></i>
        </div>
        {% if universe == med_fantasy %}
            <div class="btn btn-light rounded-lg py-2 hide-section" data-hide-row="#magical-counters">
                Compteurs&nbsp;<i class="fa-solid fa-eye"></i>
            </div>
        {% endif %}
        {% if version == V7 %}
            <div class="btn btn-light rounded-lg py-2 hide-section" data-hide-table="#spell-table">
                Sorts&nbsp;<i class="fa-solid fa-eye"></i>
            </div>
            <div class="btn btn-light rounded-lg py-2 hide-section" data-hide-table="#focusMagic-table">
                Sorts liés à un objets à focus&nbsp;<i class="fa-solid fa-eye"></i>
            </div>
            <div class="btn btn-dark rounded-lg py-2 hide-section d-none" data-hide-table="#rune-table">
                Runes apprises&nbsp;<i class="fa-solid fa-eye-slash"></i>
            </div>
            <div class="btn btn-dark rounded-lg py-2 hide-section d-none" data-hide-table="#word-table">
                Mots appris&nbsp;<i class="fa-solid fa-eye-slash"></i>
            </div>
        {% endif %}
    </div>
    <div class="row form-inline md-form col-12 m-0 p-0 justify-content-center">
        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        <input id="magic-search" class="form-control ml-3 w-75" type="text"
               placeholder="Rechercher les noms de sorts, leurs effets, leurs durées, leurs concentrations ou leurs portées"
               aria-label="Search">
    </div>
    {% if universe == med_fantasy %}
        <!-- Magical energies -->
        <div class="row col-12 m-0 p-0 justify-content-center mb-3"><b>Énergies magiques</b></div>
        <div class="row col-12 form-row mt-2 md-form p-0 m-0 magical-energy-row">
            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-water"></use>
                </svg>
                <label for="water">Eau</label>
                <input class="special-energy magical-energy form-control text-center" id="water" type="number" value="0"
                       min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-earth"></use>
                </svg>
                <label for="earth">Terre</label>
                <input class="special-energy magical-energy form-control text-center" id="earth" type="number" value="0"
                       min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-fire"></use>
                </svg>
                <label for="fire">Feu</label>
                <input class="special-energy magical-energy form-control text-center" id="fire" type="number" value="0"
                       min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-air"></use>
                </svg>
                <label for="air">Air</label>
                <input class="special-energy magical-energy form-control text-center" id="air" type="number" value="0"
                       min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-fog"></use>
                </svg>
                <label for="fog">Brume</label>
                <input class="special-energy magical-energy form-control text-center" id="fog" type="number" value="0"
                       min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-mud"></use>
                </svg>
                <label for="mud">Boue</label>
                <input class="special-energy magical-energy form-control text-center" id="mud" type="number" value="0"
                       min="0" max="3">
            </div>
        </div>
        <div class="row col-12 form-row md-form p-0 m-0 magical-energy-row">
            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-lightning"></use>
                </svg>
                <label for="lightning">Électricité</label>
                <input class="special-energy magical-energy form-control text-center" id="lightning" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-metal"></use>
                </svg>
                <label for="metal">Métal</label>
                <input class="special-energy magical-energy form-control text-center" id="metal" type="number" value="0"
                       min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-healing"></use>
                </svg>
                <label for="healing">Guérison</label>
                <input class="special-energy magical-energy form-control text-center" id="healing" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-necromancy"></use>
                </svg>
                <label for="necromancy">Nécromancie</label>
                <input class="special-energy magical-energy form-control text-center" id="necromancy" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-invocation"></use>
                </svg>
                <label for="invocation">Invocation</label>
                <input class="special-energy magical-energy form-control text-center" id="invocation" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-protection"></use>
                </svg>
                <label for="protection">Protection</label>
                <input class="special-energy magical-energy form-control text-center" id="protection" type="number"
                       value="0" min="0" max="3">
            </div>
        </div>
        <div class="row col-12 form-row md-form p-0 m-0 magical-energy-row">
            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-divination"></use>
                </svg>
                <label for="divination">Divination</label>
                <input class="special-energy magical-energy form-control text-center" id="divination" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-enchantment"></use>
                </svg>
                <label for="enchantment">Enchantement</label>
                <input class="special-energy magical-energy form-control text-center" id="enchantment" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-charm"></use>
                </svg>
                <label for="charm">Charme</label>
                <input class="special-energy magical-energy form-control text-center" id="charm" type="number" value="0"
                       min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="3em" class="input-prefix">
                    <use xlink:href="#svg-voodoo"></use>
                </svg>
                <label for="voodoo">Vaudou</label>
                <input class="special-energy magical-energy form-control text-center" id="voodoo" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-spiritualism"></use>
                </svg>
                <label for="spiritualism">Spiritisme</label>
                <input class="special-energy magical-energy form-control text-center" id="spiritualism" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-metamorphosis"></use>
                </svg>
                <label for="metamorphosis">Métamorphose</label>
                <input class="special-energy magical-energy form-control text-center" id="metamorphosis" type="number"
                       value="0" min="0" max="3">
            </div>
        </div>
        <div class="row col-12 form-row md-form p-0 m-0 magical-energy-row">
            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-witchcraft"></use>
                </svg>
                <label for="witchcraft">Sorcellerie</label>
                <input class="special-energy magical-energy form-control text-center" id="witchcraft" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-time"></use>
                </svg>
                <label for="time">Temps</label>
                <input class="special-energy magical-energy form-control text-center" id="time" type="number" value="0"
                       min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-shamanism"></use>
                </svg>
                <label for="shamanism">Chamanisme</label>
                <input class="special-energy magical-energy form-control text-center" id="shamanism" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-runes"></use>
                </svg>
                <label for="runes">Runes</label>
                <input class="special-energy magical-energy form-control text-center" id="runes" type="number" value="0"
                       min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-name"></use>
                </svg>
                <label for="name-magic">Noms</label>
                <input class="special-energy magical-energy form-control text-center" id="name-magic" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-hermetic"></use>
                </svg>
                <label for="hermetic">Hermétique</label>
                <input class="special-energy magical-energy form-control text-center" id="hermetic" type="number"
                       value="0" min="0" max="3">
            </div>
        </div>
        <div class="row col-12 form-row md-form p-0 m-0 magical-energy-row">
            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-void"></use>
                </svg>
                <label for="meta-magic">Métamagie</label>
                <input class="special-energy magical-energy form-control text-center" id="meta-magic" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="3em" class="input-prefix">
                    <use xlink:href="#svg-white-magic"></use>
                </svg>
                <label for="good-magic">Bien</label>
                <input class="special-energy magical-energy form-control text-center" id="good-magic" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-nature"></use>
                </svg>
                <label for="natural-magic">Nature</label>
                <input class="special-energy magical-energy form-control text-center" id="natural-magic" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-2 input-with-pre-icon">
                <svg height="3em" width="3em" class="input-prefix">
                    <use xlink:href="#svg-black-magic"></use>
                </svg>
                <label for="evil-magic">Mal</label>
                <input class="special-energy magical-energy form-control text-center" id="evil-magic" type="number"
                       value="0" min="0" max="3">
            </div>
            {% set divine_class = "offset-md-2" %}
            {% if tomte_magic %}
                {% set divine_class = "" %}
                <div class="col-md-2 input-with-pre-icon">
                    <svg height="3em" width="2em" class="input-prefix">
                        <use xlink:href="#svg-smoking-pipe"></use>
                    </svg>
                    <label for="sil-pipe">Tomte de Sîl</label>
                    <input class="special-energy magical-energy form-control text-center" id="sil-pipe" type="number"
                           value="0" min="0" max="3">
                </div>
            {% endif %}
            <div class="{{ divine_class }} col-md-2 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-divine"></use>
                </svg>
                <label for="divine">Divin</label>
                <input class="special-energy magical-energy form-control text-center" id="divine" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="d-none">
                <label for="universal-magic">Universelle</label>
                <input class="special-energy magical-energy form-control text-center" id="universal-magic" type="number"
                       value="0" min="0" max="3">
            </div>
        </div>
        <hr/>

        <!-- Black magic & misc -->
        <div class="row col-12 mt-2 m-0 p-0 justify-content-center mb-3"><b>Compteurs</b></div>
        <div id="magical-counters" class="row col-12 form-row md-form mt-2 p-0 m-0 justify-content-center">
            <div class="col-md-2">
                <label for="black-magic">Magie noire</label>
                <input class="form-control" id="black-magic" type="number" value="0" min="0">
            </div>

            <div class="col-md-2">
                <label for="malemagite">Malemagite</label>
                <input class="form-control" id="malemagite" type="number" value="0" min="0">
            </div>
        </div>
        <hr/>
    {% elif universe == captain_voodoo %}
        <!-- Magical energies -->
        <div class="row col-12 m-0 p-0 justify-content-center mb-3"><b>Énergies magiques</b></div>
        <div class="row col-12 mt-2 form-row md-form p-0 m-0 magical-energy-row">
            <div class="col-md-4 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-voodoo"></use>
                </svg>
                <label for="voodoo">Vaudou</label>
                <input class="special-energy magical-energy form-control text-center" id="voodoo" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-4 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-white-magic"></use>
                </svg>
                <label for="white-magic">Magie blanche/Foi</label>
                <input class="special-energy magical-energy form-control text-center" id="white-magic" type="number"
                       value="0" min="0" max="3">
            </div>

            <div class="col-md-4 input-with-pre-icon">
                <svg height="3em" width="2em" class="input-prefix">
                    <use xlink:href="#svg-black-magic"></use>
                </svg>
                <label for="black-magic-energy">Magie noire</label>
                <input class="special-energy magical-energy form-control text-center" id="black-magic-energy"
                       type="number" value="0" min="0" max="3">
            </div>
        </div>
        <hr/>
    {% endif %}

    {% if version == V7 %}
        {# Only Version 7 consider spells as special talents. Version 8 considers them as regular talents. #}
        <!-- Spells -->
        <div class="row col-12 mt-2 m-0 p-0 justify-content-center"><b>Sorts</b></div>
        <div class="collapsible-table table-responsive col-12 m-0 p-0" style="overflow-y: hidden !important;">
            <table class="table table-hover m-0 p-0">
                <thead class="m-0 p-0">
                <tr>
                    <th scope="col" style="width: 10%">Nom</th>
                    <th scope="col" style="width: 10%">Liste</th>
                    <th scope="col" class="text-center" style="width: 2.5%">Niveau</th>
                    <th scope="col" class="text-center" style="width: 2.5%">Formule</th>
                    <th scope="col" class="text-center" style="width: 10%">Difficulté</th>
                    <th scope="col" class="text-center" style="width: 5%">Valeur</th>
                    <th scope="col" class="text-center" style="width: 5%">Concentration</th>
                    <th scope="col" class="text-center" style="width: 5%">Portée</th>
                    <th scope="col" class="text-center" style="width: 5%">Durée</th>
                    <th scope="col" style="width: 45%">Effet</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody id="spell-table" class="sortable-list">
                <tr id="spell-x" class="spell" hidden>
                    <td data-title="Nom" class="md-form  my-0 py-0 align-middle"
                        data-toggle="tooltip" data-placement="bottom" title="">
                        <i id="spell-x-name-handle" class="fa-solid fa-up-down-left-right prefix h-100 d-none d-md-inline"
                           style="width: 1em;"></i>
                        <label for="spell-x-name"></label>
                        <input id="spell-x-name" class="spell-name form-control" type="text" value="">

                        <!-- Hermetic magic consider spells as regular talents -->
                        <div class="row col-12 md-form my-0 py-0 align-middle d-none">
                            <label for="spell-x-talent" hidden></label>
                            <select class="show-tick form-control talent-select selectpicker spell-talent"
                                    data-live-search="true" id="spell-x-talent"
                                    data-style="col-10 ml-md-5 mx-0 px-3 align-middle" data-container="body"
                                    data-max-options="1" multiple>
                            </select>
                            <i class="fa-solid fa-up-down-left-right prefix h-100 d-none d-md-inline" style="width: 1em;"></i>
                        </div>
                    </td>
                    <td data-title="Liste" class="align-middle">
                        <div class="row col-12 md-form my-0 py-0">
                            <label for="spell-x-list" hidden></label>
                            <select id="spell-x-list" class="show-tick form-control spell-list selectpicker"
                                    data-live-search="true" data-style="col-12 align-middle m-0 px-3" title="Liste"
                                    data-container="body" data-max-options="1" multiple>
                            </select>
                        </div>
                    </td>
                    <td data-title="Niveau" class="md-form my-0 py-0 align-middle">
                        <input id="spell-x-level" class="spell-level form-control text-center"
                               type="number" value="1" min="0" max="3">
                        <label for="spell-x-level"></label>
                    </td>
                    <td data-title="Formule" class="my-0 py-0 spell-formula align-middle">
                        {% with row_type = "spell", realm_checkbox = True, row_class = "pl-md-0 pl-3" %}
                            {% include "roll_formula.html" %}
                        {% endwith %}
                    </td>
                    <td data-title="Difficulté" class="spell-difficulty hide-data-title my-0 py-0 align-middle">
                        {% for realm in ["mineral", "vegetal", "animal", "humanoid", "mechanical", "void"] %}
                            <div class="row py-0 my-0 d-none">
                                <div class="text-center col-12 py-0 my-0">
                                    <label class="py-0 my-0 spell-difficulty-value"
                                           for="spell-x-difficulty-input-{{ realm }}"
                                           id="spell-x-difficulty-{{ realm }}">
                                        0
                                    </label>
                                    <span class="spell-realm">
                                        [<svg height="1em" width="1em">
                                            <use xlink:href="#svg-{{ realm }}"></use>
                                        </svg>]
                                    </span>
                                </div>
                            </div>
                            <div class="row py-0 my-0 spell-difficulty-row d-none">
                                <div class="text-center col-12 py-0 my-0">
                                    <input id="spell-x-difficulty-input-{{ realm }}"
                                           data-slider-id="spell-x-difficulty-slider-{{ realm }}"
                                           type="text" data-slider-min="0" data-slider-max="30" data-slider-step="1"
                                           data-slider-value="0" class="input-slider spell-difficulty-input"
                                           data-slider-tooltip-position="top"/>
                                </div>
                                <div class="text-center md-form col-12 d-none py-0 my-0 mt-2">
                                    <label class="py-0 my-0" for="spell-x-hermetic-difficulty-{{ realm }}">
                                        Difficulté de lancer
                                    </label>
                                    <input class="form-control hermetic-difficulty py-0 my-0 text-center"
                                           id="spell-x-hermetic-difficulty-{{ realm }}"
                                           type="number" value="0">
                                </div>
                                <div class="text-center md-form col-12 d-none py-0 my-0 mt-2">
                                    <label class="py-0 my-0" for="spell-x-hermetic-mr-learning-{{ realm }}">
                                        MR de l'apprentissage
                                    </label>
                                    <input class="form-control hermetic-mr-learning py-0 my-0 text-center"
                                           id="spell-x-hermetic-mr-learning-{{ realm }}" type="number" value="0">
                                </div>
                            </div>
                        {% endfor %}
                    </td>
                    <td data-title="Valeur" class="my-md-0 py-md-0 py-2 text-center align-middle">
                        {% for realm in ["mineral", "vegetal", "animal", "humanoid", "mechanical", "void"] %}
                            <div class="m-0 p-0 spell-value-row d-none">
                                <span class="spell-realm">
                                    <svg height="1em" width="1em" class="spell-difficulty-realm">
                                        <use xlink:href="#svg-{{ realm }}"></use>
                                    </svg>:
                                </span>
                                <span id="spell-x-value-{{ realm }}" class="spell-value"></span>
                                <span id="spell-x-dice-{{ realm }}" class="clickable row-roll-trigger" hidden>
                                    <i class="fa-solid fa-dice"></i>
                                </span>
                            </div>
                        {% endfor %}
                        <span id="spell-x-dice-evil-nature-good" class="clickable row-roll-trigger d-none">
                            <i class="fa-solid fa-dice"></i>
                        </span>
                    </td>
                    <td data-title="Concentration" class="md-form my-0 py-0 align-middle">
                        <input id="spell-x-time" class="spell-time form-control text-center" type="text">
                        <label for="spell-x-time"></label>
                    </td>
                    <td data-title="Portée" class="md-form my-0 py-0 align-middle">
                        <input id="spell-x-distance" class="spell-distance form-control text-center" type="text">
                        <label for="spell-x-distance"></label>
                    </td>
                    <td data-title="Durée" class="md-form my-0 py-0 align-middle">
                        <input id="spell-x-duration" class="spell-duration form-control text-center" type="text">
                        <label for="spell-x-duration"></label>
                    </td>
                    <td data-title="Effet" class="md-form my-0 py-0 align-middle">
                        <input id="spell-x-effect" class="spell-effect form-control" type="text">
                        <label for="spell-x-effect"></label>
                    </td>
                    <td class="md-form m-0 p-0 align-middle">
                        <div id="spell-x-show-details" data-toggle="tooltip" data-placement="top"
                             title="Voir les détails du test"
                             class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                            <i class="fa-solid fa-gear"></i>
                        </div>
                        <div class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                            <i class="fa-solid fa-up-down-left-right d-md-none"></i>
                        </div>
                        {% with row_type = "spell" %}
                            {% include "modal/spell_modal.html" %}
                        {% endwith %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-12 m-0 p-0">
            <div class="col-lg-2 col-md-4 row">
                <div class="col-6 px-0 mx-0">
                    <button id="add-spell" class="btn btn-success btn-block">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div class="col-6 px-0 mx-0">
                    <div id="spell-table-remove" class="sortable-list text-center" style="min-height: 50px">
                        <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                                data-html="true" data-placement="bottom"
                                title="Déplacez un élément ici pour le supprimer">
                            <i class="fa-solid fa-trash-can fa-1x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <!-- Spells of focuses -->
        <div class="row col-12 mt-2 m-0 p-0 justify-content-center">
            <b>Sorts liés à un objets à focus</b>
        </div>
        <div class="collapsible-table table-responsive col-12 m-0 p-0" style="overflow-y: hidden !important;">
            <table class="table table-hover m-0 p-0">
                <thead class="m-0 p-0">
                <tr>
                    <th scope="col" style="width: 10%">Nom</th>
                    <th scope="col" style="width: 10%">Objet</th>
                    <th scope="col" class="text-center" style="width: 2.5%">Niveau</th>
                    <th scope="col" class="text-center" style="width: 5%">Valeur</th>
                    <th scope="col" class="text-center" style="width: 5%">Concentration</th>
                    <th scope="col" class="text-center" style="width: 5%">Portée</th>
                    <th scope="col" class="text-center" style="width: 5%">Durée</th>
                    <th scope="col" style="width: 57.5%">Effet</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody id="focusMagic-table" class="sortable-list">
                <tr id="focusMagic-x" class="focusMagic" hidden>
                    <td data-title="Nom" class="md-form my-0 py-0 align-middle"
                        data-toggle="tooltip" data-placement="bottom" title="">
                        <i id="focusMagic-x-name-handle" class="fa-solid fa-up-down-left-right prefix h-100 d-none d-md-inline"
                           style="width: 1em;"></i>
                        <label for="focusMagic-x-name"></label>
                        <input id="focusMagic-x-name" class="focusMagic-name form-control" type="text" value="">
                    </td>
                    <td data-title="Objet" class="md-form my-0 py-0 align-middle" data-toggle="tooltip" data-placement="bottom" title="">
                        <label for="focusMagic-x-focus"></label>
                        <input id="focusMagic-x-focus" class="focusMagic-focus form-control" type="text" value="">
                    </td>
                    <td data-title="Niveau" class="md-form my-0 py-0 align-middle">
                        <input id="focusMagic-x-level" class="focusMagic-level form-control text-center"
                               type="number" value="1" min="0" max="3">
                        <label for="focusMagic-x-level"></label>
                    </td>
                    <td data-title="Valeur" class="my-md-0 py-md-0 py-2 text-center align-middle">
                        <div class="m-0 p-0 focusMagic-value-row">
                            <span id="focusMagic-x-value" class="spell-value"></span>
                            <span id="focusMagic-x-dice" class="clickable row-roll-trigger">
                            <i class="fa-solid fa-dice"></i>
                        </span>
                        </div>
                    </td>
                    <td data-title="Concentration" class="md-form my-0 py-0 align-middle">
                        <input id="focusMagic-x-time" class="focusMagic-time form-control text-center"
                               type="text">
                        <label for="focusMagic-x-time"></label>
                    </td>
                    <td data-title="Distance" class="md-form my-0 py-0 align-middle">
                        <input id="focusMagic-x-distance"
                               class="focusMagic-distance form-control text-center" type="text">
                        <label for="focusMagic-x-distance"></label>
                    </td>
                    <td data-title="Durée" class="md-form my-0 py-0 align-middle">
                        <input id="focusMagic-x-duration"
                               class="focusMagic-duration form-control text-center" type="text">
                        <label for="focusMagic-x-duration"></label>
                    </td>
                    <td data-title="Effet" class="md-form my-0 py-0 align-middle">
                        <input id="focusMagic-x-effect" class="focusMagic-effect form-control" type="text">
                        <label for="focusMagic-x-effect"></label>
                    </td>
                    <td class="md-form m-0 p-0 align-middle">
                        <div id="focusMagic-x-show-details" data-toggle="tooltip" data-placement="top"
                             title="Voir les détails du test"
                             class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                            <i class="fa-solid fa-gear"></i>
                        </div>
                        <div class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                            <i class="fa-solid fa-up-down-left-right d-md-none"></i>
                        </div>
                        {% with row_type = "focusMagic" %}
                            {% include "modal/spell_modal.html" %}
                        {% endwith %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-12 m-0 p-0">
            <div class="col-lg-2 col-md-4 row">
                <div class="col-6 px-0 mx-0">
                    <button id="add-focusMagic" class="btn btn-success btn-block">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div class="col-6 px-0 mx-0">
                    <div id="focusMagic-table-remove" class="sortable-list text-center" style="min-height: 50px">
                        <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                                data-html="true" data-placement="bottom"
                                title="Déplacez un élément ici pour le supprimer">
                            <i class="fa-solid fa-trash-can fa-1x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="d-none"/>

        <!-- Known runes -->
        <div class="row col-12 mt-2 m-0 p-0 d-none justify-content-center">
            <b>Runes apprises</b>
        </div>
        <div class="table-responsive col-12 m-0 p-0 d-none" style="overflow-y: hidden !important;">
            <table class="table table-hover m-0 p-0">
                <thead class="m-0 p-0">
                <tr>
                    <th scope="col" style="width: 25%">Nom</th>
                    <th scope="col" style="width: 75%">Significations</th>
                </tr>
                </thead>
                <tbody id="rune-table" class="sortable-list">
                <tr id="rune-x" class="rune" hidden>
                    <td class="md-form align-middle" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa-solid fa-up-down-left-right prefix h-100" style="width: 1em;"></i>
                        <label for="rune-x-name"></label>
                        <input id="rune-x-name" class="spell-name form-control" type="text" value="">
                    </td>
                    <td class="md-form my-0 py-0 align-middle">
                        <input id="rune-x-meaning" class="rune-meaning form-control" type="text">
                        <label for="rune-x-meaning"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-12 m-0 p-0 d-none">
            <div class="col-lg-2 col-md-4 row">
                <div class="col-6 px-0 mx-0">
                    <button id="add-rune" class="btn btn-success btn-block">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div class="col-6 px-0 mx-0">
                    <div id="rune-table-remove" class="sortable-list text-center" style="min-height: 50px">
                        <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                                data-html="true" data-placement="bottom"
                                title="Déplacez un élément ici pour le supprimer">
                            <i class="fa-solid fa-trash-can fa-1x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="d-none"/>

        <!-- Words learned for name magic -->
        <div class="row col-12 mt-2 m-0 p-0 d-none justify-content-center"><b>Mots appris</b></div>
        <div class="table-responsive col-12 m-0 p-0 d-none" style="overflow-y: hidden !important;">
            <table class="table table-hover m-0 p-0">
                <thead class="m-0 p-0">
                <tr>
                    <th scope="col" style="width: 25%">Type</th>
                    <th scope="col" style="width: 75%">Mot</th>
                </tr>
                </thead>
                <tbody id="word-table" class="sortable-list">
                <tr id="word-x" class="word" hidden>
                    <td class="md-form my-0 py-0 align-middle" data-toggle="tooltip" data-placement="bottom" title="">
                        <label for="word-x-type"></label>
                        <select class="show-tick form-control selectpicker word-type"
                                data-live-search="true" id="word-x-type" title="Type de mot"
                                data-style="col-10 ml-md-5 ml-4 mx-0 px-3 align-middle" data-container="body"
                                data-max-options="1" multiple>
                            <option value="species-name">Nom d'espèce</option>
                            <option value="simple-verb">Verbe simple</option>
                            <option value="race-name">Nom de race</option>
                            <option value="transformation-verb">Verbe de transformation</option>
                            <option value="individual-name">Nom d'individu</option>
                            <option value="creation-destruction-verb">Verbe de création/destruction</option>
                        </select>
                        <i class="fa-solid fa-up-down-left-right prefix h-100" style="width: 1em;"></i>
                    </td>
                    <td class="md-form align-middle">
                        <label for="word-x-name"></label>
                        <input id="word-x-name" class="spell-name form-control" type="text" value="">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-12 m-0 p-0 d-none">
            <div class="col-lg-2 col-md-4 row">
                <div class="col-6 px-0 mx-0">
                    <button id="add-word" class="btn btn-success btn-block">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div class="col-6 px-0 mx-0">
                    <div id="word-table-remove" class="sortable-list text-center" style="min-height: 50px">
                        <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                                data-html="true" data-placement="bottom"
                                title="Déplacez un élément ici pour le supprimer">
                            <i class="fa-solid fa-trash-can fa-1x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
