<div id="notes-tab" class="tab-pane fade row container-fluid m-0 py-2">
    <div class="row form-inline md-form col-12 m-0 p-0">
        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        <input id="note-search" class="form-control ml-3 w-75" type="text" placeholder="Rechercher dans les notes"
               aria-label="Search">
    </div>
    <div class="row col-12 m-0 p-0 mt-2">
        <b>Liste des notes</b>
    </div>
    <div id="note-table" class="m-0 p-0 overflow-auto">
        <div id="note-x" class="rpg-note card m-0 p-0" hidden>
            <div id="note-x-header" class="card-header m-0 p-0">
                <div class="row col-12 m-0 p-0 align-middle">
                    <div class="col-lg-4 col-md-6 col-8 m-0 px-2 py-0 md-form">
                        <i id="note-x-name-handle" class="fa-solid fa-up-down-left-right prefix mt-2" style="font-size: 1.5em;"></i>
                        <label for="note-x-name" hidden></label>
                        <input id="note-x-name" class="note-name form-control" type="text" value=""
                               placeholder="Titre de la note">
                    </div>
                    <button id="note-x-external" class="btn btn-info rounded-lg ml-auto col-md-1 col-2">
                        <i class="fa-solid fa-external-link-alt"></i>
                    </button>
                    <button class="note-show-button btn btn-info rounded-lg col-md-1 col-2"
                            data-toggle="collapse" data-target="#note-x-body" aria-expanded="false"
                            aria-controls="#note-x-body">
                        <i class="fa-solid fa-angle-down"></i>
                    </button>
                </div>
            </div>
            <div id="note-x-body" class="note-body collapse m-0 p-0" aria-labelledby="note-x-body"
                 data-parent="#note-table">
                <div class="card-body m-0 p-0">
                    <label class="form-label" for="note-x-input" hidden></label>
                    <textarea id="note-x-input" class="summernote form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-12">
        <div class="col-lg-2 col-md-4 row">
            <div class="col-6 px-0 mx-0">
                <button id="add-note" class="btn btn-success btn-block">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="col-6 px-0 mx-0">
                <div id="note-table-remove" class="sortable-list text-center" style="min-height: 50px">
                    <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                            data-html="true" data-placement="bottom"
                            title="Déplacez un élément ici pour le supprimer">
                        <i class="fa-solid fa-trash-can fa-1x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
