<div id="psi-tab" class="tab-pane fade row container-fluid m-0 pt-2">
    <div class="row form-inline md-form col-12 justify-content-center m-0 p-0">
        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        <input id="psi-search" class="form-control ml-3 w-75" type="text"
               placeholder="Rechercher les pouvoirs, leurs concentrations, leurs portées, leurs durées ou leurs effets"
               aria-label="Search">
    </div>

    <!-- Psi energies -->
    <div class="row col-12 form-row md-form p-0 m-0">
        <div class="col-md-2 input-with-pre-icon">
            <svg height="3em" width="2em" class="input-prefix">
                <use xlink:href="#svg-psi"></use>
            </svg>
            <label for="psi-label">Énergie</label>
            <input class="form-control text-center energy-name" id="psi-label" type="text" value="Psionique">
        </div>
        <div class="col-md-2">
            <label for="psi"></label>
            <input class="special-energy magical-energy form-control text-center" id="psi" type="number" value="0"
                   min="0" max="3">
        </div>
    </div>

    <!-- Psionic powers -->
    <div class="row col-12 mt-2 m-0 p-0"><b>Pouvoirs</b></div>
    <div class="collapsible-table table-responsive col-12 m-0 p-0" style="overflow-y: hidden !important;">
        <table class="table table-hover m-0 p-0">
            <thead class="m-0 p-0">
            <tr>
                <th scope="col" style="width: 10%">Nom</th>
                <th scope="col" class="text-center" style="width: 2.5%">Formule</th>
                <th scope="col" class="text-center" style="width: 10%">Difficulté</th>
                <th scope="col" class="text-center" style="width: 5%">Valeur</th>
                <th scope="col" class="text-center" style="width: 5%">Concentration</th>
                <th scope="col" class="text-center" style="width: 5%"></th>
                <th scope="col" class="text-center" style="width: 5%">Portée</th>
                <th scope="col" class="text-center" style="width: 5%">Durée</th>
                <th scope="col" style="width: 55%">Effet</th>
                <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody id="psi-table" class="sortable-list">
            <tr id="psi-x" class="spell" hidden>
                <td data-title="Nom" class="md-form my-0 py-0 align-middle"
                    data-toggle="tooltip" data-placement="bottom" title="">
                    <i id="psi-x-name-handle" class="fa-solid fa-up-down-left-right prefix h-100 d-none d-md-inline"
                       style="width: 1em;"></i>
                    <label for="psi-x-name"></label>
                    <input id="psi-x-name" class="spell-name form-control" type="text" value="">
                </td>
                <td data-title="Formule" class="my-0 py-0 spell-formula align-middle">
                    {% with row_type = "psi", realm_checkbox = False, row_class = "pl-md-0 pl-3" %}
                        {% include "roll_formula.html" %}
                    {% endwith %}
                </td>
                <td data-title="Difficulté" class="spell-difficulty hide-data-title my-0 py-0 align-middle">
                    <div class="row py-0 my-0 d-none">
                        <div class="text-center col-12 py-0 my-0">
                            <label class="py-0 my-0 spell-difficulty-value"
                                   for="psi-x-difficulty-input"
                                   id="psi-x-difficulty">
                                0
                            </label>
                        </div>
                    </div>
                    <div class="row py-0 my-0 spell-difficulty-row d-none">
                        <div class="text-center col-12 py-0 my-0">
                            <input id="psi-x-difficulty-input"
                                   data-slider-id="psi-x-difficulty-slider"
                                   type="text" data-slider-min="-4" data-slider-max="3" data-slider-step="1"
                                   data-slider-value="-4" class="input-slider spell-difficulty-input"
                                   data-slider-tooltip="hide"/>
                        </div>
                    </div>
                </td>
                <td data-title="Valeur" class="my-md-0 py-md-0 py-2 text-center align-middle">
                    <div class="m-0 {{ padding }} p-0 spell-value-row">
                        <span id="psi-x-value" class="spell-value"></span>
                    </div>
                </td>
                <td data-title="Concentration" class="md-form my-0 py-0 align-middle">
                    <input id="psi-x-time" class="spell-time form-control text-center" type="text">
                    <label for="psi-x-time"></label>
                </td>
                <td data-title="&nbsp;" class="my-0 py-0 text-center align-middle">
                    {% for level in range(1, 4) %}
                        {% if level == 1 %}
                            {% set classes = "" %}
                            {% set dice_classes = "" %}
                        {% else %}
                            {% set classes = "mt-3" %}
                            {% set dice_classes = "invisible" %}
                        {% endif %}
                        <div class="m-0 {{ classes }} p-0 psi-roll-row">
                            <span class="psi-level-specific">Niv.&nbsp;{{ level }}</span>
                            <span class="{{ dice_classes }} m-0 p-0">
                                <span id="psi-x-dice-{{ level }}" class="clickable row-roll-trigger" hidden>
                                    <i class="fa-solid fa-dice"></i>
                                </span>
                            </span>
                        </div>
                    {% endfor %}
                </td>
                <td data-title="Portées&#xa;  Niv. 1 &#xa;&#xa;  Niv. 2&#xa;&#xa;  Niv. 3"
                    class="md-form my-0 py-0 align-middle">
                    {% for level in range(1, 4) %}
                        <input id="psi-x-distance-{{ level }}"
                               class="spell-distance form-control text-center" type="text">
                        <label for="psi-x-distance-{{ level }}"></label>
                    {% endfor %}
                </td>
                <td data-title="Durées&#xa;  Niv. 1 &#xa;&#xa;  Niv. 2&#xa;&#xa;  Niv. 3"
                    class="md-form my-0 py-0 align-middle">
                    {% for level in range(1, 4) %}
                        <input id="psi-x-duration-{{ level }}"
                               class="spell-duration form-control text-center" type="text">
                        <label for="psi-x-duration-{{ level }}"></label>
                    {% endfor %}
                </td>
                <td data-title="Effets&#xa;  Niv. 1 &#xa;&#xa;  Niv. 2&#xa;&#xa;  Niv. 3"
                    class="md-form my-0 py-0 align-middle">
                    {% for level in range(1, 4) %}
                        <textarea class="md-textarea spell-effect form-control" id="psi-x-effect-{{ level }}" rows="2"></textarea>
                        <label for="psi-x-effect-{{ level }}"></label>
                    {% endfor %}
                </td>
                <td class="md-form m-0 p-0 align-middle">
                    <div id="psi-x-show-details" data-toggle="tooltip" data-placement="top"
                         title="Voir les détails du test"
                         class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <div class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fa-solid fa-up-down-left-right d-md-none"></i>
                    </div>
                    {% with row_type = "psi" %}
                        {% include "modal/roll_modal.html" %}
                    {% endwith %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-12 m-0 p-0">
        <div class="col-lg-2 col-md-4 row">
            <div class="col-6 px-0 mx-0">
                <button id="add-psi" class="btn btn-success btn-block">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="col-6 px-0 mx-0">
                <div id="psi-table-remove" class="sortable-list text-center" style="min-height: 50px">
                    <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                            data-html="true" data-placement="bottom"
                            title="Déplacez un élément ici pour le supprimer">
                        <i class="fa-solid fa-trash-can fa-1x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
