<div id="psi-tab" class="tab-pane fade row container-fluid m-0 pt-2">
    <div class="row form-inline md-form col-12 justify-content-center m-0 p-0">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input id="psi-search" class="form-control ml-3 w-75" type="text"
               placeholder="Rechercher les noms, les concentrations, les portées, les durées ou les effets"
               aria-label="Search">
    </div>

    <!-- Psi energies -->
    <div class="row col-12 form-row md-form p-0 m-0">
        <div class="col-md-2 input-with-pre-icon">
            <svg height="3em" width="2em" class="input-prefix">
                <use xlink:href="#svg-psi"></use>
            </svg>
            <label for="psi-label">Énergie</label>
            <input class="special-energy form-control text-center" id="psi-label" type="text" value="Psionique">
        </div>
        <div class="col-md-2">
            <label for="psi"></label>
            <input class="special-energy magical-energy form-control text-center" id="psi" type="number" value="0"
                   min="0" max="3">
        </div>
    </div>

    <!-- Psionic powers -->
    <div class="row col-12 mt-2 m-0 p-0"><b>Pouvoirs</b></div>
    <div class="table-responsive col-12 m-0 p-0" style="overflow-y: hidden !important;">
        <table class="table table-hover m-0 p-0">
            <thead class="m-0 p-0">
            <tr>
                <th scope="col" style="width: 10%">Nom</th>
                <th scope="col" class="text-center" style="width: 2.5%">Niveau</th>
                <th scope="col" class="text-center" style="width: 2.5%">Formule</th>
                <th scope="col" class="text-center" style="width: 10%">Difficulté</th>
                <th scope="col" class="text-center" style="width: 5%">Valeur</th>
                <th scope="col" class="text-center" style="width: 5%">Concentration</th>
                <th scope="col" class="text-center" style="width: 5%">Portée</th>
                <th scope="col" class="text-center" style="width: 5%">Durée</th>
                <th scope="col" style="width: 55%">Effet</th>
                <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody id="psi-table" class="sortable-list">
            <tr id="psi-x" class="spell" hidden>
                <td class="md-form align-middle" data-toggle="tooltip" data-placement="bottom" title="">
                    <i id="psi-x-name-handle" class="fas fa-arrows-alt prefix h-100"
                       style="font-size: 1.5em;"></i>
                    <label for="psi-x-name"></label>
                    <input id="psi-x-name" class="spell-name form-control" type="text" value="">
                </td>
                <td class="md-form my-0 py-0 align-middle">
                    <input id="psi-x-level" class="spell-level form-control text-center"
                           type="number" value="1" min="0" max="3">
                    <label for="psi-x-level"></label>
                </td>
                <td class="my-0 py-0 spell-formula align-middle">
                    {% with row_type = "psi", realm_checkbox = True %}
                        {% include "roll_formula.html" %}
                    {% endwith %}
                </td>
                <td class="spell-difficulty my-0 py-0 align-middle">
                    {% for realm in ["mineral", "vegetal", "animal", "humanoid", "mechanical", "void"] %}
                        <div class="row py-0 my-0 d-none">
                            <div class="text-center col-12 py-0 my-0">
                                <label class="py-0 my-0 spell-difficulty-value"
                                       for="psi-x-difficulty-input-{{ realm }}"
                                       id="psi-x-difficulty-{{ realm }}">
                                    0
                                </label>
                                <span class="spell-realm">
                                    [<svg height="1em" width="1em">
                                        <use xlink:href="#svg-{{ realm }}"></use>
                                    </svg>]
                                </span>
                            </div>
                        </div>
                        <div class="row py-0 my-0 spell-difficulty-row d-none">
                            <div class="text-center col-12 py-0 my-0">
                                <input id="psi-x-difficulty-input-{{ realm }}"
                                       data-slider-id="psi-x-difficulty-slider-{{ realm }}"
                                       type="text" data-slider-min="-4" data-slider-max="3" data-slider-step="1"
                                       data-slider-value="-4" class="input-slider spell-difficulty-input"
                                       data-slider-tooltip="hide"/>
                            </div>
                        </div>
                    {% endfor %}
                </td>
                <td class="my-0 py-0 text-center align-middle">
                    {% for realm in ["mineral", "vegetal", "animal", "humanoid", "mechanical", "void"] %}
                        <div class="m-0 p-0 spell-value-row d-none">
                                <span class="spell-realm">
                                    <svg height="1em" width="1em" class="spell-difficulty-realm">
                                        <use xlink:href="#svg-{{ realm }}"></use>
                                    </svg>:
                                </span>
                            <span id="psi-x-value-{{ realm }}" class="spell-value"></span>
                            <span id="psi-x-dice-{{ realm }}" class="clickable row-roll-trigger" hidden>
                                    <i class="fas fa-dice"></i>
                                </span>
                        </div>
                    {% endfor %}
                </td>
                <td class="md-form my-0 py-0 align-middle">
                    <input id="psi-x-time" class="spell-time form-control text-center" type="text">
                    <label for="psi-x-time"></label>
                </td>
                <td class="md-form my-0 py-0 align-middle">
                    <input id="psi-x-distance" class="spell-distance form-control text-center" type="text">
                    <label for="psi-x-distance"></label>
                </td>
                <td class="md-form my-0 py-0 align-middle">
                    <input id="psi-x-duration" class="spell-duration form-control text-center" type="text">
                    <label for="psi-x-duration"></label>
                </td>
                <td class="md-form my-0 py-0 align-middle">
                    <input id="psi-x-effect" class="spell-effect form-control" type="text">
                    <label for="psi-x-effect"></label>
                </td>
                <td class="md-form m-0 p-0 align-middle">
                    <div id="psi-x-show-details" data-toggle="tooltip" data-placement="top"
                         title="Voir les détails du test"
                         class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fas fa-cogs"></i>
                    </div>
                    {% with row_type = "psi" %}
                        {% include "roll_modal.html" %}
                    {% endwith %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-12 m-0 p-0">
        <div class="col-lg-2 col-md-4 row">
            <div class="col-6 px-0 mx-0">
                <button id="add-psi" class="btn btn-success btn-block">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <div class="col-6 px-0 mx-0">
                <div id="psi-table-remove" class="sortable-list text-center" style="min-height: 50px">
                    <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                            data-html="true" data-placement="bottom"
                            title="Déplacez un élément ici pour le supprimer">
                        <i class="fas fa-trash-alt fa-1x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
