<div class="container">
    <div class="modal fade bd-modal-lg" id="{{ row_type }}-x-details" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <span class="text-center">
                        <span id="{{ row_type }}-x-details-title" class="modal-title text-center"></span>
                    </span>
                </div>
                <div class="modal-body align-middle">
                    <span id="{{ row_type }}-x-details-effect" class="row col-12 mx-1"></span>
                    {% block previous_fields %}
                    {% endblock %}
                    <hr/>
                    <div class="row col-12 mx-1">
                        Modificateur permanent à appliquer au test
                    </div>
                    <div class="row mx-1 md-form col-md-2 py-0 my-0">
                        <label class="py-0 my-0" for="{{ row_type }}-x-details-bonus">
                        </label>
                        <input class="form-control py-0 my-0 text-center"
                               id="{{ row_type }}-x-details-bonus"
                               type="number" value="0">
                    </div>
                    <div class="row col-12 mx-1">
                        Valeur minimale du test (une valeur vide signifie qu'il n'y a pas de minimum)
                    </div>
                    <div class="row mx-1 md-form col-md-2 py-0 my-0">
                        <label class="py-0 my-0" for="{{ row_type }}-x-details-min"></label>
                        <input class="form-control py-0 my-0 text-center" id="{{ row_type }}-x-details-min"
                               type="number" value="">
                    </div>
                    <div class="row col-12 mx-1">
                        Valeur maximale du test (une valeur vide signifie qu'il n'y a pas de maximum)
                    </div>
                    <div class="row mx-1 md-form col-md-2 py-0 my-0">
                        <label class="py-0 my-0" for="{{ row_type }}-x-details-max"></label>
                        <input class="form-control py-0 my-0 text-center" id="{{ row_type }}-x-details-max"
                               type="number" value="">
                    </div>
                    <div class="row col-12 mx-1">
                        Équipement dépensé à chaque test
                    </div>
                    <div class="row mx-1 md-form col-12 py-0 my-0">
                        <select class="show-tick form-control equipment-select selectpicker"
                                data-live-search="true" id="{{ row_type }}-x-equipment"
                                data-style="col-12 align-middle" data-container="body" title="&nbsp;">
                        </select>
                    </div>
                    {% if version == V7 %}
                        <div class="row col-12 mx-1">
                            Dés d'effet explosifs (sur un 6, on lance un dé supplémentaire à l'infini)
                        </div>
                        <div class="row col-12 mx-4">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input"
                                       id="{{ row_type }}-x-details-exploding-effect"
                                       name="{{ row_type }}-x-details-exploding-effect">
                                <label class="custom-control-label" for="{{ row_type }}-x-details-exploding-effect">
                                    <i class="fas fa-bomb"></i>
                                </label>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
