<div class="container">
    <div class="modal fade bd-modal-lg" id="roll-dialog" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header justify-content-between">
                    <div>
                        <button id="roll-dialog-history-backward" class="btn btn-light">
                            <i class="fas fa-angle-double-left"></i>
                        </button>
                    </div>
                    <span id="roll-dialog-title" class="modal-title text-center">
                    </span>
                    <div>
                        <button id="roll-dialog-history-forward" class="btn btn-light">
                            <i class="fas fa-angle-double-right"></i>
                        </button>
                    </div>
                </div>
                <div class="modal-body align-middle">
                    <div id="roll-dialog-critical" class="row mx-1">
                        <!-- In case of critical -->
                    </div>
                    <div class="row mx-1">
                        <!-- Show the result of the roll -->
                        <div>
                            <span id="roll-dialog-result-label"></span><span id="roll-dialog-result"></span>
                        </div>
                    </div>
                    <div id="roll-dialog-details" class="roll-dialog-effect-hide align-middle"></div>
                    <div class="row mx-1 roll-dialog-effect-hide">
                        <!-- Warn user about current malus here -->
                        <span id="roll-dialog-penalties" style="white-space: pre-line;"></span>
                    </div>
                    <div class="row mx-1 roll-dialog-effect-hide">
                        <b class="roll-dialog-energy-investment d-none"><br/>Energies investies</b>
                    </div>
                    <div class="row md-form form-row mx-1 mt-2 mb-0 roll-dialog-effect-hide">
                        <div class="align-middle input-with-pre-icon col-4 m-0 d-none" data-toggle="tooltip"
                             data-placement="bottom"
                                {% if version == V7 %}
                             title="Puissance investie pour augmenter la marge"
                                {% else %}
                             title="Puissance investie"
                                {% endif %}>
                            <svg height="3em" width="2em" class="input-prefix">
                                <use xlink:href="#svg-power"></use>
                            </svg>
                            {% if version == V7 %}
                            <label for="roll-dialog-power">MR + 1</label>
                            {% endif %}
                            <input class="roll-dialog-energy form-control text-center" id="roll-dialog-power"
                                   type="number" value="0" min="0" max="0">
                        </div>
                        <div class="align-middle input-with-pre-icon col-4 m-0 d-none" data-toggle="tooltip"
                             data-placement="bottom"
                                {% if version == V7 %}
                             title="Rapidité investie pour augmenter la marge"
                                {% else %}
                             title="Rapidité investie"
                                {% endif %}>
                            <svg height="3em" width="2em" class="input-prefix">
                                <use xlink:href="#svg-speed"></use>
                            </svg>
                            {% if version == V7 %}
                            <label for="roll-dialog-speed">MR + 1</label>
                            {% endif %}
                            <input class="roll-dialog-energy form-control text-center" id="roll-dialog-speed"
                                   type="number" value="0" min="0" max="0">
                        </div>
                        <div class="align-middle input-with-pre-icon col-4 m-0 d-none" data-toggle="tooltip"
                             data-placement="bottom"
                                {% if version == V7 %}
                             title="Précision investie pour augmenter la marge"
                                {% else %}
                             title="Précision investie"
                                {% endif %}>
                            <svg height="3em" width="2em" class="input-prefix">
                                <use xlink:href="#svg-precision"></use>
                            </svg>
                            {% if version == V7 %}
                            <label for="roll-dialog-precision">MR + 1</label>
                            {% endif %}
                            <input class="roll-dialog-energy form-control text-center" id="roll-dialog-precision"
                                   type="number" value="0" min="0" max="0">
                        </div>
                    </div>
                    {% if version == V7 %}
                        <div class="row md-form form-row mx-1 mt-2 mb-0 roll-dialog-effect-hide">
                            <div class="align-middle input-with-pre-icon col-4 m-0 d-none" data-toggle="tooltip"
                                 data-placement="bottom"
                                 title="Puissance investie pour augmenter la marge de 1d6 en cas de réussite">
                                <svg height="3em" width="2em" class="input-prefix">
                                    <use xlink:href="#svg-power"></use>
                                </svg>
                                <label for="roll-dialog-optional-power">MR + 1d6 (si réussi)</label>
                                <input class="roll-dialog-energy form-control text-center"
                                       id="roll-dialog-optional-power" type="number" value="0" min="0" max="0">
                            </div>
                            <div class="align-middle input-with-pre-icon col-4 m-0 d-none" data-toggle="tooltip"
                                 data-placement="bottom" title="Rapidité investie pour diminuer le temps de l'action">
                                <svg height="3em" width="2em" class="input-prefix">
                                    <use xlink:href="#svg-speed"></use>
                                </svg>
                                <label for="roll-dialog-optional-speed">Temps / 2</label>
                                <input class="roll-dialog-energy form-control text-center"
                                       id="roll-dialog-optional-speed" type="number" value="0" min="0" max="0">
                            </div>
                            <div class="align-middle input-with-pre-icon col-4 m-0 d-none"
                                 data-toggle="tooltip" data-placement="bottom"
                                 title="Précision investie pour augmenter le seuil de succès critique">
                                <svg height="3em" width="2em" class="input-prefix">
                                    <use xlink:href="#svg-precision"></use>
                                </svg>
                                <label for="roll-dialog-optional-precision">Seuil critique + 1</label>
                                <input class="roll-dialog-energy form-control text-center"
                                       id="roll-dialog-optional-precision"
                                       type="number" value="0" min="0" max="0">
                            </div>
                        </div>
                        <div class="row md-form form-row mx-1 mt-2 mb-0 roll-dialog-magic-hide">
                            <div class="align-middle input-with-pre-icon col-4 m-0 d-none" data-toggle="tooltip"
                                 data-placement="bottom"
                                 title="Puissance investie pour augmenter la portée ou rayon d'un sort">
                                <svg height="3em" width="2em" class="input-prefix">
                                    <use xlink:href="#svg-power"></use>
                                </svg>
                                <label for="roll-dialog-magic-power">Distance &times; 2</label>
                                <input class="roll-dialog-energy form-control text-center"
                                       id="roll-dialog-magic-power" type="number" value="0" min="0" max="0">
                            </div>
                        </div>
                    {% endif %}
                    <div id="roll-dialog-validate" class="row mx-1 roll-dialog-effect-hide justify-content-center mt-2">
                        <div class="btn btn-success rounded-lg">
                            Valider &nbsp;<i class="fas fa-dice fa-2x rounded-lg"></i>
                        </div>
                    </div>
                    <div class="row mx-1 roll-dialog-effect-hide roll-dialog-slider">
                        <label id="roll-dialog-modifier-label" for="roll-dialog-modifier">
                            Modificateur circonstanciel&nbsp;
                        </label>
                    </div>
                    <div class="row mx-1 mb-5 roll-dialog-effect-hide roll-dialog-slider">
                        <input id="roll-dialog-modifier" data-slider-id="roll-dialog-modifier-slider" type="text"
                               data-slider-min="-9" data-slider-max="9" data-slider-step="1" data-slider-value="0"
                               class="input-slider" data-slider-tooltip-position="bottom"/>
                    </div>
                    {% if version == V7 %}
                        <div class="row mx-1 roll-dialog-effect-hide roll-dialog-slider">
                            <label id="roll-dialog-effect-modifier-label" for="roll-dialog-effect-modifier">
                                Modificateur aux dés d'effet (ex. armure cible)&nbsp;
                            </label>
                        </div>
                        <div class="row mx-1 roll-dialog-effect-hide roll-dialog-slider">
                            <input id="roll-dialog-effect-modifier" data-slider-id="roll-dialog-effect-modifier-slider"
                                   type="text" data-slider-min="-9" data-slider-max="9" data-slider-step="1"
                                   data-slider-value="0" class="input-slider" data-slider-tooltip-position="bottom"/>
                        </div>
                    {% endif %}
                    <hr class="roll-dialog-effect-hide"/>
                    <div id="roll-dialog-effect" class="roll-dialog-effect-hide"
                         style="white-space: pre-line;"></div>
                    <hr/>
                    <div class="row mx-1">
                        {% if version == V7 %}
                            Le jet nécessite parfois de lancer un autre dé, par exemple pour localiser l'effet:
                        {% else %}
                            Le jet nécessite parfois de lancer un autre dé:
                        {% endif %}
                    </div>
                    <div class="row mx-1">
                        <div id="roll-dialog-1d6" class="btn btn-info"><i class="fas fa-dice-six"></i></div>
                        <div id="roll-dialog-1d6-result" class="mt-3"></div>
                    </div>
                    <hr/>
                    {% if version == V7 %}
                        <ul class="nav nav-tabs" role="tablist">
                            {% if localisation %}
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#localization-tab" role="tab"
                                       aria-controls="home" aria-selected="true">
                                        Localisation
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#damage-tab" role="tab"
                                       aria-controls="profile" aria-selected="false">
                                        Table des dégâts et effets
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#damage-tab" role="tab"
                                       aria-controls="profile" aria-selected="false">
                                        Table des dégâts et effets
                                    </a>
                                </li>
                            {% endif %}
                        </ul>

                        <div class="tab-content">
                            {% if localisation %}
                                <div id="localization-tab" class="tab-pane fade show active row mx-1">
                                    <div style="white-space: pre-line;">
                                        1: La tête
                                        2: Le torse
                                        3: Le torse au contact, le bras droit à distance
                                        4: Le bras droit au contact, le bras gauche à distance
                                        5: Le bras gauche au contact, la jambe droite à distance
                                        6: Une des jambes au contact* et la jambe gauche à distance

                                        Sur un 6, au contact, il faut relancer 1d6. Si le résultat est pair, il s'agit
                                        de la droite et sinon la gauche.
                                    </div>
                                </div>
                                {% set active = "" %}
                            {% else %}
                                {% set active = "show active" %}
                            {% endif %}
                            <div id="damage-tab" class="tab-pane {{ active }} fade row mx-1">
                                <div class="table-responsive-xl col-12">
                                    <table class="table table-hover table-bordered table-striped my-1">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="col-1 text-center" style="white-space: nowrap">
                                                MR+2d6
                                            </th>
                                            <th scope="col" class="col-1 text-center">A</th>
                                            <th scope="col" class="col-1 text-center">B</th>
                                            <th scope="col" class="col-1 text-center">C</th>
                                            <th scope="col" class="col-1 text-center">D</th>
                                            <th scope="col" class="col-1 text-center">E</th>
                                            <th scope="col" class="col-1 text-center">F</th>
                                            <th scope="col" class="col-1 text-center">G</th>
                                            <th scope="col" class="col-1 text-center">H</th>
                                            <th scope="col" class="col-1 text-center">I</th>
                                            <th scope="col" class="col-1 text-center">J</th>
                                            <th scope="col" class="col-1 text-center">K</th>
                                        </tr>
                                        </thead>
                                        <tbody id="damage-table" class="sortable-list">
                                        <tr>
                                            <th class="text-center">3</th>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">4 5 6</th>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">3</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">7 8 9</th>
                                            <td class="text-center">0</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">5</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">10 11</th>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">5</td>
                                            <td class="text-center">5</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">12 13 14</th>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">5</td>
                                            <td class="text-center">5</td>
                                            <td class="text-center">6</td>
                                            <td class="text-center">6</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">15 16 17 18</th>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">5</td>
                                            <td class="text-center">6</td>
                                            <td class="text-center">6</td>
                                            <td class="text-center">8</td>
                                            <td class="text-center">8</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">19 20 21 22</th>
                                            <td class="text-center">2</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">5</td>
                                            <td class="text-center">6</td>
                                            <td class="text-center">6</td>
                                            <td class="text-center">7</td>
                                            <td class="text-center">8</td>
                                            <td class="text-center">8</td>
                                            <td class="text-center">10</td>
                                            <td class="text-center">10</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">23 24 25 26</th>
                                            <td class="text-center">3</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">5</td>
                                            <td class="text-center">6</td>
                                            <td class="text-center">8</td>
                                            <td class="text-center">8</td>
                                            <td class="text-center">9</td>
                                            <td class="text-center">9</td>
                                            <td class="text-center">10</td>
                                            <td class="text-center">12</td>
                                            <td class="text-center">12</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">par tranche de 4</th>
                                            <td class="text-center">+1</td>
                                            <td class="text-center">+1</td>
                                            <td class="text-center">+2</td>
                                            <td class="text-center">+2</td>
                                            <td class="text-center">+2</td>
                                            <td class="text-center">+2</td>
                                            <td class="text-center">+3</td>
                                            <td class="text-center">+3</td>
                                            <td class="text-center">+4</td>
                                            <td class="text-center">+4</td>
                                            <td class="text-center">+6</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
