{% if realm_checkbox %}
    {% set realm_class = "custom-checkbox" %}
{% else %}
    {% set realm_class = "custom-radio" %}
{% endif %}

<div class="row">
    <div class="custom-control custom-radio custom-control-inline">
        <input type="checkbox" class="custom-control-input formula-elem"
               id="{{ row_type }}-x-body" name="{{ row_type }}-x-component">
        <label class="custom-control-label" for="{{ row_type }}-x-body"
               data-toggle="tooltip" data-placement="top" title="Corps">
            <svg height="1em" width="1em" class="input-prefix">
                <use xlink:href="#svg-body"></use>
            </svg>
        </label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="checkbox" class="custom-control-input formula-elem"
               id="{{ row_type }}-x-perception" name="{{ row_type }}-x-means">
        <label class="custom-control-label" for="{{ row_type }}-x-perception"
               data-toggle="tooltip" data-placement="top" title="Perception">
            <svg height="1em" width="1em" class="input-prefix">
                <use xlink:href="#svg-perception"></use>
            </svg>
        </label>
    </div>
    {% if version == V7 and not no_realm %}
        <div class="custom-control {{ realm_class }} custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-mineral" name="{{ row_type }}-x-realm">
            <label class="custom-control-label" for="{{ row_type }}-x-mineral"
                   data-toggle="tooltip" data-placement="top" title="Minéral">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-mineral"></use>
                </svg>
            </label>
        </div>
        <div class="custom-control {{ realm_class }} custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-humanoid" name="{{ row_type }}-x-realm">
            <label class="custom-control-label" for="{{ row_type }}-x-humanoid"
                   data-toggle="tooltip" data-placement="top"
                    {% if universe == med_fantasy %}
                   title="Humanoïde"
                    {% else %}
                   title="Humain"
                    {% endif %}>
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-humanoid"></use>
                </svg>
            </label>
        </div>
    {% elif not discovery and not no_realm %}
        <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-nature" name="{{ row_type }}-x-realm">
            <label class="custom-control-label" for="{{ row_type }}-x-nature"
                   data-toggle="tooltip" data-placement="top" title="Nature">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-vegetal"></use>
                </svg>
            </label>
        </div>
    {% endif %}
</div>
<div class="row">
    {% if matrix_4x4 %}
        <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-instincts" name="{{ row_type }}-x-component">
            <label class="custom-control-label" for="{{ row_type }}-x-instincts"
                   data-toggle="tooltip" data-placement="top" title="Instincts">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-instincts"></use>
                </svg>
            </label>
        </div>
    {% else %}
        <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-heart" name="{{ row_type }}-x-component">
            <label class="custom-control-label" for="{{ row_type }}-x-heart"
                   data-toggle="tooltip" data-placement="top" title="Cœur">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-heart"></use>
                </svg>
            </label>
        </div>
    {% endif %}
    <div class="custom-control custom-radio custom-control-inline">
        <input type="checkbox" class="custom-control-input formula-elem"
               id="{{ row_type }}-x-action" name="{{ row_type }}-x-means">
        <label class="custom-control-label" for="{{ row_type }}-x-action"
               data-toggle="tooltip" data-placement="top" title="Action">
            <svg height="1em" width="1em" class="input-prefix">
                <use xlink:href="#svg-action"></use>
            </svg>
        </label>
    </div>
    {% if version == V7 and not no_realm %}
        <div class="custom-control {{ realm_class }} custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-vegetal" name="{{ row_type }}-x-realm">
            <label class="custom-control-label" for="{{ row_type }}-x-vegetal"
                   data-toggle="tooltip" data-placement="top" title="Végétal">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-vegetal"></use>
                </svg>
            </label>
        </div>
        <div class="custom-control {{ realm_class }} custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-mechanical" name="{{ row_type }}-x-realm">
            <label class="custom-control-label" for="{{ row_type }}-x-mechanical"
                   data-toggle="tooltip" data-placement="top" title="Mécanique">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-mechanical"></use>
                </svg>
            </label>
        </div>
    {% elif not discovery and not no_realm %}
        <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-humanoid" name="{{ row_type }}-x-realm">
            <label class="custom-control-label" for="{{ row_type }}-x-humanoid"
                   data-toggle="tooltip" data-placement="top"
                    {% if universe == med_fantasy %}
                   title="Humanoïde"
                    {% else %}
                   title="Humain"
                    {% endif %}>
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-humanoid"></use>
                </svg>
            </label>
        </div>
    {% endif %}
</div>
<div class="row">
    {% if matrix_4x4 %}
        <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-heart" name="{{ row_type }}-x-component">
            <label class="custom-control-label" for="{{ row_type }}-x-heart"
                   data-toggle="tooltip" data-placement="top" title="Cœur">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-heart"></use>
                </svg>
            </label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-desire" name="{{ row_type }}-x-means">
            <label class="custom-control-label" for="{{ row_type }}-x-desire"
                   data-toggle="tooltip" data-placement="top" title="Désir">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-desire"></use>
                </svg>
            </label>
        </div>
    {% else %}
        <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-mind" name="{{ row_type }}-x-component">
            <label class="custom-control-label" for="{{ row_type }}-x-mind"
                   data-toggle="tooltip" data-placement="top" title="Esprit">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-mind"></use>
                </svg>
            </label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-resistance" name="{{ row_type }}-x-means">
            <label class="custom-control-label" for="{{ row_type }}-x-resistance"
                   data-toggle="tooltip" data-placement="top" title="Résistance">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-resistance"></use>
                </svg>
            </label>
        </div>
    {% endif %}
    {% if version == V7 and not no_realm %}
        <div class="custom-control {{ realm_class }} custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-animal" name="{{ row_type }}-x-realm">
            <label class="custom-control-label" for="{{ row_type }}-x-animal"
                   data-toggle="tooltip" data-placement="top" title="Animal">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-animal"></use>
                </svg>
            </label>
        </div>
        <div class="custom-control {{ realm_class }} custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-void" name="{{ row_type }}-x-realm">
            <label class="custom-control-label" for="{{ row_type }}-x-void"
                   data-toggle="tooltip" data-placement="top" title="Néant">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-void"></use>
                </svg>
            </label>
        </div>
    {% elif not discovery and not no_realm %}
        <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-artificial" name="{{ row_type }}-x-realm">
            <label class="custom-control-label" for="{{ row_type }}-x-artificial"
                   data-toggle="tooltip" data-placement="top" title="Artificiel">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-mechanical"></use>
                </svg>
            </label>
        </div>
    {% endif %}
</div>
<div class="row">
    {% if matrix_4x4 %}
        <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-mind" name="{{ row_type }}-x-component">
            <label class="custom-control-label" for="{{ row_type }}-x-mind"
                   data-toggle="tooltip" data-placement="top" title="Esprit">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-mind"></use>
                </svg>
            </label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-resistance" name="{{ row_type }}-x-means">
            <label class="custom-control-label" for="{{ row_type }}-x-resistance"
                   data-toggle="tooltip" data-placement="top" title="Résistance">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-resistance"></use>
                </svg>
            </label>
        </div>
    {% elif not discovery %}
        <div class="custom-control custom-radio custom-control-inline invisible">
            <input type="checkbox" class="custom-control-input">
            <label class="custom-control-label" for="{{ row_type }}-x-supernatural">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-supernatural"></use>
                </svg>
            </label>
        </div>
        <div class="custom-control custom-radio custom-control-inline invisible">
            <input type="checkbox" class="custom-control-input">
            <label class="custom-control-label" for="{{ row_type }}-x-supernatural">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-supernatural"></use>
                </svg>
            </label>
        </div>
    {% endif %}
    {% if version == V8 and not discovery and not no_realm %}
        <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" class="custom-control-input formula-elem"
                   id="{{ row_type }}-x-supernatural" name="{{ row_type }}-x-realm">
            <label class="custom-control-label" for="{{ row_type }}-x-supernatural"
                   data-toggle="tooltip" data-placement="top" title="Surnaturel">
                <svg height="1em" width="1em" class="input-prefix">
                    <use xlink:href="#svg-supernatural"></use>
                </svg>
            </label>
        </div>
    {% endif %}
</div>
