<div id="roll-tab" class="tab-pane fade row my-1 container-fluid m-0">
    <div class="row col-12 justify-content-center mb-2">
        <div class="btn btn-light rounded-lg py-2 hide-section" data-hide-table="#close_combat-table">
            Combat au contact&nbsp;<i class="fa-solid fa-eye"></i>
        </div>
        <div class="btn btn-light rounded-lg py-2 hide-section" data-hide-table="#range_combat-table">
            Combat à distance&nbsp;<i class="fa-solid fa-eye"></i>
        </div>
        {% if dual_wielding %}
            <div class="btn btn-light rounded-lg py-2 hide-section" data-hide-table="#dual_wielding-table">
                Combat à deux armes&nbsp;<i class="fa-solid fa-eye"></i>
            </div>
        {% endif %}
        <div class="btn btn-light rounded-lg py-2 hide-section" data-hide-table="#roll-table">
            Tests courants&nbsp;<i class="fa-solid fa-eye"></i>
        </div>
    </div>
    <div class="row form-inline md-form col-12 justify-content-center m-0 p-0">
        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        <input id="roll-search" class="form-control ml-3 w-75" type="text"
               placeholder="Rechercher les talents utilisés ou les effets" aria-label="Search">
    </div>

    <div class="row col-12 justify-content-center mb-2">
        <b>Combat au contact</b>
    </div>
    <div class="row col-12 collapsible-table table-responsive m-0 p-0" style="overflow-y: hidden !important;">
        <table class="table table-hover col-12 m-0 p-0">
            <thead>
            <tr>
                <th scope="col" style="min-width: 200px; width: 15%">Talent</th>
                <th scope="col" class="text-center" style="width: 5%">Formule</th>
                <th scope="col" class="text-center" style="width: 5%">Valeur</th>
                <th scope="col" style="min-width: 300px; width: 75%">Effet</th>
                <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody id="close_combat-table" class="sortable-list">
            <tr id="close_combat-x" class="align-middle" hidden>
                <td data-title="Talent" class="align-middle my-0 mr-0 pr-0 py-0">
                    <div class="row col-12 md-form mx-0 px-0 my-0 py-0 align-middle">
                        <div class="col-12 pl-md-4 m-0 p-0 align-middle">
                            <div id="close_combat-x-name" class="row col-12 ml-md-4 text-center d-none"></div>
                            <div class="row col-12 ml-md-1 mx-0 px-0 my-0 py-0">
                                <label for="close_combat-x-talent"></label>
                                <select class="show-tick form-control talent-select selectpicker close_combat-talent"
                                        data-live-search="true" id="close_combat-x-talent"
                                        data-style="col-10 px-3 align-middle" data-container="body" title="&nbsp;"
                                        data-max-options="1" multiple>
                                </select>
                            </div>
                        </div>
                        <i class="fa-solid fa-up-down-left-right prefix h-100 d-none d-md-inline" style="width: 1em; vertical-align: middle;"></i>
                    </div>
                </td>
                <td data-title="Formule" class="my-0 py-0 roll-formula align-middle">
                    {% with row_type = "close_combat", row_class = "pl-md-0 pl-3" %}
                        {% include "roll_formula.html" %}
                    {% endwith %}
                </td>
                <td data-title="Valeur" class="my-md-0 py-md-0 py-2 text-center align-middle">
                    <div>
                        <span id="close_combat-x-value" class="roll-value"></span>
                        <span id="close_combat-x-dice" class="clickable row-roll-trigger" hidden>
                            <i class="fa-solid fa-dice"></i>
                        </span>
                    </div>
                </td>
                <td data-title="Effet" class="md-form my-0 py-0 align-middle">
                    <input id="close_combat-x-effect" class="roll-effect form-control" type="text">
                    <label for="close_combat-x-effect"></label>
                </td>
                <td class="md-form m-0 p-0 align-middle">
                    <div id="close_combat-x-show-details" data-toggle="tooltip" data-placement="top"
                         title="Voir les détails du test"
                         class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <div id="close_combat-x-copy" data-toggle="tooltip" data-placement="top"
                         title="Copier le test"
                         class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2 row-copy">
                        <i class="fa-solid fa-copy"></i>
                    </div>
                    <div class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fa-solid fa-up-down-left-right d-md-none"></i>
                    </div>
                    {% with row_type = "close_combat", default_is_physical = True %}
                        {% include "talent_roll_modal.html" %}
                    {% endwith %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-12">
        <div class="col-lg-2 col-md-4 row">
            <div class="col-6 px-0 mx-0">
                <button id="add-close_combat" class="btn btn-success btn-block">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="col-6 px-0 mx-0">
                <div id="close_combat-table-remove" class="sortable-list text-center" style="min-height: 50px">
                    <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                            data-html="true" data-placement="bottom"
                            title="Déplacez un élément ici pour le supprimer">
                        <i class="fa-solid fa-trash-can fa-1x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row col-12 justify-content-center mb-2">
        <b>Combat à distance</b>
    </div>
    <div class="row col-12 collapsible-table table-responsive m-0 p-0" style="overflow-y: hidden !important;">
        <table class="table table-hover col-12 m-0 p-0">
            <thead>
            <tr>
                <th scope="col" style="min-width: 200px; width: 15%">Talent</th>
                <th scope="col" class="text-center" style="width: 5%">Formule</th>
                <th scope="col" class="text-center" style="width: 5%">Valeur</th>
                {% if version == V7 %}
                    <th scope="col" class="text-center" style="width: 15%">Portée</th>
                {% endif %}
                <th scope="col" style="min-width: 300px; width: 60%">Effet</th>
                <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody id="range_combat-table" class="sortable-list">
            <tr id="range_combat-x" class="align-middle" hidden>
                <td data-title="Talent" class="align-middle my-0 mr-0 pr-0 py-0">
                    <div class="row col-12 md-form mx-0 px-0 my-0 py-0 align-middle">
                        <div class="col-12 pl-md-4 m-0 p-0 align-middle">
                            <div id="range_combat-x-name" class="row col-12 ml-md-4 text-center d-none"></div>
                            <div class="row col-12 ml-md-1 mx-0 px-0 my-0 py-0">
                                <label for="range_combat-x-talent"></label>
                                <select class="show-tick form-control talent-select selectpicker range_combat-talent"
                                        data-live-search="true" id="range_combat-x-talent"
                                        data-style="col-10 px-3 align-middle" data-container="body" title="&nbsp;"
                                        data-max-options="1" multiple>
                                </select>
                            </div>
                        </div>
                        <i class="fa-solid fa-up-down-left-right prefix h-100 d-none d-md-inline" style="width: 1em;"></i>
                    </div>
                </td>
                <td data-title="Formule" class="my-0 py-0 roll-formula align-middle">
                    {% with row_type = "range_combat", row_class = "pl-md-0 pl-3" %}
                        {% include "roll_formula.html" %}
                    {% endwith %}
                </td>
                <td data-title="Valeur" class="my-md-0 py-md-0 py-2 text-center align-middle">
                    {% if version == V7 %}
                        {% set ranges = {"-normal": "Normal", "-point_blank": "Bout portant", "-slightly_far": "Loin", "-very_far": "Très loin"} %}
                    {% else %}
                        {% set ranges = {"": ""} %}
                    {% endif %}
                    {% for range in ranges %}
                        <div class="row col-12 m-0 p-0 my-2 justify-content-center">
                            <span class="d-md-none col-6 text-right">{{ ranges[range] }}</span>
                            <span id="range_combat-x-value{{ range }}" class="roll-value"></span>
                            <span id="range_combat-x-dice{{ range }}" class="clickable row-roll-trigger" hidden>
                                <i class="fa-solid fa-dice"></i>
                            </span>
                        </div>
                    {% endfor %}
                </td>
                {% if version == V7 %}
                    <td data-title="Portées" class="my-0 py-0 text-center align-middle pt-1">
                        {% for range in ranges %}
                            <div class="row form-row md-form col-12 m-0 p-0">
                                <input id="range_combat-x-distance{{ range }}"
                                       class="roll-distance form-control m-0 mb-1 p-0"
                                       type="text" value="Entre 0 m et 1 m">
                                <label for="range_combat-x-distance{{ range }}">{{ ranges[range] }}</label>
                            </div>
                        {% endfor %}
                    </td>
                {% endif %}
                <td data-title="Effets" class="md-form my-0 py-0 align-middle">
                    {% for range in ranges %}
                        <div class="row col-12 m-0 p-0 my-2">
                            {% if range == "-normal" or range == "" %}
                                <label for="range_combat-x-effect{{ range }}"></label>
                                <input id="range_combat-x-effect{{ range }}" class="roll-effect form-control m-0 p-0"
                                       type="text">
                            {% else %}
                                <label for="range_combat-x-effect{{ range }}"></label>
                                <input id="range_combat-x-effect{{ range }}" class="d-none" type="text">
                                <span id="range_combat-x-effect-span{{ range }}" class="roll-effect"
                                      style="color: #6c757d; font-size: 1rem">
                                    &nbsp;
                                </span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
                <td class="md-form m-0 p-0 align-middle">
                    <div id="range_combat-x-show-details" data-toggle="tooltip" data-placement="top"
                         title="Voir les détails du test"
                         class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <div id="range_combat-x-copy" data-toggle="tooltip" data-placement="top"
                         title="Copier le test"
                         class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2 row-copy">
                        <i class="fa-solid fa-copy"></i>
                    </div>
                    <div class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fa-solid fa-up-down-left-right d-md-none"></i>
                    </div>
                    {% with row_type = "range_combat", default_is_physical = True %}
                        {% include "talent_roll_modal.html" %}
                    {% endwith %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-12">
        <div class="col-lg-2 col-md-4 row">
            <div class="col-6 px-0 mx-0">
                <button id="add-range_combat" class="btn btn-success btn-block">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="col-6 px-0 mx-0">
                <div id="range_combat-table-remove" class="sortable-list text-center" style="min-height: 50px">
                    <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                            data-html="true" data-placement="bottom"
                            title="Déplacez un élément ici pour le supprimer">
                        <i class="fa-solid fa-trash-can fa-1x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    {% if dual_wielding %}
        <div class="row col-12 justify-content-center mb-2">
            <b>Combat à deux armes</b>
        </div>
        <div class="row col-12 collapsible-table table-responsive m-0 p-0" style="overflow-y: hidden !important;">
            <table class="table table-hover col-12 m-0 p-0">
                <thead>
                <tr>
                    <th scope="col" style="min-width: 200px; width: 15%">Arme primaire</th>
                    <th scope="col" style="min-width: 200px; width: 10%">Arme secondaire</th>
                    <th scope="col" class="text-center" style="width: 5%">Formule</th>
                    <th scope="col" class="text-center" style="width: 5%">Valeur</th>
                    <th scope="col" style="min-width: 300px; width: 65%">Effet</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody id="dual_wielding-table" class="sortable-list">
                <tr id="dual_wielding-x" class="align-middle" hidden>
                    <td data-title="Arme principale" class="align-middle my-0 mr-0 pr-0 py-0">
                        <div class="row col-12 md-form mx-0 px-0 my-0 py-0 align-middle">
                            <div class="col-12 pl-md-4 m-0 p-0 align-middle">
                                <div id="dual_wielding-x-name" class="row col-12 ml-md-4 text-center d-none"></div>
                                <div class="row col-12 ml-md-1 mx-0 px-0 my-0 py-0">
                                    <label for="dual_wielding-x-talent"></label>
                                    <select class="show-tick form-control talent-select selectpicker dual_wielding-talent"
                                            data-live-search="true" id="dual_wielding-x-talent"
                                            data-style="col-10 px-3 align-middle" data-container="body" title="&nbsp;"
                                            data-talent-filter-current-level="1,2,3" data-max-options="1" multiple>
                                    </select>
                                </div>
                            </div>
                            <i class="fa-solid fa-up-down-left-right prefix h-100 d-none d-md-inline" style="width: 1em;"></i>
                        </div>
                    </td>
                    <td data-title="Arme secondaire" class="align-middle my-0 mr-0 pr-0 py-0">
                        <div class="row col-12 md-form mx-0 px-0 my-0 py-0">
                            <label for="dual_wielding-x-tap-talent"></label>
                            <select class="show-tick form-control talent-select selectpicker dual_wielding-talent"
                                    data-live-search="true" id="dual_wielding-x-tap-talent"
                                    data-style="col-10 px-3 align-middle" data-container="body" title="&nbsp;"
                                    data-max-options="1" multiple>
                            </select>
                        </div>
                    </td>
                    <td data-title="Formule" class="my-0 py-0 dual_wielding-formula align-middle">
                        {% with row_type = "dual_wielding", row_class = "pl-md-0 pl-3" %}
                            {% include "roll_formula.html" %}
                        {% endwith %}
                    </td>
                    <td data-title="Valeur" class="my-md-0 py-md-0 py-2 text-center align-middle">
                        <div>
                            <span id="dual_wielding-x-value" class="dual_wielding-value"></span>
                            <span id="dual_wielding-x-dice" class="clickable row-roll-trigger" hidden>
                                    <i class="fa-solid fa-dice"></i>
                                </span>
                        </div>
                    </td>
                    <td data-title="Effet" class="md-form my-0 py-0 align-middle">
                        <input id="dual_wielding-x-effect" class="dual_wielding-effect form-control" type="text">
                        <label for="dual_wielding-x-effect"></label>
                    </td>
                    <td class="md-form m-0 p-0 align-middle">
                        <div id="dual_wielding-x-show-details" data-toggle="tooltip" data-placement="top"
                             title="Voir les détails du test"
                             class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                            <i class="fa-solid fa-gear"></i>
                        </div>
                        <div id="dual_wielding-x-copy" data-toggle="tooltip" data-placement="top"
                             title="Copier le test"
                             class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2 row-copy">
                            <i class="fa-solid fa-copy"></i>
                        </div>
                        <div class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                            <i class="fa-solid fa-up-down-left-right d-md-none"></i>
                        </div>
                        {% with row_type = "dual_wielding", default_is_physical = True %}
                            {% include "talent_roll_modal.html" %}
                        {% endwith %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-12">
            <div class="col-lg-2 col-md-4 row">
                <div class="col-6 px-0 mx-0">
                    <button id="add-dual_wielding" class="btn btn-success btn-block">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div class="col-6 px-0 mx-0">
                    <div id="dual_wielding-table-remove" class="sortable-list text-center" style="min-height: 50px">
                        <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                                data-html="true" data-placement="bottom"
                                title="Déplacez un élément ici pour le supprimer">
                            <i class="fa-solid fa-trash-can fa-1x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    {% endif %}
    <div class="row col-12 justify-content-center mb-2">
        <b>Tests courants</b>
    </div>
    <div class="row col-12 collapsible-table table-responsive m-0 p-0" style="overflow-y: hidden !important;">
        <table class="table table-hover col-12 m-0 p-0">
            <thead>
            <tr>
                <th scope="col" style="min-width: 200px; width: 15%">Talent</th>
                <th scope="col" class="text-center" style="width: 5%">Formule</th>
                <th scope="col" class="text-center" style="width: 5%">Valeur</th>
                <th scope="col" style="min-width: 300px; width: 75%">Effet</th>
                <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody id="roll-table" class="sortable-list">
            <tr id="roll-x" class="align-middle" hidden>
                <td data-title="Talent" class="align-middle my-0 mr-0 pr-0 py-0">
                    <div class="row col-12 md-form mx-0 px-0 my-0 py-0 align-middle">
                        <div class="col-12 pl-md-4 m-0 p-0 align-middle">
                            <div id="roll-x-name" class="row col-12 ml-md-4 text-center d-none"></div>
                            <div class="row col-12 ml-md-1 mx-0 px-0 my-0 py-0">
                                <label for="roll-x-talent"></label>
                                <select class="show-tick form-control talent-select selectpicker roll-talent"
                                        data-live-search="true" id="roll-x-talent"
                                        data-style="col-10 px-3 align-middle" data-container="body" title="&nbsp;"
                                        data-max-options="1" multiple>
                                </select>
                            </div>
                        </div>
                        <i class="fa-solid fa-up-down-left-right prefix h-100 d-none d-md-inline" style="width: 1em;"></i>
                    </div>
                </td>
                <td data-title="Formule" class="my-0 py-0 roll-formula align-middle">
                    {% with row_type = "roll", row_class = "pl-md-0 pl-3" %}
                        {% include "roll_formula.html" %}
                    {% endwith %}
                </td>
                <td data-title="Valeur" class="my-md-0 py-md-0 py-2 text-center align-middle">
                    <div>
                        <span id="roll-x-value" class="roll-value"></span>
                        <span id="roll-x-dice" class="clickable row-roll-trigger" hidden>
                            <i class="fa-solid fa-dice"></i>
                        </span>
                    </div>
                </td>
                <td data-title="Effet" class="md-form my-0 py-0 align-middle">
                    <input id="roll-x-effect" class="roll-effect form-control" type="text">
                    <label for="roll-x-effect"></label>
                </td>
                <td class="md-form m-0 p-0 align-middle">
                    <div id="roll-x-show-details" data-toggle="tooltip" data-placement="top"
                         title="Voir les détails du test"
                         class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <div id="roll-x-copy" data-toggle="tooltip" data-placement="top"
                         title="Copier le test"
                         class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2 row-copy">
                        <i class="fa-solid fa-copy"></i>
                    </div>
                    <div class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fa-solid fa-up-down-left-right d-md-none"></i>
                    </div>
                    {% with row_type = "roll" %}
                        {% include "talent_roll_modal.html" %}
                    {% endwith %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-12">
        <div class="col-lg-2 col-md-4 row">
            <div class="col-6 px-0 mx-0">
                <button id="add-roll" class="btn btn-success btn-block">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="col-6 px-0 mx-0">
                <div id="roll-table-remove" class="sortable-list text-center" style="min-height: 50px">
                    <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                            data-html="true" data-placement="bottom"
                            title="Déplacez un élément ici pour le supprimer">
                        <i class="fa-solid fa-trash-can fa-1x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row mt-3">
        <div class="col-12">Lancers de dés libre</div>
    </div>
    <div class="row col-12">
        <div id="roll-1d6" class="btn btn-info text-center"><i class="fa-solid fa-dice-six"></i></div>
        <div id="roll-2d6" class="btn btn-info text-center"><i class="fa-solid fa-dice"></i></div>
    </div>
    <div class="row col-12 form-row mt-1 md-form p-0 m-0 align-middle">
        <div class="col-lg-1 col-md-2 col-6 mt-2">
            <label for="roll-free-number">Nombre de d6</label>
            <input class="form-control" id="roll-free-number" type="number" value="2">
        </div>
        <div class="col-md-1 col-md-2 col-3 mt-2">
            <label for="roll-threshold">
                Sous
            </label>
            <input class="form-control" id="roll-threshold" type="number" value="">
        </div>
        <div id="roll-free" class="btn btn-info text-center">Lancer</div>
    </div>
</div>
