<div class="container">
    <div class="modal fade bd-modal-lg" id="roll-dialog" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header justify-content-between">
                    <div class="flex justify-content-center">
                        <button type="button" class="close d-md-none"
                                data-dismiss="modal" aria-label="Close" hidden>
                            <i class="fas fa-times"></i>
                        </button>
                        <button id="roll-dialog-history-backward" class="btn btn-light">
                            <i class="fas fa-angle-double-left"></i>
                        </button>
                    </div>
                    <span class="text-center">
                        <span id="roll-dialog-title" class="modal-title text-center"></span>
                        <br class="d-none"/>
                        <button id="roll-dialog-redo" class="btn btn-light d-none">
                            Relancer&nbsp;<i class="fas fa-redo-alt"></i>
                        </button>
                    </span>
                    <div class="flex justify-content-center">
                        <button id="roll-dialog-history-forward" class="btn btn-light">
                            <i class="fas fa-angle-double-right"></i>
                        </button>
                        <button type="button" class="close d-md-none" data-dismiss="modal"
                                aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="modal-body align-middle">
                    <div id="roll-dialog-critical" class="row mx-1">
                        <!-- In case of critical -->
                    </div>
                    <div class="row mx-1">
                        <!-- Show the result of the roll -->
                        <div>
                            <span id="roll-dialog-result-label"></span><span id="roll-dialog-result"></span>
                        </div>
                    </div>
                    <div id="roll-dialog-details" class="roll-dialog-effect-hide align-middle"></div>
                    <div class="row mx-1 roll-dialog-effect-hide">
                        <!-- Warn user about current malus here -->
                        <span id="roll-dialog-penalties" style="white-space: pre-line;"></span>
                    </div>
                    <div class="row mx-1 roll-dialog-effect-hide roll-dialog-slider roll-dialog-superpower-slider">
                        <label id="roll-dialog-superpower-modifier-label" for="roll-dialog-superpower-modifier">
                            Modificateur au nombre de réussites (ex. les duels entre super-héros)
                        </label>
                    </div>
                    <div class="row mx-1 mt-5 roll-dialog-effect-hide roll-dialog-slider roll-dialog-superpower-slider col-md-6 col-12">
                        <input id="roll-dialog-superpower-modifier"
                               data-slider-id="roll-dialog-superpower-modifier-slider" type="text" data-slider-min="-12"
                               data-slider-max="0" data-slider-step="1" data-slider-value="0" class="input-slider"
                               data-slider-tooltip-position="top"/>
                    </div>
                    <div class="row mx-1 roll-dialog-effect-hide roll-dialog-slider">
                        <label id="roll-dialog-modifier-label" for="roll-dialog-modifier">
                            {% if version == V8 %}
                                Modificateur
                            {% else %}
                                Modificateur circonstanciel&nbsp;
                            {% endif %}
                        </label>
                    </div>
                    <div class="row mx-1 mt-5 roll-dialog-effect-hide roll-dialog-slider col-md-6 col-12">
                        <input id="roll-dialog-modifier" data-slider-id="roll-dialog-modifier-slider" type="text"
                               data-slider-min="-12" data-slider-max="12" data-slider-step="1" data-slider-value="0"
                               class="input-slider" data-slider-tooltip-position="top"/>
                    </div>
                    {% if version == V7 %}
                        <div class="row mx-1 roll-dialog-effect-hide roll-dialog-slider-effect">
                            <label id="roll-dialog-effect-modifier-label" for="roll-dialog-effect-modifier">
                                Modificateur aux dés d'effet (ex. armure cible)&nbsp;
                            </label>
                        </div>
                        <div class="row mx-1 mt-5 roll-dialog-effect-hide roll-dialog-slider-effect col-md-6 col-12">
                            <input id="roll-dialog-effect-modifier" data-slider-id="roll-dialog-effect-modifier-slider"
                                   type="text" data-slider-min="-12" data-slider-max="12" data-slider-step="1"
                                   data-slider-value="0" class="input-slider" data-slider-tooltip-position="top"/>
                        </div>
                    {% endif %}
                    {% if not discovery %}
                        <div class="row mx-1 roll-dialog-effect-hide">
                            <b class="roll-dialog-energy-investment d-none"><br/>Energies investies</b>
                        </div>
                        <div class="row md-form form-row mx-1 mt-2 mb-0 roll-dialog-effect-hide roll-dialog-base-energy-hide">
                            <div class="align-middle input-with-pre-icon col-md-4 col-6 m-0 d-none"
                                 data-toggle="tooltip" data-placement="bottom"
                                    {% if version == V7 %}
                                 title="Puissance investie pour augmenter la marge"
                                    {% else %}
                                 title="Puissance investie"
                                    {% endif %}>
                                <svg height="3em" width="2em" class="input-prefix">
                                    <use xlink:href="#svg-power"></use>
                                </svg>
                                {% if version == V7 %}
                                    <label for="roll-dialog-power"></label>
                                {% endif %}
                                <input class="roll-dialog-energy form-control text-center" id="roll-dialog-power"
                                       type="number" value="0" min="0" max="0">
                            </div>
                            <div class="align-middle input-with-pre-icon col-md-4 col-6 m-0 d-none"
                                 data-toggle="tooltip" data-placement="bottom"
                                    {% if version == V7 %}
                                 title="Rapidité investie pour augmenter la marge"
                                    {% else %}
                                 title="Rapidité investie"
                                    {% endif %}>
                                <svg height="3em" width="2em" class="input-prefix">
                                    <use xlink:href="#svg-speed"></use>
                                </svg>
                                {% if version == V7 %}
                                    <label for="roll-dialog-speed"></label>
                                {% endif %}
                                <input class="roll-dialog-energy form-control text-center" id="roll-dialog-speed"
                                       type="number" value="0" min="0" max="0">
                            </div>
                            <div class="align-middle input-with-pre-icon col-md-4 col-6 m-0 d-none"
                                 data-toggle="tooltip" data-placement="bottom"
                                    {% if version == V7 %}
                                 title="Précision investie pour augmenter la marge"
                                    {% else %}
                                 title="Précision investie"
                                    {% endif %}>
                                <svg height="3em" width="2em" class="input-prefix">
                                    <use xlink:href="#svg-precision"></use>
                                </svg>
                                {% if version == V7 %}
                                    <label for="roll-dialog-precision"></label>
                                {% endif %}
                                <input class="roll-dialog-energy form-control text-center" id="roll-dialog-precision"
                                       type="number" value="0" min="0" max="0">
                            </div>
                        </div>
                        {% if version == V7 %}
                            <div class="row md-form form-row mx-1 mt-2 mb-0 roll-dialog-effect-hide roll-dialog-focus-hide">
                                <div class="align-middle input-with-pre-icon col-md-4 col-6 m-0 d-none"
                                     data-toggle="tooltip" data-placement="bottom" title="">
                                    <svg height="3em" width="2em" class="input-prefix">
                                        <use xlink:href="#svg-power"></use>
                                    </svg>
                                    <label for="roll-dialog-optional-power"></label>
                                    <input class="roll-dialog-energy form-control text-center"
                                           id="roll-dialog-optional-power" type="number" value="0" min="0" max="0">
                                </div>
                                <div class="align-middle input-with-pre-icon col-md-4 col-6 m-0 d-none"
                                     data-toggle="tooltip" data-placement="bottom" title="">
                                    <svg height="3em" width="2em" class="input-prefix">
                                        <use xlink:href="#svg-speed"></use>
                                    </svg>
                                    <label for="roll-dialog-optional-speed"></label>
                                    <input class="roll-dialog-energy form-control text-center"
                                           id="roll-dialog-optional-speed" type="number" value="0" min="0" max="0">
                                </div>
                                <div class="align-middle input-with-pre-icon col-md-4 col-6 m-0 d-none"
                                     data-toggle="tooltip" data-placement="bottom" title="">
                                    <svg height="3em" width="2em" class="input-prefix">
                                        <use xlink:href="#svg-precision"></use>
                                    </svg>
                                    <label for="roll-dialog-optional-precision"></label>
                                    <input class="roll-dialog-energy form-control text-center"
                                           id="roll-dialog-optional-precision"
                                           type="number" value="0" min="0" max="0">
                                </div>
                            </div>
                            <div class="row md-form form-row mx-1 mt-2 mb-0 roll-dialog-magic-hide">
                                <div class="align-middle input-with-pre-icon col-md-4 col-6 m-0 d-none"
                                     data-toggle="tooltip" data-placement="bottom" title="">
                                    <svg height="3em" width="2em" class="input-prefix">
                                        <use xlink:href="#svg-power"></use>
                                    </svg>
                                    <label for="roll-dialog-magic-power"></label>
                                    <input class="roll-dialog-energy form-control text-center"
                                           id="roll-dialog-magic-power" type="number" value="0" min="0" max="0">
                                </div>
                            </div>
                            <div class="row mx-1 roll-dialog-effect-hide">
                                <b class="roll-dialog-component-hide d-none">
                                    <br/>Pratiques magiques utilisées (Seuil + 1 par pratique)
                                </b>
                            </div>
                            <div class="row mx-1 roll-dialog-effect-hide">
                                <div class="custom-control custom-checkbox custom-control-inline roll-dialog-component-hide d-none">
                                    <input type="checkbox" class="roll-dialog-component custom-control-input"
                                           id="roll-dialog-incantation" name="roll-dialog-incantation">
                                    <label class="custom-control-label" for="roll-dialog-incantation">
                                        Incantation
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline roll-dialog-component-hide d-none">
                                    <input type="checkbox" class="roll-dialog-component custom-control-input"
                                           id="roll-dialog-somatic-component" name="roll-dialog-somatic-component">
                                    <label class="custom-control-label" for="roll-dialog-somatic-component">
                                        Gestuelle
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline roll-dialog-component-hide d-none">
                                    <input type="checkbox" class="roll-dialog-component custom-control-input"
                                           id="roll-dialog-material-component" name="roll-dialog-material-component">
                                    <label class="custom-control-label" for="roll-dialog-material-component">
                                        Composants matériels
                                    </label>
                                </div>
                            </div>
                            <div class="roll-dialog-component-hide d-none">
                                <br/>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div id="roll-dialog-validate"
                         class="row mx-1 roll-dialog-effect-hide justify-content-center mt-2">
                        <div class="btn btn-success rounded-lg">
                            Valider &nbsp;<i class="fas fa-dice fa-2x rounded-lg"></i>
                        </div>
                    </div>
                    <hr class="roll-dialog-effect-hide"/>
                    <div id="roll-dialog-effect" class="roll-dialog-effect-hide"
                         style="white-space: pre-line;"></div>
                    <hr/>
                    <div class="row mx-1 my-0 md-form form-row form-inline roll-dialog-equipment-hide">
                        Dépenser&nbsp;
                        <input id="roll-dialog-expended-charges" class="form-control text-center col-1" type="number"
                               value="1" min="0" aria-label="">
                        &nbsp;
                        <span id="roll-dialog-unit-equipment"></span>
                        <span id="roll-dialog-unit-equipment-plural"></span>
                        &nbsp;de l'équipement '
                        <span id="roll-dialog-expended-equipment"></span>
                        ' (
                        <span id="roll-dialog-remaining-equipment"></span>
                        )
                    </div>
                    <div class="row mx-1 my-0 justify-content-center mt-2 roll-dialog-equipment-hide">
                        <div id="roll-dialog-validate-equipment" class="btn btn-success rounded-lg">
                            Dépenser
                        </div>
                    </div>
                    <hr class="roll-dialog-equipment-hide"/>
                    <div class="row mx-1">
                        Le test nécessite parfois de lancer un autre dé:
                    </div>
                    <div class="row mx-1">
                        <div id="roll-dialog-1d6" class="btn btn-info"><i class="fas fa-dice-six"></i></div>
                        <div id="roll-dialog-1d6-result" class="mt-3"></div>
                    </div>
                    <hr/>
                    <ul class="nav nav-tabs" role="tablist">
                        {% if localisation_target %}
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#localisation-tab" role="tab"
                                   aria-controls="localisation-tab" aria-selected="true">
                                    Localisation
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#damage-tab" role="tab"
                                   aria-controls="damage-tab" aria-selected="false">
                                    Table des dégâts et effets
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#range-tab" role="tab"
                                   aria-controls="range-tab" aria-selected="false">
                                    Portée
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#close_combat-tab" role="tab"
                                   aria-controls="close_combat-tab" aria-selected="false">
                                    Modificateur au corps à corps
                                </a>
                            </li>
                        {% elif version == V7 %}
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#damage-tab" role="tab"
                                   aria-controls="damage-tab" aria-selected="true">
                                    Table des dégâts et effets
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#range-tab" role="tab"
                                   aria-controls="range-tab" aria-selected="false">
                                    Portée
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#close_combat-tab" role="tab"
                                   aria-controls="close_combat-tab" aria-selected="false">
                                    Modificateur au corps à corps
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#range-tab" role="tab"
                                   aria-controls="range-tab" aria-selected="true">
                                    Portée
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="tab-content">
                        {% if localisation_target %}
                            <div id="localisation-tab" class="tab-pane fade show active row mx-1">
                                <div class="table-responsive col-12" style="overflow-y: hidden !important;">
                                    <table class="table table-hover table-bordered table-striped my-1">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="text-center align-middle" style="width: 20%">
                                                1d6
                                            </th>
                                            <th scope="col" class="text-center align-middle" style="width: 20%">
                                                Contact sans viser
                                            </th>
                                            <th scope="col" class="text-center align-middle" style="width: 20%">
                                                Distance sans viser
                                            </th>
                                            <th scope="col" class="text-center align-middle" style="width: 20%">
                                                Viser le haut (-2)
                                            </th>
                                            <th scope="col" class="text-center align-middle" style="width: 20%">
                                                Viser le bas (-2)
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr id="localisation-row-1" class="localisation-row">
                                            <th class="text-center">1</th>
                                            <td class="text-center">Tête</td>
                                            <td class="text-center">Tête</td>
                                            <td class="text-center">Bras gauche</td>
                                            <td class="text-center">Jambe gauche</td>
                                        </tr>
                                        <tr id="localisation-row-2" class="localisation-row">
                                            <td class="text-center">2</td>
                                            <td class="text-center">Torse</td>
                                            <td class="text-center">Torse</td>
                                            <td class="text-center">Bras gauche</td>
                                            <td class="text-center">Jambe gauche</td>
                                        </tr>
                                        <tr id="localisation-row-3" class="localisation-row">
                                            <td class="text-center">3</td>
                                            <td class="text-center">Torse</td>
                                            <td class="text-center">Bras gauche</td>
                                            <td class="text-center">Torse</td>
                                            <td class="text-center">Jambe gauche</td>
                                        </tr>
                                        <tr id="localisation-row-4" class="localisation-row">
                                            <td class="text-center">4</td>
                                            <td class="text-center">Bras gauche</td>
                                            <td class="text-center">Bras droite</td>
                                            <td class="text-center">Torse</td>
                                            <td class="text-center">Jambe droite</td>
                                        </tr>
                                        <tr id="localisation-row-5" class="localisation-row">
                                            <td class="text-center">5</td>
                                            <td class="text-center">Bras droite</td>
                                            <td class="text-center">Jambe gauche</td>
                                            <td class="text-center">Bras droite</td>
                                            <td class="text-center">Jambe droite</td>
                                        </tr>
                                        <tr id="localisation-row-6" class="localisation-row">
                                            <td class="text-center">6 pair/impair</td>
                                            <td class="text-center">Jambe gauche/droite</td>
                                            <td class="text-center">Jambe droite</td>
                                            <td class="text-center">Bras droite</td>
                                            <td class="text-center">Jambe droite</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row col-12 mx-1 mt-2">Malus pour viser</div>
                                <div class="table-responsive col-12" style="overflow-y: hidden !important;">
                                    <table class="table table-hover table-bordered table-striped my-1">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="col-3 text-center align-middle"
                                                style="width: 25%">
                                                Le haut/le bas
                                            </th>
                                            <th scope="col" class="col-3 text-center align-middle"
                                                style="width: 25%">
                                                La tête et le bras d'arme au contact
                                            </th>
                                            <th scope="col" class="col-3 text-center align-middle"
                                                style="width: 25%">
                                                Une autre zone au contact
                                            </th>
                                            <th scope="col" class="col-3 text-center align-middle"
                                                style="width: 25%">
                                                Une zone à distance
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">-2</td>
                                            <td class="text-center">-4</td>
                                            <td class="text-center">-3</td>
                                            <td class="text-center">-4</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% set damage_active = "" %}
                        {% else %}
                            {% set damage_active = "show active" %}
                        {% endif %}
                        {% if version == V7 %}
                            <div id="damage-tab" class="tab-pane {{ damage_active }} fade row mx-1">
                                <div class="table-responsive col-12" style="overflow-y: hidden !important;">
                                    <table class="table table-hover table-bordered table-striped my-1">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="col-1 text-center"
                                                style="white-space: nowrap; width: 8.3%">
                                                MR+2d6
                                            </th>
                                            <th scope="col" class="col-1 text-center" style="width: 8.3%">A</th>
                                            <th scope="col" class="col-1 text-center" style="width: 8.3%">B</th>
                                            <th scope="col" class="col-1 text-center" style="width: 8.3%">C</th>
                                            <th scope="col" class="col-1 text-center" style="width: 8.3%">D</th>
                                            <th scope="col" class="col-1 text-center" style="width: 8.3%">E</th>
                                            <th scope="col" class="col-1 text-center" style="width: 8.3%">F</th>
                                            <th scope="col" class="col-1 text-center" style="width: 8.3%">G</th>
                                            <th scope="col" class="col-1 text-center" style="width: 8.3%">H</th>
                                            <th scope="col" class="col-1 text-center" style="width: 8.3%">I</th>
                                            <th scope="col" class="col-1 text-center" style="width: 8.3%">J</th>
                                            <th scope="col" class="col-1 text-center" style="width: 8.3%">K</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th class="text-center">3</th>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">4 5 6</th>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">3</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">7 8 9</th>
                                            <td class="text-center">0</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">5</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">10 11</th>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">5</td>
                                            <td class="text-center">5</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">12 13 14</th>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">5</td>
                                            <td class="text-center">5</td>
                                            <td class="text-center">6</td>
                                            <td class="text-center">6</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">15 16 17 18</th>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">3</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">5</td>
                                            <td class="text-center">6</td>
                                            <td class="text-center">6</td>
                                            <td class="text-center">8</td>
                                            <td class="text-center">8</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">19 20 21 22</th>
                                            <td class="text-center">2</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">5</td>
                                            <td class="text-center">6</td>
                                            <td class="text-center">6</td>
                                            <td class="text-center">7</td>
                                            <td class="text-center">8</td>
                                            <td class="text-center">8</td>
                                            <td class="text-center">10</td>
                                            <td class="text-center">10</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">23 24 25 26</th>
                                            <td class="text-center">3</td>
                                            <td class="text-center">4</td>
                                            <td class="text-center">5</td>
                                            <td class="text-center">6</td>
                                            <td class="text-center">8</td>
                                            <td class="text-center">8</td>
                                            <td class="text-center">9</td>
                                            <td class="text-center">9</td>
                                            <td class="text-center">10</td>
                                            <td class="text-center">12</td>
                                            <td class="text-center">12</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="white-space: nowrap">par tranche de 4</th>
                                            <td class="text-center">+1</td>
                                            <td class="text-center">+1</td>
                                            <td class="text-center">+2</td>
                                            <td class="text-center">+2</td>
                                            <td class="text-center">+2</td>
                                            <td class="text-center">+2</td>
                                            <td class="text-center">+3</td>
                                            <td class="text-center">+3</td>
                                            <td class="text-center">+4</td>
                                            <td class="text-center">+4</td>
                                            <td class="text-center">+6</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% set range_active = "" %}
                        {% else %}
                            {% set range_active = "show active" %}
                        {% endif %}
                        <div id="range-tab" class="tab-pane {{ range_active }} fade row mx-1">
                            {% if version == V8 %}
                                <div class="table-responsive col-12" style="overflow-y: hidden !important;">
                                    <table class="table table-hover table-bordered table-striped my-1">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="col-3 text-center align-middle" style="width: 16.6%">
                                            </th>
                                            <th scope="col" class="col-3 text-center align-middle"
                                                style="width: 16.6%">
                                                Bout portant
                                            </th>
                                            <th scope="col" class="col-3 text-center align-middle"
                                                style="width: 16.6%">
                                                Près
                                            </th>
                                            <th scope="col" class="col-3 text-center align-middle"
                                                style="width: 16.6%">
                                                Normal
                                            </th>
                                            <th scope="col" class="col-3 text-center align-middle"
                                                style="width: 16.6%">
                                                Loin
                                            </th>
                                            <th scope="col" class="col-3 text-center align-middle"
                                                style="width: 16.6%">
                                                Très loin
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th class="text-center align-middle">Difficulté du test</th>
                                            <td class="text-center align-middle">+4</td>
                                            <td class="text-center align-middle">+2</td>
                                            <td class="text-center align-middle">0</td>
                                            <td class="text-center align-middle">-2</td>
                                            <td class="text-center align-middle">-4</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="table-responsive col-12" style="overflow-y: hidden !important;">
                                    <table class="table table-hover table-bordered table-striped my-1">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="col-3 text-center align-middle" style="width: 16.6%">
                                            </th>
                                            <th scope="col" class="col-3 text-center align-middle"
                                                style="width: 20%">
                                                Bout portant
                                            </th>
                                            <th scope="col" class="col-3 text-center align-middle"
                                                style="width: 20%">
                                                Normal
                                            </th>
                                            <th scope="col" class="col-3 text-center align-middle"
                                                style="width: 20%">
                                                Loin
                                            </th>
                                            <th scope="col" class="col-3 text-center align-middle"
                                                style="width: 20%">
                                                Très loin
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th class="text-center align-middle">Colonne de dégâts</th>
                                            <td class="text-center align-middle">+2 colonnes</td>
                                            <td class="text-center align-middle">-</td>
                                            <td class="text-center align-middle">-1 colonne</td>
                                            <td class="text-center align-middle">-2 colonnes</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center align-middle">Difficulté du test</th>
                                            <td class="text-center align-middle">selon les circonstances</td>
                                            <td class="text-center align-middle">0</td>
                                            <td class="text-center align-middle">-2</td>
                                            <td class="text-center align-middle">-4</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                        {% if version == V7 %}
                            <div id="close_combat-tab" class="tab-pane fade row mx-1">
                                <div class="row col-12 mx-1">
                                    Nombre d'adversaires contrés (max 3), incluant ceux attaqués
                                </div>
                                <div class="row mx-1 md-form col-md-2 py-0 my-0">
                                    <label class="py-0 my-0" for="roll-dialog-defense">
                                    </label>
                                    <input class="form-control py-0 my-0 text-center roll-dialog-attack-difficulty"
                                           id="roll-dialog-defense" type="number" value="1" min="1">
                                </div>
                                <div class="row col-12 mx-1">
                                    Nombre d'attaques personnelles (tous adversaires confondus)
                                </div>
                                <div class="row mx-1 md-form col-md-2 py-0 my-0">
                                    <label class="py-0 my-0" for="roll-dialog-attack">
                                    </label>
                                    <input class="form-control py-0 my-0 text-center roll-dialog-attack-difficulty"
                                           id="roll-dialog-attack" type="number" value="1" min="1" max="5">
                                </div>
                                <div class="row col-12 mx-1">
                                    Nombre total d'attaques sur l'adversaire (alliées et personnelles)
                                </div>
                                <div class="row mx-1 md-form col-md-2 py-0 my-0">
                                    <label class="py-0 my-0" for="roll-dialog-total-attack">
                                    </label>
                                    <input class="form-control py-0 my-0 text-center roll-dialog-attack-difficulty"
                                           id="roll-dialog-total-attack" type="number" value="1" min="1">
                                </div>
                                <div class="row col-12 mx-1">
                                    Modificateur pour les attaques au corps à corps:&nbsp;
                                    <span id="roll-dialog-attack-difficulty">+0</span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
