{% extends "roll_modal.html" %}

{% block previous_fields %}
    <hr/>
    <div class="row col-12 mx-1">
        Magie noire:
    </div>
    <div class="row mx-1 md-form col-12 py-0 my-0 mb-2">
        <label class="py-0 my-0" for="{{ row_type }}-x-details-black-magic"></label>
        <input class="form-control py-0 my-0" type="text" value=""
               id="{{ row_type }}-x-details-black-magic">
    </div>
    <div class="row col-12 mx-1">
        Résistance:
    </div>
    <div class="row mx-1 md-form col-12 py-0 my-0">
        <label class="py-0 my-0" for="{{ row_type }}-x-details-resistance"></label>
        <input class="form-control py-0 my-0" type="text" value="" id="{{ row_type }}-x-details-resistance">
    </div>
{% endblock %}
