<!-- Unease Note -->
<div class="container">
    <div class="modal fade bd-modal-lg" id="unease-details" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4>Malaise</h4>
                </div>
                <div class="modal-body align-middle">
                    <div class="row mx-1 md-form col-12 py-0 my-0 mb-2">
                        <label class="py-0 my-0" for="details-unease"></label>
                        <input class="form-control py-0 my-0" type="text" value="" id="details-unease"
                               placeholder="Note">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Increase Breath -->
<div class="container">
    <div class="modal fade bd-modal-lg" id="breath-max-update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4>Points de souffle</h4>
                </div>
                <div class="modal-body align-middle">
                    <div class="row mx-1 md-form col-12 py-0 my-0 mb-2">
                        <label class="py-0 my-0" for="details-breath"></label>
                        <input class="form-control py-0 my-0" type="text" value="" id="details-breath"
                               placeholder="Note">
                    </div>
                    <hr/>
                    <div class="row">
                        <button id="increment-breath" class="btn btn-success col-6 mx-0 px-0">
                            Augmenter de 1 le maximum des PS
                        </button>
                        <button id="decrement-breath" class="btn btn-danger col-6 mx-0 px-0">
                            Diminuer de 1 le maximum des PS
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Increase Psychic Balance -->
<div class="container">
    <div class="modal fade bd-modal-lg" id="psychic-max-update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4>Points d'équilibre psychique</h4>
                </div>
                <div class="modal-body align-middle">
                    <div class="row mx-1 md-form col-12 py-0 my-0 mb-2">
                        <label class="py-0 my-0" for="details-psychic"></label>
                        <input class="form-control py-0 my-0" type="text" value="" id="details-psychic"
                               placeholder="Note">
                    </div>
                    <hr/>
                    <div class="row">
                        <button id="increment-psychic" class="btn btn-success col-6 mx-0 px-0">
                            Augmenter de 1 le maximum des EP
                        </button>
                        <button id="decrement-psychic" class="btn btn-danger col-6 mx-0 px-0">
                            Diminuer de 1 le maximum des EP
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Increase Health -->
{% if localisation %}
    {% set health_zones = {"trunk": " au torse", "head": " à la tête", "right-arm": " au bras droit", "left-arm": " au bras gauche", "right-leg": " à la jambe droite", "left-leg": " à la jambe gauche"} %}
    {% set note_desc = "Note sur la zone qui apparaît dans l'info-bulle de la zone" %}
{% else %}
    {% set health_zones = {"trunk": ""} %}
    {% set note_desc = "Note" %}
{% endif %}
{% for zone in health_zones %}
    <div class="container">
        <div class="modal fade bd-modal-lg" id="hp-{{ zone }}-max-update" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h4>Points de vie{{ health_zones[zone] }}</h4>
                    </div>
                    <div class="modal-body align-middle">
                        <div class="row mx-1 md-form col-12 py-0 my-0 mb-2">
                            <label class="py-0 my-0" for="details-hp-{{ zone }}"></label>
                            <input class="form-control py-0 my-0" type="text" value=""
                                   id="details-hp-{{ zone }}" placeholder="{{ note_desc }}">
                        </div>
                        <hr/>
                        <div class="row">
                            <button id="increment-hp-{{ zone }}" class="btn btn-success col-6 mx-0 px-0">
                                Augmenter de 1 le maximum des PV{{ health_zones[zone] }}
                            </button>
                            <button id="decrement-hp-{{ zone }}" class="btn btn-danger col-6 mx-0 px-0">
                                Diminuer de 1 le maximum des PV{{ health_zones[zone] }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
