{% if discovery %}
    {% set max_slider = 5 %}
{% else %}
    {% set max_slider = 4 %}
{% endif %}
{% if version == V7 %}
    {% set max_breath_slider = 4 %}
{% else %}
    {% set max_breath_slider = 5 %}
{% endif %}
<div id="status-tab" class="tab-pane fade show active justify-content-center">
    <div class="row col-12 justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 ml-1">
            <!-- HP, breath and psychic balance -->
            <div class="row clickable btn-link" data-toggle="modal" data-target="#hp-trunk-max-update">
                <label id="hp-title" class="clickable" for="hp-trunk" data-toggle="tooltip" data-placement="right"
                       title="" data-original-title-base="" data-html="true">
                    Points de vie (PV)
                </label>
            </div>
            <div class="row mb-3">
                <input id="hp-trunk" class="hp input-slider" data-slider-id="hp-trunk-slider" type="text"
                       data-slider-min="0" data-slider-max="{{ max_slider }}" data-slider-step="1"
                       data-slider-value="{{ max_slider }}" data-slider-handle="custom" data-slider-reversed="true"/>
            </div>

            <div class="row clickable btn-link" data-toggle="modal" data-target="#breath-max-update">
                <label id="breath-title" class="clickable" for="breath" data-toggle="tooltip" data-placement="right"
                       data-html="true">
                    Souffle (PS)
                </label>
            </div>
            <div class="row mb-3">
                <input id="breath" data-slider-id="breath-slider" type="text" data-slider-min="0"
                       data-slider-max="{{ max_breath_slider }}" data-slider-step="1"
                       data-slider-value="{{ max_breath_slider }}" data-slider-reversed="true"
                       class="input-slider" data-slider-handle="custom" data-slider-tooltip-position="bottom"/>
            </div>
            <div class="row clickable btn-link" data-toggle="modal" data-target="#psychic-max-update">
                <label id="psychic-title" class="clickable" for="psychic" data-toggle="tooltip" data-placement="right"
                       title="" data-html="true">
                    Équilibre Psychique (EP)
                </label>
            </div>
            <div class="row">
                <input id="psychic" data-slider-id="psychic-slider" type="text" data-slider-min="0"
                       data-slider-max="{{ max_slider }}" data-slider-step="1" data-slider-value="{{ max_slider }}"
                       data-slider-reversed="true"
                       class="input-slider" data-slider-handle="custom" data-slider-tooltip-position="bottom"/>
            </div>
            <div class="row">
                <label for="rest">Jours de repos</label>
            </div>
            <div class="row mb-md-0 mb-3">
                <input id="rest" data-slider-id="rest-slider" type="text" data-slider-min="0"
                       data-slider-max="7"
                       data-slider-step="1" data-slider-value="0" class="input-slider"
                       data-slider-handle="custom" data-slider-tooltip-position="bottom"/>
            </div>
        </div>
        {% if not intermediate_discovery %}
            <div class="col-xl-3 col-md-4 col-sm-6 ml-md-1">
                <!-- Protection summary -->
                <div class="row pl-1">
                    <label for="armor">Armure</label>
                </div>
                <div class="row mt-1 md-form form-sm m-0 input-with-pre-icon" style="width: 200px">
                    <svg height="2em" width="2em" class="input-prefix">
                        <use xlink:href="#svg-chest-armor"></use>
                    </svg>
                    <input type="number" id="armor" class="armor form-control form-control-sm text-center" min="0"
                           value="0">
                </div>

                <div class="row mt-1 md-form form-sm m-0 pl-0 ml-0 input-with-pre-icon" style="width: 200px">
                    <svg height="2em" width="2em" class="input-prefix pl-0 ml-0">
                        <use xlink:href="#svg-shield"></use>
                    </svg>
                    <select id="shield" title=""
                            class="show-tick form-control form-control-sm text-center selectpicker mr-2 pl-0 ml-0">
                        <option value="0" selected>Pas de bouclier</option>
                        <option value="1">Petit bouclier</option>
                        <option value="2">Grand bouclier</option>
                    </select>
                </div>

                <div class="row mt-1 md-form form-sm m-0 input-with-pre-icon" style="width: 200px">
                <span class="input-prefix">
                    Gêne
                </span>
                    <input class="form-control energy text-center" id="armor-penalty-input" type="number"
                           value="0" min="0">
                    <label for="armor-penalty-input" hidden></label>
                </div>

                <div class="row mt-1 md-form form-sm m-0 input-with-pre-icon" style="width: 200px">
                <span class="input-prefix">
                    Absorption
                </span>
                    <input class="form-control text-center" id="armor-absorption" type="number"
                           value="0" min="0">
                    <label for="armor-absorption" hidden></label>
                </div>
            </div>
        {% endif %}
    </div>
</div>
