<div id="status-tab" class="tab-pane fade show active row">
    <div class="row container offset-xl-3 offset-lg-2 offset-md-1">
        <!-- Localized HP and protection -->
        <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12">
            <div class="row mt-1 ml-2">
                <div class="offset-4 col-4 align-middle text-center">
                    <div class="md-form form-sm m-0 align-middle input-with-pre-icon">
                        <svg height="2em" width="2em" class="input-prefix">
                            <use xlink:href="#svg-helmet"></use>
                        </svg>
                        <input type="number" id="armor-head"
                               class="armor form-control form-control-sm text-center"
                               min="0" value="0">
                        <label for="armor-head" hidden></label>
                    </div>
                    <div data-toggle="tooltip" data-html="true" data-placement="right" title="Touché sur 1">
                        <svg height="4.5em" width="4.5em">
                            <use xlink:href="#svg-head"></use>
                        </svg>
                    </div>
                    <div>
                        <label for="hp-head" hidden></label>
                        <input id="hp-head" class="hp input-slider" data-slider-id="hp-head-slider" type="text"
                               data-slider-min="0" data-slider-max="3" data-slider-step="1"
                               data-slider-value="3" data-slider-handle="custom"/>
                    </div>
                </div>
            </div>
            <div class="row ml-2">
                <div class="col-4 align-middle text-center p-0 m-0">
                    <div class="md-form form-sm m-0 align-middle input-with-pre-icon">
                        <svg height="2em" width="2em" class="input-prefix">
                            <use xlink:href="#svg-right-gauntlet"></use>
                        </svg>
                        <input type="number" id="armor-right-arm"
                               class="armor form-control form-control-sm text-center" min="0" value="0">
                        <label for="armor-right-arm" hidden></label>
                    </div>
                    <label for="hp-right-arm" hidden></label>
                    <input id="hp-right-arm" class="hp input-slider" data-slider-id="hp-right-arm-slider"
                           type="text" data-slider-min="0" data-slider-max="3" data-slider-step="1"
                           data-slider-value="3" data-slider-handle="custom" data-slider-orientation="vertical"
                           data-slider-reversed="true"/>
                    <svg height="4.5em" width="4.5em" data-toggle="tooltip" data-html="true"
                         data-placement="top" title="Touché sur 4 au contact<br/>Touché sur 3 à distance">
                        <use xlink:href="#svg-right-hand"></use>
                    </svg>
                </div>
                <div class="col-4 align-middle text-center p-0 m-0">
                    <div class="md-form form-sm m-0 align-middle input-with-pre-icon">
                        <svg height="2em" width="2em" class="input-prefix">
                            <use xlink:href="#svg-chest-armor"></use>
                        </svg>
                        <input type="number" id="armor-trunk"
                               class="armor form-control form-control-sm text-center"
                               min="0" value="0">
                        <label for="armor-trunk" hidden></label>
                    </div>
                    <div data-toggle="tooltip" data-html="true" data-placement="top"
                         title="Touché sur 2 ou 3 au contact<br/>Touché sur 2 à distance">
                        <svg height="4.5em" width="4.5em">
                            <use xlink:href="#svg-chest"></use>
                        </svg>
                    </div>
                    <label for="hp-trunk" hidden></label>
                    <input id="hp-trunk" class="hp input-slider" data-slider-id="hp-trunk-slider" type="text"
                           data-slider-min="0" data-slider-max="3" data-slider-step="1" data-slider-value="3"
                           data-slider-handle="custom"/>
                </div>
                <div class="col-4 align-middle text-center p-0 m-0">
                    <div class="md-form form-sm m-0 align-middle input-with-pre-icon">
                        <svg height="2em" width="2em" class="input-prefix">
                            <use xlink:href="#svg-left-gauntlet"></use>
                        </svg>
                        <input type="number" id="armor-left-arm"
                               class="armor form-control form-control-sm text-center" min="0" value="0">
                        <label for="armor-left-arm" hidden></label>
                    </div>
                    <svg height="4.5em" width="4.5em" data-toggle="tooltip" data-html="true"
                         data-placement="top" title="Touché sur 5 au contact<br/>Touché sur 4 à distance">
                        <use xlink:href="#svg-left-hand"></use>
                    </svg>
                    <label for="hp-left-arm" hidden></label>
                    <input id="hp-left-arm" class="hp input-slider" data-slider-id="hp-left-arm-slider"
                           type="text"
                           data-slider-min="0" data-slider-max="3" data-slider-step="1" data-slider-value="3"
                           data-slider-handle="custom" data-slider-orientation="vertical"
                           data-slider-reversed="true"/>
                </div>
            </div>
            <div class="row mt-3 ml-2">
                <div class="offset-2 col-4 align-middle text-center px-0">
                    <label for="hp-right-leg" hidden></label>
                    <input id="hp-right-leg" class="hp input-slider" data-slider-id="hp-right-leg-slider"
                           type="text" data-slider-min="0" data-slider-max="3" data-slider-step="1"
                           data-slider-value="3" data-slider-handle="custom" data-slider-orientation="vertical"
                           data-slider-reversed="true"/>
                    <svg height="4.5em" width="4.5em" data-toggle="tooltip" data-html="true"
                         data-placement="top"
                         title="Touché sur 6p au contact<br/>Touché sur 5 à distance">
                        <use xlink:href="#svg-right-foot"></use>
                    </svg>
                    <div class="md-form form-sm m-0 align-middle input-with-pre-icon">
                        <svg height="2em" width="2em" class="input-prefix">
                            <use xlink:href="#svg-right-leg-armor"></use>
                        </svg>
                        <input type="number" id="armor-right-leg"
                               class="armor form-control form-control-sm text-center" min="0" value="0">
                        <label for="armor-right-leg" hidden></label>
                    </div>
                </div>
                <div class="offset-lg-0 offset-md-1 col-4 align-middle text-center px-0">
                    <svg height="4.5em" width="4.5em" data-toggle="tooltip" data-html="true"
                         data-placement="top"
                         title="Touché sur 6i au contact<br/>Touché sur 6 à distance">
                        <use xlink:href="#svg-left-foot"></use>
                    </svg>
                    <label for="hp-left-leg" hidden></label>
                    <input id="hp-left-leg" class="hp input-slider" data-slider-id="hp-left-leg-slider"
                           type="text"
                           data-slider-min="0" data-slider-max="3" data-slider-step="1" data-slider-value="3"
                           data-slider-handle="custom" data-slider-orientation="vertical"
                           data-slider-reversed="true"/>
                    <div class="md-form form-sm m-0 align-middle input-with-pre-icon">
                        <svg height="2em" width="2em" class="input-prefix">
                            <use xlink:href="#svg-left-leg-armor"></use>
                        </svg>
                        <input type="number" id="armor-left-leg"
                               class="armor form-control form-control-sm text-center" min="0" value="0">
                        <label for="armor-left-leg" hidden></label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Protection summary, unease, breath and psychic balance -->
        <div class="offset-1 col-lg-3 col-md-4 mt-5 align-middle">
            <div class="row mb-5">
                Malus de protection:&nbsp;<span id="armor-penalty">0</span>
            </div>
            <div class="row">
                <label for="unease">Malaise (M):&nbsp;
                    <span id="unease-text">pas de malus</span>
                    <span id="unease-value" hidden></span>
                </label>
            </div>
            <div class="row mb-5">
                <input id="unease" data-slider-id="unease-slider" type="text" data-slider-min="0"
                       data-slider-max="4" data-slider-step="1" data-slider-value="0" class="input-slider"
                       data-slider-tooltip-position="bottom"/>
            </div>
            <div class="row clickable btn-link" data-toggle="modal" data-target="#breath-max-update">
                <label class="clickable" for="breath">Souffle (PS)</label>
            </div>
            <div class="row mb-5">
                <input id="breath" data-slider-id="breath-slider" type="text" data-slider-min="0"
                       data-slider-max="4" data-slider-step="1" data-slider-value="4"
                       data-slider-reversed="true"
                       class="input-slider" data-slider-handle="custom" data-slider-tooltip-position="bottom"/>
            </div>
            <div class="row clickable btn-link" data-toggle="modal" data-target="#psychic-max-update">
                <label class="clickable" for="psychic">Équilibre Psychique (EP)</label>
            </div>
            <div class="row">
                <input id="psychic" data-slider-id="psychic-slider" type="text" data-slider-min="0"
                       data-slider-max="4" data-slider-step="1" data-slider-value="4"
                       data-slider-reversed="true"
                       class="input-slider" data-slider-handle="custom" data-slider-tooltip-position="bottom"/>
            </div>
            <div class="row">
                <label for="rest">Jours de repos</label>
            </div>
            <div class="row">
                <input id="rest" data-slider-id="rest-slider" type="text" data-slider-min="0"
                       data-slider-max="7"
                       data-slider-step="1" data-slider-value="0" class="input-slider"
                       data-slider-handle="custom" data-slider-tooltip-position="bottom"/>
            </div>
        </div>
    </div>
</div>
