<div id="superpower-tab" class="tab-pane fade row container-fluid m-0 pt-2">
    <div class="row form-inline md-form col-12 justify-content-center m-0 p-0">
        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        <input id="superpower-search" class="form-control ml-3 w-75" type="text"
               placeholder="Rechercher les noms, les concentrations, les portées, les durées ou les effets"
               aria-label="Search">
    </div>

    <!-- Superpowers -->
    <div class="collapsible-table table-responsive col-12 m-0 p-0" style="overflow-y: hidden !important;">
        <table class="table table-hover m-0 p-0">
            <thead class="m-0 p-0">
            <tr>
                <th scope="col" style="width: 10%">Nom</th>
                <th scope="col" class="text-center" style="width: 2.5%">Formule</th>
                <th scope="col" class="text-center" style="width: 10%">Modificateur composante</th>
                <th scope="col" class="text-center" style="width: 10%">Modificateur moyen</th>
                <th scope="col" class="text-center" style="width: 5%">Valeur</th>
                <th scope="col" class="text-center" style="width: 2.5%">Concentration</th>
                <th scope="col" class="text-center" style="width: 2.5%">Portée</th>
                <th scope="col" class="text-center" style="width: 5%">Durée</th>
                <th scope="col" style="width: 55%">Effet</th>
            </tr>
            </thead>
            <tbody id="superpower-table" class="sortable-list">
            <tr id="superpower-x" class="superpower" hidden>
                <td class="md-form my-0 py-0 align-middle" data-toggle="tooltip" data-placement="bottom" title=""
                    data-title="Nom">
                    <i id="superpower-x-name-handle" class="fa-solid fa-up-down-left-right prefix h-100 d-none d-md-inline"
                       style="width: 1em;"></i>
                    <label for="superpower-x-name"></label>
                    <input id="superpower-x-name" class="form-control" type="text" value="">
                </td>
                <td data-title="Formule" class="my-0 py-0 superpower-formula align-middle">
                    {% with row_type = "superpower", realm_checkbox = False, no_realm = True, row_class = "pl-md-0 pl-4" %}
                        {% include "roll_formula.html" %}
                    {% endwith %}
                </td>
                <td data-title="Modificateur composante" class="md-form my-0 py-0 align-middle">
                    <label for="superpower-x-component-modifier"></label>
                    <input class="form-control text-center" id="superpower-x-component-modifier"
                           type="number" value="0">
                </td>
                <td data-title="Modificateur moyen" class="md-form my-0 py-0 align-middle">
                    <label for="superpower-x-means-modifier"></label>
                    <input class="form-control text-center" id="superpower-x-means-modifier"
                           type="number" value="0">
                </td>
                <td data-title="Valeur" class="my-md-0 py-md-0 py-2 text-center align-middle superpower-value">
                    <span id="superpower-x-nbr-dices">0</span>
                    <span>d6 &le;</span>
                    <span id="superpower-x-under-value">0</span>
                    <span id="superpower-x-dice" class="clickable row-roll-trigger">
                        <i class="fa-solid fa-dice"></i>
                    </span>
                </td>
                <td data-title="Concentration" class="md-form my-0 py-0 align-middle">
                    <input id="superpower-x-time" class="form-control text-center" type="text">
                    <label for="superpower-x-time"></label>
                </td>
                <td data-title="Portée" class="md-form my-0 py-0 align-middle">
                    <input id="superpower-x-distance" class="form-control text-center" type="text">
                    <label for="superpower-x-distance"></label>
                </td>
                <td data-title="Durée" class="md-form my-0 py-0 align-middle">
                    <input id="superpower-x-duration" class="form-control text-center" type="text">
                    <label for="superpower-x-duration"></label>
                </td>
                <td data-title="Effet" class="md-form my-0 py-0 align-middle">
                    <textarea class="md-textarea form-control superpower-effect" id="superpower-x-effect" rows="3"></textarea>
                    <label for="superpower-x-effect"></label>
                </td>
                <td class="md-form m-0 p-0 d-md-none align-middle">
                    <div class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fa-solid fa-up-down-left-right d-md-none"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-12 m-0 p-0">
        <div class="col-lg-2 col-md-4 row">
            <div class="col-6 px-0 mx-0">
                <button id="add-superpower" class="btn btn-success btn-block">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="col-6 px-0 mx-0">
                <div id="superpower-table-remove" class="sortable-list text-center" style="min-height: 50px">
                    <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                            data-html="true" data-placement="bottom"
                            title="Déplacez un élément ici pour le supprimer">
                        <i class="fa-solid fa-trash-can fa-1x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
