<div id="talent-tab" class="tab-pane fade row container-fluid m-0">
    <div class="row form-inline md-form col-12 m-0 p-0 justify-content-center">
        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        <input id="talent-search" class="form-control ml-3 w-75" type="text"
               placeholder="Rechercher dans les talents" aria-label="Search">
    </div>

    <div class="row my-lg-3 justify-content-center">

        <div class="col-lg-3 order-lg-3 mt-lg-0 mt-2">
            <div id="talents_3" class="list-group talent-list sortable-list border border-light rounded-lg">
                {% if intermediate_discovery %}
                    <div class="nav-header disabled text-center"><b>Talents & Spécialité +3</b></div>
                {% else %}
                    <div class="nav-header disabled text-center"><b>3</b></div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-3 order-lg-2 mt-lg-0 mt-2">
            <div id="talents_2" class="list-group talent-list sortable-list border border-light rounded-lg">
                {% if intermediate_discovery %}
                    <div class="nav-header disabled text-center"><b>Talents & Spécialité +2</b></div>
                {% else %}
                    <div class="nav-header disabled text-center"><b>2</b></div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-3 order-lg-1 mt-lg-0 mt-2">
            {% if not intermediate_discovery %}
                <div id="talents_1" class="list-group talent-list sortable-list border border-light rounded-lg">
                    <div class="nav-header disabled text-center"><b>1</b></div>
                </div>
            {% else %}
                <div id="talents_1" class="list-group talent-list sortable-list border border-light rounded-lg">
                    <div class="nav-header disabled text-center"><b>Talents & Spécialité +1</b></div>
                    <div id="talent_1" class="talent list-group-item p-0 m-0"
                         data-html="true" data-placement="right" data-trigger="focus" title="" hidden>
                        <div class="md-form m-0 p-0 input-with-post-icon">
                            <i class="fa-solid fa-up-down-left-right prefix mt-2 ml-1" style="font-size: 1.5em;"></i>
                            <input id="1-name" class="form-control" type="text" value="">
                            <label for="1-name"></label>
                            <i class="input-prefix talent-origin small"></i>
                        </div>
                    </div>
                </div>
                <div class="row col-12 justify-content-center m-0 p-0">
                    <div class="col-6 px-0 mx-0">
                        <button id="add-talent-1" class="btn btn-success btn-block">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-6 px-0 mx-0">
                        <div class="remove-talent sortable-list text-center" style="min-height: 50px">
                            <button class="btn-block btn btn-danger" style="cursor:default;"
                                    data-html="true" data-placement="bottom"
                                    title="Déplacez un talent ici pour le supprimer">
                                <i class="fa-solid fa-trash-can fa-1x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if intermediate_discovery %}
            <div class="col-lg-3 order-lg-0 mt-lg-0 mt-2">
                <div id="talents_0" class="list-group talent-list sortable-list border border-light rounded-lg">
                    <div class="nav-header disabled text-center"><b>Aptitudes</b></div>
                    <div id="talent_0" class="talent list-group-item p-0 m-0"
                         data-html="true" data-placement="right" data-trigger="focus" title="" hidden>
                        <div class="md-form m-0 p-0 input-with-post-icon">
                            <i class="fa-solid fa-up-down-left-right prefix mt-2 ml-1" style="font-size: 1.5em;"></i>
                            <input id="0-name" class="form-control" type="text" value="">
                            <label for="0-name"></label>
                            <i class="input-prefix talent-origin small"></i>
                        </div>
                    </div>
                </div>
                <div class="row col-12 justify-content-center m-0 p-0">
                    <div class="col-6 px-0 mx-0">
                        <button id="add-talent-0" class="btn btn-success btn-block">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-6 px-0 mx-0">
                        <div class="remove-talent sortable-list text-center" style="min-height: 50px">
                            <button class="btn-block btn btn-danger" style="cursor:default;"
                                    data-html="true" data-placement="bottom"
                                    title="Déplacez un talent ici pour le supprimer">
                                <i class="fa-solid fa-trash-can fa-1x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if not intermediate_discovery %}
        <div class="row">
            <div class="col-lg-3 order-lg-3 mt-lg-0 mt-2">
                <div id="talents_0" class="list-group talent-list sortable-list border border-light rounded-lg">
                    <div class="nav-header disabled text-center"><b>0</b></div>
                    <div id="talent_0" class="talent list-group-item p-0 m-0"
                         data-html="true" data-placement="right" data-trigger="focus" title="" hidden>
                        <div class="md-form m-0 p-0 input-with-post-icon">
                            <i class="fa-solid fa-up-down-left-right prefix mt-2 ml-1" style="font-size: 1.5em;"></i>
                            <input id="0-name" class="form-control" type="text" value="">
                            <label for="0-name"></label>
                            <i class="input-prefix talent-origin small"></i>
                        </div>
                    </div>
                </div>
                <div class="row col-12 justify-content-center m-0 p-0">
                    <div class="col-6 px-0 mx-0">
                        <button id="add-talent-0" class="btn btn-success btn-block">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-6 px-0 mx-0">
                        <div class="remove-talent sortable-list text-center" style="min-height: 50px">
                            <button class="btn-block btn btn-danger" style="cursor:default;"
                                    data-html="true" data-placement="bottom"
                                    title="Déplacez un talent ici pour le supprimer">
                                <i class="fa-solid fa-trash-can fa-1x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-2 mt-lg-0 mt-2">
                <div id="talents_-2" class="list-group talent-list sortable-list border border-light rounded-lg">
                    <div class="nav-header disabled text-center"><b>-2</b></div>
                    <div id="talent_-2" class="talent list-group-item p-0 m-0"
                         data-html="true" data-placement="right" data-trigger="focus" title="" hidden>
                        <div class="md-form m-0 p-0 input-with-post-icon">
                            <i class="fa-solid fa-up-down-left-right prefix mt-2 ml-1" style="font-size: 1.5em;"></i>
                            <input id="-2-name" class="form-control" type="text" value="">
                            <label for="-2-name"></label>
                            <i class="input-prefix talent-origin small"></i>
                        </div>
                    </div>
                </div>
                <div class="row col-12 justify-content-center m-0 p-0">
                    <div class="col-6 px-0 mx-0">
                        <button id="add-talent--2" class="btn btn-success btn-block">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-6 px-0 mx-0">
                        <div class="remove-talent sortable-list text-center" style="min-height: 50px">
                            <button class="btn-block btn btn-danger" style="cursor:default;"
                                    data-html="true" data-placement="bottom"
                                    title="Déplacez un talent ici pour le supprimer">
                                <i class="fa-solid fa-trash-can fa-1x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 order-lg-1 mt-lg-0 mt-2">
                <div id="talents_-4" class="list-group talent-list sortable-list border border-light rounded-lg">
                    <div class="nav-header disabled text-center"><b>-4</b></div>
                    <div id="talent_-4" class="talent list-group-item p-0 m-0"
                         data-html="true" data-placement="right" data-trigger="focus" title="" hidden>
                        <div class="md-form m-0 p-0 input-with-post-icon">
                            <i class="fa-solid fa-up-down-left-right prefix mt-2 ml-1" style="font-size: 1.5em;"></i>
                            <input id="-4-name" class="form-control" type="text" value="">
                            <label for="-4-name"></label>
                            <i class="input-prefix talent-origin small"></i>
                        </div>
                    </div>
                </div>
                <div class="row col-12 justify-content-center m-0 p-0">
                    <div class="col-6 px-0 mx-0">
                        <button id="add-talent--4" class="btn btn-success btn-block">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-6 px-0 mx-0">
                        <div class="remove-talent sortable-list text-center" style="min-height: 50px">
                            <button class="btn-block btn btn-danger" style="cursor:default;"
                                    data-html="true" data-placement="bottom"
                                    title="Déplacez un talent ici pour le supprimer">
                                <i class="fa-solid fa-trash-can fa-1x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 order-lg-0 mt-lg-0 mt-2">
                <div id="talents_x" class="list-group talent-list sortable-list border border-light rounded-lg">
                    <div class="nav-header disabled text-center"><b>X</b></div>
                    <div id="talent_x" class="talent list-group-item p-0 m-0"
                         data-html="true" data-placement="right" data-trigger="focus" title="" hidden>
                        <div class="md-form m-0 p-0 input-with-post-icon">
                            <i class="fa-solid fa-up-down-left-right prefix mt-2 ml-1" style="font-size: 1.5em;"></i>
                            <input id="x-name" class="form-control" type="text" value="">
                            <label for="x-name"></label>
                            <i class="input-prefix talent-origin small"></i>
                        </div>
                    </div>
                </div>
                <div class="row col-12 justify-content-center m-0 p-0">
                    <div class="col-6 px-0 mx-0">
                        <button id="add-talent-x" class="btn btn-success btn-block">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-6 px-0 mx-0">
                        <div class="remove-talent sortable-list text-center" style="min-height: 50px">
                            <button class="btn-block btn btn-danger" style="cursor:default;"
                                    data-html="true" data-placement="bottom"
                                    title="Déplacez un talent ici pour le supprimer">
                                <i class="fa-solid fa-trash-can fa-1x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
