<div id="warrior-tab" class="tab-pane fade row container-fluid m-0 pt-2">
    <div class="row form-inline md-form col-12 justify-content-center m-0 p-0">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input id="warrior-search" class="form-control ml-3 w-75" type="text"
               placeholder="Rechercher les pouvoirs, leurs durées ou leurs effets"
               aria-label="Search">
    </div>

    <!-- warrior's ways powers -->
    <div class="row col-12 mt-2 m-0 p-0"><b>Pouvoirs des Voies de la Guerre</b></div>
    <div class="collapsible-table table-responsive col-12 m-0 p-0" style="overflow-y: hidden !important;">
        <table class="table table-hover m-0 p-0">
            <thead class="m-0 p-0">
            <tr>
                <th scope="col" style="width: 10%">Nom</th>
                <th scope="col" class="text-center" style="width: 2.5%">Formule</th>
                <th scope="col" class="text-center" style="width: 2.5%">Énergie</th>
                <th scope="col" class="text-center" style="width: 10%">Difficulté</th>
                <th scope="col" class="text-center" style="width: 5%">Valeur</th>
                <th scope="col" class="text-center" style="width: 5%"></th>
                <th scope="col" class="text-center" style="width: 5%">Durée</th>
                <th scope="col" style="width: 55%">Effet</th>
                <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody id="warrior-table" class="sortable-list">
            <tr id="warrior-x" class="spell" hidden>
                <td data-title="Nom" class="md-form my-0 py-0 align-middle"
                    data-toggle="tooltip" data-placement="bottom" title="">
                    <i id="warrior-x-name-handle" class="fas fa-arrows-alt prefix h-100 d-none d-md-inline"
                       style="font-size: 1.5em;"></i>
                    <label for="warrior-x-name"></label>
                    <input id="warrior-x-name" class="spell-name form-control" type="text" value="">
                </td>
                <td data-title="Formule" class="my-0 py-0 spell-formula align-middle">
                    {% with row_type = "warrior", realm_checkbox = False, row_class = "pl-md-0 pl-3" %}
                        {% include "roll_formula.html" %}
                    {% endwith %}
                </td>
                <td data-title="Énergie" class="my-0 py-0 spell-formula align-middle">
                    <select id="warrior-x-energy" title="Énergie"
                            class="show-tick form-control energy-select selectpicker"
                            data-live-search="true" data-style="col-12 px-3 align-middle" data-max-options="1" multiple>
                    </select>
                </td>
                <td data-title="Difficulté" class="spell-difficulty hide-data-title my-0 py-0 align-middle">
                    <div class="row py-0 my-0 d-none">
                        <div class="text-center col-12 py-0 my-0">
                            <label class="py-0 my-0 spell-difficulty-value"
                                   for="warrior-x-difficulty-input"
                                   id="warrior-x-difficulty">
                                0
                            </label>
                        </div>
                    </div>
                    <div class="row py-0 my-0 spell-difficulty-row d-none">
                        <div class="text-center col-12 py-0 my-0">
                            <input id="warrior-x-difficulty-input"
                                   data-slider-id="warrior-x-difficulty-slider"
                                   type="text" data-slider-min="-4" data-slider-max="3" data-slider-step="1"
                                   data-slider-value="-4" class="input-slider spell-difficulty-input"
                                   data-slider-tooltip="hide"/>
                        </div>
                    </div>
                </td>
                <td data-title="Valeur" class="my-md-0 py-md-0 py-2 text-center align-middle">
                    <div class="m-0 {{ padding }} p-0 spell-value-row">
                        <span id="warrior-x-value" class="spell-value"></span>
                    </div>
                </td>
                <td data-title="&nbsp;" class="my-0 py-0 text-center align-middle">
                    {% for level in range(1, 4) %}
                        {% if level == 1 %}
                            {% set classes = "" %}
                            {% set dice_classes = "" %}
                        {% else %}
                            {% set classes = "mt-3" %}
                            {% set dice_classes = "invisible" %}
                        {% endif %}
                        <div class="m-0 {{ classes }} p-0 warrior-roll-row">
                            <span class="warrior-level-specific">Niv.&nbsp;{{ level }}</span>
                            <span class="{{ dice_classes }} m-0 p-0">
                                <span id="warrior-x-dice-{{ level }}" class="clickable row-roll-trigger" hidden>
                                    <i class="fas fa-dice"></i>
                                </span>
                            </span>
                        </div>
                    {% endfor %}
                </td>
                <td data-title="Durées&#xa;  Niv. 1 &#xa;&#xa;  Niv. 2&#xa;&#xa;  Niv. 3"
                    class="md-form my-0 py-0 align-middle">
                    {% for level in range(1, 4) %}
                        <input id="warrior-x-duration-{{ level }}"
                               class="spell-duration form-control text-center" type="text">
                        <label for="warrior-x-duration-{{ level }}"></label>
                    {% endfor %}
                </td>
                <td data-title="Effets&#xa;  Niv. 1 &#xa;&#xa;  Niv. 2&#xa;&#xa;  Niv. 3"
                    class="md-form my-0 py-0 align-middle">
                    {% for level in range(1, 4) %}
                        <input id="warrior-x-effect-{{ level }}" class="spell-effect form-control" type="text">
                        <label for="warrior-x-effect-{{ level }}"></label>
                    {% endfor %}
                </td>
                <td class="md-form m-0 p-0 align-middle">
                    <div id="warrior-x-show-details" data-toggle="tooltip" data-placement="top"
                         title="Voir les détails du test"
                         class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <div class="btn btn-link rounded-lg mx-0 my-0 py-2 px-2">
                        <i class="fas fa-arrows-alt d-md-none"></i>
                    </div>
                    {% with row_type = "warrior" %}
                        {% include "roll_modal.html" %}
                    {% endwith %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-12 m-0 p-0">
        <div class="col-lg-2 col-md-4 row">
            <div class="col-6 px-0 mx-0">
                <button id="add-warrior" class="btn btn-success btn-block">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <div class="col-6 px-0 mx-0">
                <div id="warrior-table-remove" class="sortable-list text-center" style="min-height: 50px">
                    <button class="btn-block btn btn-danger" style="cursor:default;" data-toggle="tooltip"
                            data-html="true" data-placement="bottom"
                            title="Déplacez un élément ici pour le supprimer">
                        <i class="fas fa-trash-alt fa-1x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
